<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
  <!--<link rel="stylesheet" href="../static/third/adminlte/css/skins/_all-skins.min.css">-->
  <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="../static/third/ionicons/css/ionicons.min.css">-->

  <!--  <link rel="stylesheet" href="../static/third/easyui/themes/material/easyui.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/color.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/icon.css">-->

  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
  <!--<link rel="stylesheet" href="../static/third/easyui/themes/insdep/insdep_theme_default.css">-->
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">



  <link rel="stylesheet" href="../static/css/common.css">
  <title>WA箱损库存监控</title>
  <script src="../static/third/jquery.js"></script>
  <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/third/easyui/jquery.easyui.min.js"></script>
  <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
  <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
  <script src="../static/js/utils.js"></script>
  <script src="../static/js/easyui-extention.js"></script>
  <script src="../static/js/customConfig.js"></script>
</head>
<body class="iframe-body">
<div id="searchPanel_itemAttribute" class="easyui-panel" style="width:100%;height:100%;" >
  <table id="datagrid_itemAttribute" class="table table-celled" style="width:100%;"></table>
</div>

<script src="../static/js/report_data/WABoxDamageNotInStock.js"></script>
</body>
</html>