<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/third/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/third/adminlte/css/AdminLTE.min.css">
        <link rel="stylesheet" href="../../static/third/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_animation.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_plus.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css">
        <link rel="stylesheet" href="../../static/css/common.css">
        <title>权限管理</title>

        <style type="text/css">
            .dlg {
                width: 400px;
                height: 100px;
                padding: 10px;
                margin-top: 20px;
            }

            .easyui-panel {
                overflow-x: show;
            }
            .cententLeft{
                float:left;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
            .btnAdd{
                float:left;
                width:30px;
                height:240px;
                margin:0;
                padding:0;
                border:0;
                text-align:center;
            }
            .cententRight{
                float:right;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
        </style>

    </head>
    <body class="iframe-body">
        <div
            id="searchPanel"
            class="easyui-panel"
            style="width:100%;height:100%;"
            data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,collapsible:false">
            <table id="dataGrid"></table>
        </div>

        <div id="datagridToolbar">
            <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_circle fa fa-map-marker"></div>

            </div>
            <form id="filterForm" class="param-form">
                <div class="search-panel" style="font-size: 12px;">
                    <div class="search-row_nowidth mar_r6px">
                        <span class="search-row-label_80">权限拥有者</span>
                        <select name="role" id="role" class="easyui-combobox" panelheight="auto" style="width: 141px;">
							<option value="1">用户</option>
	    					<option value="2">角色</option>
						</select>
                    </div>
                    <div class="search-row_nowidth mar_r6px">
                        <span class="search-row-label_80">名称</span>
                        <input id="name" name="name" class="easyui-textbox" data-options="prompt:''">
                    </div>
                    <div class="search-row_nowidth mar_r6px">
                        <span class="search-row-label_80">状态</span>
                        <select id="perStatus" name="status" class="easyui-combobox" panelheight="auto" style="width: 141px;"></select>
                    </div>
                </div>

                <a href="javascript:void(0);" id="search" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">查询</a>

            </form>
        </div>

        <div  id="permission"  class="easyui-dialog" style="display:none;width:550px;height:80%;" data-options="buttons:'#bb'"  title="分配权限" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <ul id="treeData"></ul> 
            </div>
        </div>
		<div id="bb" style="width:100%;text-align:center;border:0;">
			<button id="per_Pre" class="easyui-linkbutton">保存</button>
			<button id="per_Close" class="easyui-linkbutton">关闭</button>
		</div>

<!-- 需引入的js -->
<script src="../../static/third/jquery.js"></script>
<script src="../../static/third/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/third/easyui/jquery.easyui.min.js"></script>
<script src="../../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../static/js/utils.js"></script>
<script src="../../static/js/easyui-extention_ws.js"></script>
<script src="../../static/js/customConfig.js"></script>
<!-- 自写的js -->

<script type="text/javascript">
function slideUpSlideClk(t) {
	var $this = $(t);
	if ($this.hasClass('open')) {
		$this.removeClass('open');
		setTimeout(function () {
			$this.addClass('close');
		}, 0);
		$(".search-panel").slideUp();
	} else {
		$this.removeClass('close');
		setTimeout(function () {
			$this.addClass('open');
		}, 0);
		$(".search-panel").slideDown();
	}
	setTimeout(function () {
		$('#dataGrid').datagrid('resize');
	}, 500);
}

	
var datagrid;
$(function () {
	$(".textbox-text").keyup(function(){
		this.value=this.value.replace(/\s+/g,'');
	});

	getStatus();
	$('#permission').dialog('close');

	datagrid = $('#dataGrid').datagrid({
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
	        queryParams: {

	        },
			toolbar: '#datagridToolbar',
	        columns: [
	            [
	    	        {field:'operation',title:'操作',width:'100',align:'center',
	                    formatter : function(value,row, index) {
	                    	return "<a id='oper' href='#' onclick='operation("+row.userId+")'>操作</a>";
	                    }
	    	        },
	            	{field:'userId', title:'用户ID', width:'100', align:'center'},
			        {field:'userName', title:'用户名称', width:'100', align:'center'},
			        {field:'status', title:'状态', width:'100', align:'center',
	                    formatter : function(value) {
	                    	if(value == 1){
	                    		return "有效";
	                    	}
	                    	if(value == 0){
	                    		return "禁用";
	                    	}
	                    	if(value == -1){
	                    		return "删除";
	                    	}
	                    }
			        },
	            ]
	        ]
	    });

});



//点击查询
$('#search').click(function () {
	if($("#role").val()=="1"){
		searchUser();
	}
	if($("#role").val()=="2"){
		searchRole();
	}
});

function searchRole(){
	var roleStatus;
	if($("#perStatus").textbox('getValue')=="ALL"){
        roleStatus = "";
	}else{
        // roleStatus = $("#perStatus").val();
		roleStatus = $("#perStatus").textbox('getValue');
	}
	
	//检索列表构筑
		//生成grid
	    datagrid = $('#dataGrid').datagrid({
	        //url: "/sys/permission/find-owner",
	        url: "/sys/role/find",
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        //onAfterEdit:onAfterEdit,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
	        queryParams: {
	        	 //role:$("#role").val(),
	    	     name:$("#name").textbox("getValue"),
	    	     status:roleStatus
	        },
            toolbar: '#datagridToolbar',
	        columns: [
	            [
	    	        {field:'operation',title:'操作',width:'100',align:'center',
	                    formatter : function(value,row, index) {
	                    	return "<a id='oper' href='#' onclick='operation("+row.roleId+")'>操作</a>";
	                    }
	    	        },
	            	{field:'roleId', title:'角色ID', width:'100', align:'center'},
			        {field:'roleName', title:'角色名称', width:'100', align:'center'},
			        {field:'status', title:'状态', width:'100', align:'center',
	                    formatter : function(value) {
	                    	if(value == 1){
	                    		return "有效";
	                    	}
	                    	if(value == 0){
	                    		return "禁用";
	                    	}
	                    	if(value == -1){
	                    		return "删除";
	                    	}
	                    }
			        },
	            ]
	        ]
	    });
    $('#dataGrid').parent().find("div.datagrid-header-check").children("input[type='checkbox']").eq(0).attr("checked", false);
}

function searchUser(){
	var userStatus;
	if($("#perStatus").textbox('getValue')=="ALL"){
        userStatus = "";
	}else{
        //userStatus = $("#perStatus").val();
		userStatus = $("#perStatus").textbox('getValue');
	}
	console.log(userStatus);
	//检索列表构筑
		//生成grid
	    datagrid = $('#dataGrid').datagrid({
	        //url: "/sys/permission/find-owner",
	        url: "/sys/user/find",
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
	        queryParams: {
	        	 //role:$("#role").val(),
                userName:$("#name").textbox("getValue"),
	    	    status:userStatus
	        },
			toolbar: '#datagridToolbar',
	        columns: [
	            [
	    	        {field:'operation',title:'操作',width:'100',align:'center',
	                    formatter : function(value,row, index) {
	                    	return "<a id='oper' href='#' onclick='operation("+row.userId+")'>操作</a>";
	                    }
	    	        },
	            	{field:'userId', title:'用户ID', width:'100', align:'center'},
			        {field:'userName', title:'用户名称', width:'100', align:'center'},
			        {field:'status', title:'状态', width:'100', align:'center',
	                    formatter : function(value) {
	                    	if(value == 1){
	                    		return "有效";
	                    	}
	                    	if(value == 0){
	                    		return "禁用";
	                    	}
	                    	if(value == -1){
	                    		return "删除";
	                    	}
	                    }
			        },
	            ]
	        ]
	    });
    $('#dataGrid').parent().find("div.datagrid-header-check").children("input[type='checkbox']").eq(0).attr("checked", false);
}

function getStatus(){
	//取得状态
	jQuery.getJSON("/sys/user/getStatus", function(result){
		var count = result.totalCount;
		var dataList = result.data;
		
		//添加全部
		dataList.unshift( {value:'ALL',value_meaning:'全部'});
		console.log(dataList);
		$("#perStatus").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
	});
}

$("#per_Close").click(function () {
	$("#permission").dialog("close");
});

$("#per_Pre").click(function (){
	var nodes = $('#treeData').tree('getChecked');
	var s = '';
	for(var i=0; i<nodes.length; i++){
		if (s != '') s += ',';
		s += nodes[i].id;
	}
//	alert(s);
	jQuery.ajax({
	    url: "/sys/permission/assign",
	    type: "POST",
	    data: {
	    		"ownerId": id,
	    		"ownerType": $("#role").val(),
	    		"ids": s
	    	},success: function (data) {
	    		$("#permission").dialog("close");
	    		tree();
		        $.messager.alert('提示', '分配权限成功', 'info');
		    },error: function (data) {
		    	$.messager.alert('提示', '分配权限失败', 'err');
		    }
	});
});
var id;
function operation (index){
	//var id = null;
//	var row = $('#dataGrid').datagrid('getSelected');
	if($("#role").val()=="1"){
		id = index;
	}
	if($("#role").val()=="2"){
		id = index;
	}
	$("#permission").dialog("open");
	
	tree();
}

function tree(){
	$("#treeData").tree({
		checkbox:true,
		url:"/sys/permission/find-resource-tree",
		lines: true,
		queryParams:{
			ownerId: id,
			ownerType: $("#role").val()
		},loadFilter: function(data){
			return data;
		},onLoadError(arguments){
			$.messager.alert('提示', '权限列表查询异常', 'err');
		}
	});
}
</script>
</body>
</html>