<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/third/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/third/adminlte/css/AdminLTE.min.css">
        <link rel="stylesheet" href="../../static/third/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_animation.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_plus.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css">
        <link rel="stylesheet" href="../../static/css/common.css">
        <title>菜单管理</title>

        <style type="text/css">
            .dlg {
                width: 400px;
                height: 100px;
                padding: 10px;
                margin-top: 20px;
            }

            .easyui-panel {
                overflow-x: show;
            }
            .cententLeft{
                float:left;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
            .btnAdd{
                float:left;
                width:30px;
                height:240px;
                margin:0;
                padding:0;
                border:0;
                text-align:center;
            }
            .cententRight{
                float:right;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
            .param-form {
                padding-bottom: 10px;
            }
        </style>

    </head>
    <body class="iframe-body">
        <div id="searchPanel" class="easyui-panel" style="width:100%;height:100%;" data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,collapsible:false">
            <table id="dataGrid"></table>
        </div>

        <div id="datagridToolbar">
            <form id="filterForm" class="param-form">
                <a href="javascript:void(0);" class="easyui-linkbutton" id="addMg" data-options="iconCls:'icon-add',plain:true">创建业务模块</a>
                <a href="javascript:void(0);" class="easyui-linkbutton" id="addModel" data-options="iconCls:'icon-add',plain:true">创建模块</a>
                <a href="javascript:void(0);" class="easyui-linkbutton" id="addMenu" data-options="iconCls:'icon-add',plain:true">创建菜单项</a>
            </form>
        </div>

        <!--创建业务模块-->
        <div  id="add_Mg"  class="easyui-dialog" style="display:none;width:550px;height:220px;"  title="创建业务模块" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">业务模块名称</span>
                    <input id="mg_name" name="mg_name" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select name="user_Status" id="user_Status" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">排序</span>
                    <input id="mg_order" name="mg_order" class="easyui-numberbox" required="true" data-options="min:0,prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建人</span>
                    <input id="createMgUser" name="createMgUser" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建时间</span>
                    <input id="updateMgTime" name="updateMgTime" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>      
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="mg_pre" class="easyui-linkbutton">保存</button>
                <button id="mg_close" class="easyui-linkbutton">关闭</button>
            </div>
        </div>

        <!--创建模块-->
        <div  id="add_Model"  class="easyui-dialog" style="display:none;width:550px;height:220px;"  title="创建模块" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">模块名称</span>
                    <input id="model_name" name="model_name" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">业务模块</span>
                    <input id="obtainMg" name="obtainMg" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select id="model_status" name="model_status" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">排序</span>
                    <input id="model_order" name="model_order" class="easyui-numberbox" required="true" data-options="min:0,prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建人</span>
                    <input id="createModelUser" name="createModelUser" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建时间</span>
                    <input id="updateModelTime" name="updateModelTime" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>      
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="model_pre" class="easyui-linkbutton">保存</button>
                <button id="model_close" class="easyui-linkbutton">关闭</button>
            </div>
        </div>

        <!--创建菜单项-->
        <div  id="add_Menu"  class="easyui-dialog" style="display:none;width:550px;height:250px;"  title="创建菜单项" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">菜单名称</span>
                    <input id="menu_name" name="menu_name" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select id="menu_status" name="menu_status" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">菜单类型</span>
                    <select id="menu_type" name="menu_type" class="easyui-combobox" panelheight="auto">
                        <option value="1">ExtJS菜单</option>
					    <option value="0">普通菜单</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">排序</span>
                    <input id="menu_order" name="menu_order" class="easyui-numberbox" required="true" data-options="min:0,prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">菜单地址</span>
                    <input id="menu_data" name="menu_data" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建人</span>
                    <input id="createMenuUser" name="createMenuUser" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建时间</span>
                    <input id="updateMenuTime" name="updateMenuTime" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div> 
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="menu_pre" class="easyui-linkbutton">保存</button>
                <button id="menu_close" class="easyui-linkbutton">关闭</button>
            </div>
        </div>

        <!--编辑业务模块-->
        <div  id="edit_Mg"  class="easyui-dialog" style="display:none;width:550px;height:220px;"  title="编辑业务模块" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">业务模块名称</span>
                    <input id="edit_MgName" name="edit_MgName" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select name="edit_MgStatus" id="edit_MgStatus" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">排序</span>
                    <input id="edit_MgOrder" name="edit_MgOrder" class="easyui-numberbox" required="true" data-options="min:0,prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新人</span>
                    <input id="edit_MgUser" name="edit_MgUser" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新时间</span>
                    <input id="edit_MgTime" name="edit_MgTime" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>      
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="edit_MgPre" class="easyui-linkbutton">保存</button>
                <button id="edit_MgClose" class="easyui-linkbutton">关闭</button>
            </div>
        </div>

        <!--编辑模块-->
        <div  id="edit_Model"  class="easyui-dialog" style="display:none;width:550px;height:220px;"  title="编辑模块" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">模块名称</span>
                    <input id="edit_modelName" name="edit_modelName" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select id="edit_modelStatus" name="edit_modelStatus" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">排序</span>
                    <input id="edit_modelOrder" name="edit_modelOrder" class="easyui-numberbox" required="true" data-options="min:0,prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新人</span>
                    <input id="edit_modelUser" name="edit_modelUser" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新时间</span>
                    <input id="edit_modelTime" name="edit_modelTime" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>      
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="edit_modelPre" class="easyui-linkbutton">保存</button>
                <button id="edit_modelClose" class="easyui-linkbutton">关闭</button>
            </div>
        </div>

        <!--编辑菜单项-->
        <div  id="edit_Menu"  class="easyui-dialog" style="display:none;width:550px;height:250px;"  title="编辑菜单项" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">菜单名称</span>
                    <input id="edit_menuName" name="edit_menuName" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select id="edit_menuStatus" name="edit_menuStatus" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">菜单类型</span>
                    <select id="edit_menuType" name="edit_menuType" class="easyui-combobox" panelheight="auto">
                        <option value="1">ExtJS菜单</option>
					    <option value="0">普通菜单</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">排序</span>
                    <input id="edit_menuOrder" name="edit_menuOrder" class="easyui-numberbox" required="true" data-options="min:0,prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">菜单地址</span>
                    <input id="edit_menuData" name="edit_menuData" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新人</span>
                    <input id="edit_menuUser" name="edit_menuUser" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新时间</span>
                    <input id="edit_menuTime" name="edit_menuTime" readonly  unselectable="on" class="easyui-textbox" data-options="prompt:''">
                </div> 
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="edit_menuPre" class="easyui-linkbutton">保存</button>
                <button id="edit_menuClose" class="easyui-linkbutton">关闭</button>
            </div>
        </div>


<!-- 需引入的js -->
<script src="../../static/third/jquery.js"></script>
<script src="../../static/third/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/third/easyui/jquery.easyui.min.js"></script>
<script src="../../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../static/js/utils.js"></script>
<script src="../../static/js/easyui-extention_ws.js"></script>
<script src="../../static/js/customConfig.js"></script>
<!-- 自写的js -->

<script type="text/javascript">

//页面加载
$(function(){
    $(".textbox-text").keyup(function(){
        this.value=this.value.replace(/\s+/g,'');
    });
	//$('#dataGrid').datagrid('hideColumn','menuId');
    $("#add_Mg").panel('close');
	$('#add_Model').panel('close');
	$('#add_Menu').panel('close');
	$('#edit_Model').panel('close');
	$('#edit_Menu').panel('close');
    $('#edit_Mg').panel('close');

    load();
});

//创建业务模块面板
$("#addMg").click(function () {
	$("#add_Mg").dialog('open');
});

//创建模块面板
$("#addModel").click(function () {
	$("#add_Model").dialog('open');
	$("#obtainMg").combobox({
		url:"/menu/getMgMenu",
		valueField:'id',
		textField:'text'
	});
});

//创建菜单项面板
$('#addMenu').click(function(){
	//获取选中行
	var checkedItems = $('#dataGrid').datagrid('getChecked');
    var menuData = new Array();

    $.each(checkedItems, function (index, item) {
        if (item.menuItemType == "mdl") {
        	menuData.push(item);
        }
    });
    
    if (menuData == null || menuData.length == 0) {
    	$.messager.alert('错误', '请在列表中单击鼠标选择一个模块,然后在执行此操作!', 'error');
        return;
    }
    $("#add_Menu").dialog('open');
});

$("#mg_close").click(function () {
    $("#add_Mg").panel('close');
});

$("#model_close").click(function () {
	$('#add_Model').panel('close');
});

$("#menu_close").click(function () {
	$('#add_Menu').panel('close');
});

//创建业务模块提交
$("#mg_pre").click(function () {
    if ($("#mg_name").val() == null || $("#mg_name").val() == ""){
        $.messager.alert("提示","请输入业务模块名称","err");
    } else if ($("#mg_status").val() == "ALL"){
        $.messager.alert("提示","请选择有效状态","err")
    } else if ($("#mg_order").val() == null || $("#mg_order").val() == ""){
        $.messager.alert("提示","请输入业务模块排序","err")
    } else {
        mgSubmit();
    }
});

function mgSubmit() {
    jQuery.ajax({
        url: "/menu/create",
        type: "POST",
        data: {
            "mType": "mg",
            "name": $("#mg_name").val(),
            "orderBy": $("#mg_order").val(),
            "status": $("#mg_status").val()
        },
        success: function (data) {
            $('#add_Mg').panel('close');
            $.messager.alert('提示', '业务模块创建成功', 'info');
        },
        error: function (data) {
            $('#add_Mg').panel('close');
            $.messager.alert('提示', '业务模块创建失败', 'err');
        }
    });
}


//创建模块提交
var mId;
var userId;
$('#model_pre').click(function(){

    if($("#model_name").val() == null || $("#model_name").val() == ""){
        $.messager.alert('提示', '请输入模块名称', 'err');
    } else 	if($("#model_order").val() == null || $("#model_order").val() == ""){
        $.messager.alert('提示', '请输入模块排序', 'err');
    } else 	if($("#model_status").val() == "ALL"){
        $.messager.alert('提示', '请选择有效状态', 'err');
    } else if ($("#obtainMg").combobox('getValue') == null || $("#obtainMg").combobox('getValue') == ""){
        $.messager.alert('提示', '请选择业务模块', 'err');
    } else {
        modelSubmit();
    }

});

function modelSubmit() {
    jQuery.ajax({
        url: "/menu/create",
        type: "POST",
        data: {
            "mType": "mdl",
			"pId":$("#obtainMg").combobox('getValue'),
            "name": $("#model_name").val(),
            "orderBy": $("#model_order").val(),
            "status": $("#model_status").val()
        },
        success: function (data) {
            $.messager.alert('提示', '创建模块之后请立即创建对应下属菜单项，否则模块将会被系统移除', 'error');
            $('#add_Model').panel('close');

            var jsonObj = JSON.parse(data);
            //mId = jsonObj.rows.menuId;
            //userId = jsonObj.sessionId;
            modelAssign(jsonObj.rows);

            //load();
            $.messager.alert('提示', '模块创建成功', 'info');
        },
        error: function (data) {
            $('#add_Model').panel('close');
            $.messager.alert('提示', '模块创建失败', 'err');
        }
    });
}

function modelAssign(data){
	$('#dataGrid').treegrid('append',{
		parent: 0,
		data: [{
			menuId : data.menuId,
			parentId : data.parentId,
			menuName : data.menuName,
			status : data.status,
			orderBy : data.orderBy,
			menuItemType : data.menuItemType,
			menuItemData : data.menuItemData,
			updateUser : data.updateUser,
			updateTime : data.updateTime
		}]
	});
}

//创建菜单项提交
$('#menu_pre').click(function(){

    if($("#menu_name").val() == null || $("#menu_name").val() == ""){
        $.messager.alert('提示', '请输入菜单项名称', 'err');
    } else 	if($("#menu_order").val() == null || $("#menu_order").val() == ""){
        $.messager.alert('提示', '请输入模块排序', 'err');
    } else 	if($("#menu_status").val() == "ALL"){
        $.messager.alert('提示', '请选择有效状态', 'err');
    } else if ($("#menu_data").val() == null || $("#menu_data").val() == ""){
        $.messager.alert('提示', '请输入菜单地址', 'err');
	} else {
        menuSubmit();
	}
	
});

function menuSubmit() {
    var row = $('#dataGrid').datagrid('getSelected');
    var type;
    if($("#menu_type").val() == '1'){
        type = "app";
    }else{
        type = "url";
    }
    jQuery.ajax({
        url: "/menu/create",
        type: "POST",
        data: {
            "pId": row.menuId,
            "mType": type,
            "mData": $("#menu_data").val(),
            "name": $("#menu_name").val(),
            "orderBy": $("#menu_order").val(),
            "status": $("#menu_status").val()
        },
        success: function (data) {
            $('#add_Menu').panel('close');

//            var jsonObj = JSON.parse(data);
//            mId = jsonObj.rows.menuId;
//            userId = jsonObj.sessionId;
//            menuAssign(userId,mId);

            load();
            $.messager.alert('提示', '菜单项创建成功', 'info');
        },
        error: function (data) {
            $('#add_Menu').panel('close');
            $.messager.alert('提示', '菜单项创建失败', 'err');
        }
    });
}

//function menuAssign(uId,mId){
//	jQuery.ajax({
//		url:"/sys/permission/assign",
//		type: "POST",
//		data: {
//    		"ownerId": uId,//当前用户id
//    		"ownerType": 1,//用户1、角色2
//    		"ids": "itm-"+mId//权限id、创建菜单id、模块+mdl-,菜单项+itm-
//		},success: function(){
//			load();
//		}
//	});
//}



/*function getStatus(){
	//取得状态
	jQuery.getJSON("/sys/user/getStatus", function(result){
		//var count = result.totalCount;
		var dataList = result.data;
		//添加全部
		dataList.unshift( {value:'ALL',value_meaning:'全部'});
		$("#model_status").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
		$("#menu_status").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
		$("#edit_modelStatus").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
		$("#edit_menuStatus").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
	});
}*/



function load(){
	$('#dataGrid').treegrid({
		url:"/menu/find",
	    fit: true,
	    lines: true,
	    singleSelect: true,
	    checkOnSelect:true,
	    nowrap: false,
	    idField:'menuId',
		treeField:'menuName',
        toolbar: '#datagridToolbar',
	    columns: [
	        [
    	        {
    	        	field:'operation', 
    	        	title:'操作', 
    	        	width:'100', 
    	        	align:'center',
                    formatter : function(value,row, index) {
//    	        	    console.log(row);
                    	return "<a id='oper' href='#' onclick='operation("+JSON.stringify(row)+")'>操作</a>";
                    }
    	        },
    	        {
    	        	field:'menuId', 
    	        	title:'菜单ID', 
    	        	width:'100', 
    	        	align:'left',
    	        	hidden:true
    	        },
    	        {
    	        	field:'parentId', 
    	        	title:'父菜单ID', 
    	        	width:'100', 
    	        	align:'center',
    	        	hidden:true
    	        },
    	        {
    	        	field:'menuName', 
    	        	title:'菜单名称', 
    	        	width:'400', 
    	        	align:'left',

    	        },
    	        {
    	        	field:'status', 
    	        	title:'状态', 
    	        	width:'100', 
    	        	align:'center',
                    formatter : function(value) {
                    	if(value == 1){
                    		return "有效";
                    	}
                    	if(value == 0){
                    		return "禁用";
                    	}
                    	if(value == -1){
                    		return "删除";
                    	}
                    }
    	        },
    	        {
    	        	field:'orderBy', 
    	        	title:'排序', 
    	        	width:'100', 
    	        	align:'center'
    	        },
    	        {
    	        	field:'menuItemType', 
    	        	title:'菜单类型', 
    	        	width:'100', 
    	        	align:'center',
                    formatter : function(value) {
                    	if(value == "mdl"){
                    		return "模块";
                    	}
                    	if(value == "url"){
                    		return "普通菜单";
                    	}
                    	if(value == "app"){
                    		return "ExtJs菜单";
                    	}
                    }
    	        },
    	        {
    	        	field:'menuItemData', 
    	        	title:'菜单地址', 
    	        	width:'500', 
    	        	align:'center'
    	        },
    	        {
    	        	field:'updateUser', 
    	        	title:'最后更新人', 
    	        	width:'100', 
    	        	align:'center'
    	        },
    	        {
    	        	field:'updateTime', 
    	        	title:'最后更新时间', 
    	        	width:'200', 
    	        	align:'center',
                    formatter : function(value) {
                        var date = new Date(value);
                        var year = date.getFullYear().toString();
                        var month = (date.getMonth() + 1);
                        var day = date.getDate().toString();
                        var hour = date.getHours().toString();
                        var minutes = date.getMinutes().toString();
                        var seconds = date.getSeconds().toString();
                        if (month < 10) {
                            month = "0" + month;
                        }
                        if (day < 10) {
                            day = "0" + day;
                        }
                        if (hour < 10) {
                            hour = "0" + hour;
                        }
                        if (minutes < 10) {
                            minutes = "0" + minutes;
                        }
                        if (seconds < 10) {
                            seconds = "0" + seconds;
                        }
                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
                    }
    	        }
	        ]
	    ]
	});
}

function operation(index){
	//获取选中行   
//	var row = $('#dataGrid').datagrid('getSelected');
//	console.log(index.menuName);
	if(index.menuItemType == "mdl"){
//		$("#edit_Model input").val("");
		$("#edit_Model").dialog('open');
		$("#edit_modelName").textbox('setValue',index.menuName);
		$("#edit_modelStatus").combobox('setValue',index.status);
		$("#edit_modelOrder").textbox('setValue',index.orderBy);
		$("#edit_modelUser").textbox('setValue',index.updateUser);
		$("#edit_modelTime").textbox('setValue',index.updateTime);
		return;
	} else if (index.menuItemType == "mg"){
        $("#edit_Mg").dialog('open');
        $("#edit_MgName").textbox('setValue',index.menuName);
        $("#edit_MgStatus").combobox('setValue',index.status);
        $("#edit_MgOrder").textbox('setValue',index.orderBy);
        $("#edit_MgUser").textbox('setValue',index.updateUser);
        $("#edit_MgTime").textbox('setValue',index.updateTime);
        return
    }
//	$("#edit_Menu input").val("");
	$("#edit_Menu").dialog('open');
	$("#edit_menuName").textbox('setValue',index.menuName);
	$("#edit_menuStatus").combobox('setValue',index.status);
	$("#edit_menuType").textbox('setValue',index.menuItemType);
	$("#edit_menuOrder").textbox('setValue',index.orderBy);
	$("#edit_menuData").textbox('setValue',index.menuItemData);
	$("#edit_menuUser").textbox('setValue',index.updateUser);
	$("#edit_menuTime").textbox('setValue',index.updateTime);
}

//编辑模块提交
$('#edit_modelPre').click(function(){
    if($("#edit_modelName").val() == null || $("#edit_modelName").val() == ""){
        $.messager.alert('提示', '请输入模块名称', 'err');
    } else 	if($("#edit_modelOrder").val() == null || $("#edit_modelOrder").val() == ""){
        $.messager.alert('提示', '请输入模块排序', 'err');
    } else 	if($("#edit_modelStatus").val() == "ALL"){
        $.messager.alert('提示', '请选择有效状态', 'err');
    } else {
        editModelSubmit();
    }
});

function editModelSubmit() {
    var row = $('#dataGrid').datagrid('getSelected');
    jQuery.ajax({
        url: "/menu/update",
        type: "POST",
        data: {
            "mId": row.menuId,
            "mType": row.menuItemType,
            "pId": row.parentId,
            "name": $("#edit_modelName").val(),
            "orderBy": $("#edit_modelOrder").val(),
            "status": $("#edit_modelStatus").val()
        },
        success: function () {
            $('#edit_Model').panel('close');
            load();
            $.messager.alert('提示', '模块编辑成功', 'info');
        },
        error: function () {
            $('#edit_Model').panel('close');
            $.messager.alert('提示', '模块编辑失败', 'err');
        }
    });
}

//编辑菜单项提交
$('#edit_menuPre').click(function(){
    if($("#edit_menuName").val() == null || $("#edit_menuName").val() == ""){
        $.messager.alert('提示', '请输入菜单项名称', 'err');
    } else 	if($("#edit_menuOrder").val() == null || $("#edit_menuOrder").val() == ""){
        $.messager.alert('提示', '请输入模块排序', 'err');
    } else 	if($("#edit_menuStatus").val() == "ALL"){
        $.messager.alert('提示', '请选择有效状态', 'err');
    } else if ($("#edit_menuData").val() == null || $("#edit_menuData").val() == ""){
        $.messager.alert('提示', '请输入菜单地址', 'err');
    } else {
        editMenuSubmit();
    }
});

function editMenuSubmit() {
    var row = $('#dataGrid').datagrid('getSelected');
    var type;
    if($("#edit_menuType").val() == '1'){
        type = "app";
    }else{
        type = "url";
    }
    jQuery.ajax({
        url: "/menu/update",
        type: "POST",
        data: {
            "mId": row.menuId,
            "mType": type,
            "pId": row.parentId,
            "mData": $("#edit_menuData").val(),
            "name": $("#edit_menuName").val(),
            "orderBy": $("#edit_menuOrder").val(),
            "status": $("#edit_menuStatus").val()
        },
        success: function () {
            $('#edit_Menu').panel('close');
            load();
            $.messager.alert('提示', '菜单项编辑成功', 'info');
        },
        error: function () {
            $('#edit_Menu').panel('close');
            $.messager.alert('提示', '菜单项编辑失败', 'err');
        }
    });
}

$("#edit_modelClose").click(function () {
	$('#edit_Model').panel('close');
});

$("#edit_menuClose").click(function () {
	$('#edit_Menu').panel('close');
});

    $("#edit_MgPre").click(function () {
        editMgSubmit();
    });

    $("#edit_MgClose").click(function () {
        $('#edit_Mg').panel('close');
    });

    function editMgSubmit() {
        var row = $('#dataGrid').datagrid('getSelected');
        jQuery.ajax({
            url: "/menu/update",
            type: "POST",
            data: {
                "mId": row.menuId,
                "mType": row.menuItemType,
                "pId": row.parentId,
                "name": $("#edit_MgName").textbox("getValue"),
                "orderBy": $("#edit_MgOrder").val(),
                "status": $("#edit_MgStatus").val()
            },
            success: function () {
                $('#edit_Mg').panel('close');
                load();
                $.messager.alert('提示', '模块编辑成功', 'info');
            },
            error: function () {
                $('#edit_Model').panel('close');
                $.messager.alert('提示', '模块编辑失败', 'err');
            }
        });
    }
        </script>
    </body>
</html>