.datagrid-body .datagrid-editable {
  margin: 0 !important;
}

.datagrid-row select {
  height: 23px;
}

.fee {
  width: 90%;
}

.open-win-icon {
  background: url("../../../img/project/modelplan/top_right_expand.png") right center no-repeat;
  background-size: 16px 16px;
  background-color: #CCE6FF;
  margin-right: 8px;
  cursor: pointer;
}
.width100per{
  width:100%;
}

.grid-span {
  display:inline-block;
  margin-left:10px;
  border-bottom: 1px #999 solid;
}