<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/third/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/third/adminlte/css/AdminLTE.min.css">
        <link rel="stylesheet" href="../../static/third/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_animation.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_plus.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css">
        <link rel="stylesheet" href="../../static/css/common.css">
        <title>到货周配置管理</title>

        <style type="text/css">
            .dlg {
                width: 400px;
                height: 100px;
                padding: 10px;
                margin-top: 20px;
            }

            .easyui-panel {
                overflow-x: show;
            }
            .cententLeft{
                float:left;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
            .btnAdd{
                float:left;
                width:30px;
                height:240px;
                margin:0;
                padding:0;
                border:0;
                text-align:center;
            }
            .cententRight{
                float:right;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
			.param-form {
                padding-bottom: 10px;
            }
        </style>

    </head>
    <body class="iframe-body">
        <div
            id="searchPanel"
            class="easyui-panel"
            style="width:100%;height:100%;"
            data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,collapsible:false">
            <table id="dataGrid"></table>
            ## <div id="msgMask"></div>
            ## <div id="msg">正在处理，请稍待。。。</div>
        </div>

        <div id="datagridToolbar">
            <form id="filterForm" class="param-form">
                <a href="javascript:void(0);" class="easyui-linkbutton" id="search" data-options="iconCls:'icon-search',plain:true">查询</a>
                <a href="javascript:void(0);" class="easyui-linkbutton" id="import" data-options="iconCls:'icon-save',plain:true">保存</a>
            </form>
        </div>
        
<!-- 需引入的js -->
<script src="../../static/third/jquery.js"></script>
<script src="../../static/third/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/third/easyui/jquery.easyui.min.js"></script>
<script src="../../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../static/js/utils.js"></script>
<script src="../../static/js/easyui-extention_ws.js"></script>
<script src="../../static/js/customConfig.js"></script>
<!-- 自写的js -->

<script type="text/javascript">
var dataList;
jQuery.getJSON("/sys/planInDate/getName",function(result){
    dataList = result.data;
});

var datagrid;
$(function () {
	$('#name').change(function(n,o){
		alert("value changed!"); //could not arrive!
	});

	//生成grid
	    datagrid = $('#dataGrid').datagrid({
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        onDblClickCell:onDblClickCell,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
			toolbar: '#datagridToolbar',
	        columns: [
	            [
        	        {
        	        	field:'id', 
        	        	title:'id', 
        	        	width:'200', 
        	        	align:'center',
        	        	hidden:'true'
        	        },
        	        {
        	        	field:'type', 
        	        	title:'业务id', 
        	        	width:'200', 
        	        	align:'center',
        	        	hidden:'true'
        	        },
        	        {
        	        	field:'typeName', 
        	        	title:'业务名称', 
        	        	width:'200', 
        	        	align:'center'
        	        },
			        {
			        	field:'name', 
			        	title:'名称', 
			        	width:'200', 
			        	align:'center',
			        	editor:{type:'combobox',
			        		options:{
			        		valueField:'value',
			        		textField:'value_meaning',
			        		data:dataList,
			        		required:true
			        		}
			        	},
	                    formatter : function(value) {
	                    	if(value == 2){
	                    		return "T+2";
	                    	}
	                    	if(value == 3){
	                    		return "T+3";
	                    	}
	                    	if(value == 4){
	                    		return "T+4";
	                    	}
	                    	if(value == 5){
	                    		return "T+5";
	                    	}
	                    	if(value == 6){
	                    		return "T+6";
	                    	}
	                    }
			        }
	            ]
	        ]
	    });
});


//点击查询
$('#search').click(function () {
		//生成grid
	    datagrid = $('#dataGrid').datagrid({
	       url: "/sys/planInDate/find",
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        onDblClickCell:onDblClickCell,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
			toolbar: '#datagridToolbar',
	        columns: [
	            [
        	        {
        	        	field:'id', 
        	        	title:'id', 
        	        	width:'200', 
        	        	align:'center',
        	        	hidden:'true'
        	        },
        	        {
        	        	field:'type', 
        	        	title:'业务id', 
        	        	width:'200', 
        	        	align:'center',
        	        	hidden:'true'
        	        },
        	        {
        	        	field:'typeName', 
        	        	title:'业务名称', 
        	        	width:'200', 
        	        	align:'center'
        	        },
			        {
			        	field:'name', 
			        	title:'名称', 
			        	width:'200', 
			        	align:'center',
			        	editor:{type:'combobox',
			        		options:{
			        		valueField:'value',
			        		textField:'value_meaning',
			        		data:dataList,
							panelHeight:'auto',
			        		required:true
			        		}
			        	},
	                    formatter : function(value) {
	                    	if(value == 2){
	                    		return "T+2";
	                    	}
	                    	if(value == 3){
	                    		return "T+3";
	                    	}
	                    	if(value == 4){
	                    		return "T+4";
	                    	}
	                    	if(value == 5){
	                    		return "T+5";
	                    	}
	                    	if(value == 6){
	                    		return "T+6";
	                    	}
	                    }
			        }
	            ]
	        ]
	    });

    $('#dataGrid').parent().find("div .datagrid-header-check").children("input[type='checkbox']").eq(0).attr("checked", false);
});

var editIndex = undefined;
function onDblClickCell(index,field,value){
	//启用单元格编辑
	//$("#dataGrid").datagrid('beginEdit', index);
	//var ed = $("#dataGrid").datagrid('getEditor', {index:index,field:field});
	
    if(endEdit()){
    	//给editIndex对象赋值，index为当前行的索引
        editIndex = index;  
        var selectRow = $('#dataGrid').datagrid('selectRow', editIndex);
        //启用单元格编辑  
        selectRow.datagrid('beginEdit', editIndex);  
    }
}

function endEdit() {
	//对editIndex进行判断单元格是否可以编辑
    if(editIndex == undefined) {
    	return true;
    }
      
    if($('#dataGrid').datagrid('validateRow',editIndex)) {
    	//结束当前行编辑
        $('#dataGrid').datagrid('endEdit',editIndex);
        editIndex = undefined;   
        return true;//重置编辑行索引对象，返回true，允许编辑  
     }  
    else {  
        return false;  
    }
}

$("#searchPanel").click(function () {
    $('#dataGrid').datagrid('endEdit',editIndex);
    editIndex = undefined;   
    return true;//重置编辑行索引对象，返回true，允许编辑 
});

$("#import").click(function(){
	var row = $('#dataGrid').datagrid('getSelected');
	jQuery.ajax({
	    url: "/sys/planInDate/update",
	    type: "POST",
	    data: {
	    		"id": row.id,
	    		"type": row.type,
	    		"name": row.name
	    	},
		    success: function (data) {
		        $.messager.alert('提示', '修改成功', 'info');
			    $('#dataGrid').datagrid('load',{
		    	     
			   	});
		    },
		    error: function (data) {
		    	$.messager.alert('提示', '修改失败', 'err');
		    }
	});
});



</script>
</body>
</html>