<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.purchase.data.dao.purchase.PurchaseItemDao">
    <resultMap id="purchaseItemResult" type="com.haier.purchase.data.model.PurchaseItem">
        <result property="poItemId" column="po_item_id"/>
        <result property="poItemNo" column="po_item_no"/>
        <result property="sourceSn" column="source_sn"/>
        <result property="poId" column="po_id"/>
        <result property="sku" column="sku"/>
        <result property="brand" column="brand"/>
        <result property="poQty" column="po_qty"/>
        <result property="inputQty" column="input_qty"/>
        <result property="price" column="price"/>
        <result property="poItemAmount" column="po_item_amount"/>
        <result property="unit" column="unit"/>
        <result property="secCode" column="sec_code"/>
        <result property="itemType" column="item_type"/>
        <result property="sign" column="sign"/>
        <result property="collect" column="collect"/>
        <result property="payStatus" column="pay_status"/>
        <result property="status" column="status"/>
        <result property="inputTime" column="input_time"/>
        <result property="poTime" column="po_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <resultMap id="purchaseItemPDResult" extends="purchaseItemResult" type="com.haier.purchase.data.model.PurchaseItem">
        <result property="productType" column="product_type"/>
        <result property="productTypeName" column="product_type_name"/>
        <result property="rrsSecCode" column="rrs_sec_code"/>
        <result property="machineCode" column="machine_code"/>
        <result property="series" column="series"/>
        <result property="latestRevDate" column="latest_rev_date"/>
        <result property="planSendDate" column="plan_send_date"/>
        <result property="planCustRevDate" column="plan_cust_rev_date"/>
        <result property="custSendDate" column="cust_send_date"/>
        <result property="expectReceiveDate" column="expect_receive_date"/>
        <result property="transitArrivalDate" column="transit_arrival_date"/>
        <result property="tradeSendDate" column="trade_send_date"/>
        <result property="signDate" column="sign_date"/>
        <result property="podDate" column="pod_date"/>
        <result property="transitCode" column="transit_code"/>
        <result property="madeFactoryName" column="made_factory_name"/>
        <result property="madeFactoryCode" column="made_factory_code"/>
        <result property="custRevQty" column="cust_rev_qty"/>
        <result property="abortReason" column="abort_reason"/>
        <result property="gvsOrderCode" column="gvs_order_code"/>
        <result property="gvsDN" column="gvs_dn"/>
        <result property="createOrderToLessDate" column="create_order_to_less_date"/>
        <result property="lesPing" column="les_ping"/>
        <result property="submitDate" column="submit_date"/>
        <result property="orderRevYear" column="order_rev_year"/>
        <result property="orderRevWeekNumber" column="order_rev_week_number"/>
        <result property="custPoDetailCode" column="cust_po_detail_code"/>
        <result property="reviewDate" column="review_date"/>
        <result property="prodDate" column="prod_date"/>
    </resultMap>

 <select id="getPurchaseItemByPoItemNo" parameterType="String" resultMap="purchaseItemResult">
     SELECT
            `po_item_id`,
            `po_item_no`,
            `source_sn`,
            `po_id`,
            `sku`,
            `brand`,
            `po_qty`,
            `input_qty`,
            `price`,
            `unit`,
            `sec_code`,
            `item_type`,
            `sign`,
            `collect`,
            `pay_status`,
            `status`,
            `po_time`,
            `create_time`,
            `update_time`
        FROM `purchase_item`
        WHERE `po_item_no` = #{poItemNo}
        LIMIT 0, 1
    </select>
    
 </mapper>