<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.purchase.data.dao.vehcile.VehicleOrderZqDetailsDao">

	<!-- =========================================================== -->
	<!-- 定义resultMap -->
	<!-- =========================================================== -->
	<resultMap id="vehicleOrderZqDetailsMap"
		type="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		<result column="zq_item_id" property="zqItemId" jdbcType="DECIMAL" />
		<result column="zq_item_no" property="zqItemNo" jdbcType="VARCHAR" />
		<result column="rows" property="rows" jdbcType="DECIMAL" />
		<result column="zq_order_no" property="zqOrderNo" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="materiel_code" property="materielCode"
			jdbcType="VARCHAR" />
		<result column="product_group" property="productGroup"
			jdbcType="VARCHAR" />
		<result column="product_group_name" property="productGroupName"
			jdbcType="VARCHAR" />
		<result column="budget_org" property="budgetOrg" jdbcType="VARCHAR" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="qty" property="qty" jdbcType="DECIMAL" />
		<result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
		<result column="sum_money" property="sumMoney" jdbcType="DECIMAL" />
		<result column="stock_price" property="stockPrice" jdbcType="DECIMAL" />
		<result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
		<result column="act_price" property="actPrice" jdbcType="DECIMAL" />
		<result column="bate_rate" property="bateRate" jdbcType="DECIMAL" />
		<result column="bate_money" property="bateMoney" jdbcType="DECIMAL" />
		<result column="ver_code" property="verCode" jdbcType="VARCHAR" />
		<result column="ver_money" property="verMoney" jdbcType="DECIMAL" />
		<result column="pro_loss_money" property="proLossMoney"
			jdbcType="DECIMAL" />
		<result column="loss_rate" property="lossRate" jdbcType="DECIMAL" />
		<result column="Isfl" property="isfl" jdbcType="DECIMAL" />
		<result column="Iskpo" property="iskpo" jdbcType="DECIMAL" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="volume" property="volume" jdbcType="DECIMAL" />
		<result column="total_volume" property="totalVolume" jdbcType="DECIMAL" />
		<result column="payment_code" property="paymentCode" jdbcType="VARCHAR" />
		<result column="payment_name" property="paymentName" jdbcType="VARCHAR" />
		<result column="relevant_order_no1" property="relevantOrderNo1"
			jdbcType="VARCHAR" />
		<result column="relevant_order_no2" property="relevantOrderNo2"
			jdbcType="VARCHAR" />
		<result column="relevant_order_no3" property="relevantOrderNo3"
			jdbcType="VARCHAR" />
		<result column="relevant_order_no4" property="relevantOrderNo4"
			jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="last_update_by" property="lastUpdateBy"
			jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="DATE" />
		<result column="vbeln_dn5" property="vbelnDn5" jdbcType="VARCHAR" />
	</resultMap>

	<!-- =========================================================== -->
	<!-- 公共变量定义 -->
	<!-- =========================================================== -->
	<!-- oracle 分页头部 -->
	<sql id="pagination_Head">
    <![CDATA[


        select * from ( select row_.*, rownum rownum_ from (


        ]]>
	</sql>
	<!-- oracle 分页尾部 -->
	<sql id="pagination_Tail">
    <![CDATA[


        ) row_ where rownum < (#{pager.page} * #{pager.rows} +1) ) where rownum_ >= ((#{pager.page} -1) * #{pager.rows} +1)


        ]]>
	</sql>
	<!-- count * from -->
	<sql id="count_Start_Head">
    <![CDATA[


        select count(1) from (


        ]]>
	</sql>
	<sql id="count_Start_Tail">
    <![CDATA[


        )


        ]]>
	</sql>
	<sql id="pagination_OrderBy">
		<if test="pager.sort != null and pager.sort !=''">
			ORDER BY ${pager.sort} ${pager.order}
		</if>
	</sql>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		zq_item_id
		,zq_item_no
		,rows
		,zq_order_no
		,status
		,materiel_code
		,product_group
		,product_group_name
		,budget_org
		,brand
		,qty
		,unit_price
		,sum_money
		,stock_price
		,retail_price
		,act_price
		,bate_rate
		,bate_money
		,ver_code
		,ver_money
		,pro_loss_money
		,loss_rate
		,Isfl
		,Iskpo
		,amount
		,volume
		,total_volume
		,payment_code
		,payment_name
		,remark
		,create_by
		,create_time
		,last_update_by
		,last_update_time
		,vbeln_dn5
	</sql>

	<!-- 查询条件 -->
	<sql id="where_fragement">
		where 1=1
		<if test="entity!=null">
			<if test="entity.zqItemId != null and entity.zqItemId !='' ">
                <![CDATA[ and zq_item_id  = #{entity.zqItemId} ]]>
			</if>
			<if test="entity.zqItemNo != null and entity.zqItemNo !='' ">
                <![CDATA[ and zq_item_no  LIKE '%' || #{entity.zqItemNo} ||'%']]>
			</if>
			<if test="entity.rows != null and entity.rows !='' ">
                <![CDATA[ and rows  = #{entity.rows} ]]>
			</if>
			<if test="entity.zqOrderNo != null and entity.zqOrderNo !='' ">
                <![CDATA[ and zq_order_no  LIKE '%' || #{entity.zqOrderNo} ||'%']]>
			</if>
			<if test="entity.status != null and entity.status !='' ">
                <![CDATA[ and status  LIKE '%' || #{entity.status} ||'%']]>
			</if>
			<if test="entity.materielCode != null and entity.materielCode !='' ">
                <![CDATA[ and materiel_code  LIKE '%' || #{entity.materielCode} ||'%']]>
			</if>
			<if test="entity.productGroup != null and entity.productGroup !='' ">
                <![CDATA[ and product_group  LIKE '%' || #{entity.productGroup} ||'%']]>
			</if>
			<if
				test="entity.productGroupName != null and entity.productGroupName !='' ">
                <![CDATA[ and product_group_name  LIKE '%' || #{entity.productGroupName} ||'%']]>
			</if>
			<if test="entity.brand != null and entity.brand !='' ">
                <![CDATA[ and brand  LIKE '%' || #{entity.brand} ||'%']]>
			</if>
			<if test="entity.qty != null and entity.qty !='' ">
                <![CDATA[ and qty  = #{entity.qty} ]]>
			</if>
			<if test="entity.unitPrice != null and entity.unitPrice !='' ">
                <![CDATA[ and unit_price  = #{entity.unitPrice} ]]>
			</if>
			<if test="entity.sumMoney != null and entity.sumMoney !='' ">
                <![CDATA[ and sum_money  = #{entity.sumMoney} ]]>
			</if>
			<if test="entity.stockPrice != null and entity.stockPrice !='' ">
                <![CDATA[ and stock_price  = #{entity.stockPrice} ]]>
			</if>
			<if test="entity.retailPrice != null and entity.retailPrice !='' ">
                <![CDATA[ and retail_price  = #{entity.retailPrice} ]]>
			</if>
			<if test="entity.actPrice != null and entity.actPrice !='' ">
                <![CDATA[ and act_price  = #{entity.actPrice} ]]>
			</if>
			<if test="entity.bateRate != null and entity.bateRate !='' ">
                <![CDATA[ and bate_rate  = #{entity.bateRate} ]]>
			</if>
			<if test="entity.bateMoney != null and entity.bateMoney !='' ">
                <![CDATA[ and bate_money  = #{entity.bateMoney} ]]>
			</if>
			<if test="entity.verCode != null and entity.verCode !='' ">
                <![CDATA[ and ver_code  LIKE '%' || #{entity.verCode} ||'%']]>
			</if>
			<if test="entity.verMoney != null and entity.verMoney !='' ">
                <![CDATA[ and ver_money  = #{entity.verMoney} ]]>
			</if>
			<if test="entity.proLossMoney != null and entity.proLossMoney !='' ">
                <![CDATA[ and pro_loss_money  = #{entity.proLossMoney} ]]>
			</if>
			<if test="entity.lossRate != null and entity.lossRate !='' ">
                <![CDATA[ and loss_rate  = #{entity.lossRate} ]]>
			</if>
			<if test="entity.isfl != null and entity.isfl !='' ">
                <![CDATA[ and Isfl  = #{entity.isfl} ]]>
			</if>
			<if test="entity.iskpo != null and entity.iskpo !='' ">
                <![CDATA[ and Iskpo  = #{entity.iskpo} ]]>
			</if>
			<if test="entity.amount != null and entity.amount !='' ">
                <![CDATA[ and amount  = #{entity.amount} ]]>
			</if>
			<if test="entity.volume != null and entity.volume !='' ">
                <![CDATA[ and volume  = #{entity.volume} ]]>
			</if>
			<if test="entity.totalVolume != null and entity.totalVolume !='' ">
                <![CDATA[ and total_volume  = #{entity.totalVolume} ]]>
			</if>
			<if test="entity.paymentCode != null and entity.paymentCode !='' ">
                <![CDATA[ and payment_code  LIKE '%' || #{entity.paymentCode} ||'%']]>
			</if>
			<if test="entity.paymentName != null and entity.paymentName !='' ">
                <![CDATA[ and payment_name  LIKE '%' || #{entity.paymentName} ||'%']]>
			</if>
			<if test="entity.remark != null and entity.remark !='' ">
                <![CDATA[ and remark  LIKE '%' || #{entity.remark} ||'%']]>
			</if>
			<if test="entity.createBy != null and entity.createBy !='' ">
                <![CDATA[ and create_by  LIKE '%' || #{entity.createBy} ||'%']]>
			</if>
			<if test="entity.createTime != null ">
                <![CDATA[ and create_time  = #{entity.createTime} ]]>
			</if>
			<if test="entity.lastUpdateBy != null and entity.lastUpdateBy !='' ">
                <![CDATA[ and last_update_by  LIKE '%' || #{entity.lastUpdateBy} ||'%']]>
			</if>
			<if test="entity.lastUpdateTime != null ">
                <![CDATA[ and last_update_time  = #{entity.lastUpdateTime} ]]>
			</if>
		</if>
	</sql>

	<!-- 相等查询条件 -->
	<sql id="where_fragement_equals">
		where 1=1
		<if test="entity!=null">
			<if test="entity.zqItemId != null and entity.zqItemId !='' ">
                <![CDATA[ and zq_item_id  = #{entity.zqItemId} ]]>
			</if>
			<if test="entity.zqItemNo != null and entity.zqItemNo !='' ">
                <![CDATA[ and zq_item_no  = #{entity.zqItemNo} ]]>
			</if>
			<if test="entity.rows != null and entity.rows !='' ">
                <![CDATA[ and rows  = #{entity.rows} ]]>
			</if>
			<if test="entity.zqOrderNo != null and entity.zqOrderNo !='' ">
                <![CDATA[ and zq_order_no  = #{entity.zqOrderNo} ]]>
			</if>
			<if test="entity.status != null and entity.status !='' ">
                <![CDATA[ and status  = #{entity.status} ]]>
			</if>
			<if test="entity.materielCode != null and entity.materielCode !='' ">
                <![CDATA[ and materiel_code  = #{entity.materielCode} ]]>
			</if>
			<if test="entity.productGroup != null and entity.productGroup !='' ">
                <![CDATA[ and product_group  = #{entity.productGroup} ]]>
			</if>
			<if
				test="entity.productGroupName != null and entity.productGroupName !='' ">
                <![CDATA[ and product_group_name  = #{entity.productGroupName} ]]>
			</if>
			<if test="entity.brand != null and entity.brand !='' ">
                <![CDATA[ and brand  = #{entity.brand} ]]>
			</if>
			<if test="entity.qty != null and entity.qty !='' ">
                <![CDATA[ and qty  = #{entity.qty} ]]>
			</if>
			<if test="entity.unitPrice != null and entity.unitPrice !='' ">
                <![CDATA[ and unit_price  = #{entity.unitPrice} ]]>
			</if>
			<if test="entity.sumMoney != null and entity.sumMoney !='' ">
                <![CDATA[ and sum_money  = #{entity.sumMoney} ]]>
			</if>
			<if test="entity.stockPrice != null and entity.stockPrice !='' ">
                <![CDATA[ and stock_price  = #{entity.stockPrice} ]]>
			</if>
			<if test="entity.retailPrice != null and entity.retailPrice !='' ">
                <![CDATA[ and retail_price  = #{entity.retailPrice} ]]>
			</if>
			<if test="entity.actPrice != null and entity.actPrice !='' ">
                <![CDATA[ and act_price  = #{entity.actPrice} ]]>
			</if>
			<if test="entity.bateRate != null and entity.bateRate !='' ">
                <![CDATA[ and bate_rate  = #{entity.bateRate} ]]>
			</if>
			<if test="entity.bateMoney != null and entity.bateMoney !='' ">
                <![CDATA[ and bate_money  = #{entity.bateMoney} ]]>
			</if>
			<if test="entity.verCode != null and entity.verCode !='' ">
                <![CDATA[ and ver_code  = #{entity.verCode} ]]>
			</if>
			<if test="entity.verMoney != null and entity.verMoney !='' ">
                <![CDATA[ and ver_money  = #{entity.verMoney} ]]>
			</if>
			<if test="entity.proLossMoney != null and entity.proLossMoney !='' ">
                <![CDATA[ and pro_loss_money  = #{entity.proLossMoney} ]]>
			</if>
			<if test="entity.lossRate != null and entity.lossRate !='' ">
                <![CDATA[ and loss_rate  = #{entity.lossRate} ]]>
			</if>
			<if test="entity.isfl != null and entity.isfl !='' ">
                <![CDATA[ and Isfl  = #{entity.isfl} ]]>
			</if>
			<if test="entity.iskpo != null and entity.iskpo !='' ">
                <![CDATA[ and Iskpo  = #{entity.iskpo} ]]>
			</if>
			<if test="entity.amount != null and entity.amount !='' ">
                <![CDATA[ and amount  = #{entity.amount} ]]>
			</if>
			<if test="entity.volume != null and entity.volume !='' ">
                <![CDATA[ and volume  = #{entity.volume} ]]>
			</if>
			<if test="entity.totalVolume != null and entity.totalVolume !='' ">
                <![CDATA[ and total_volume  = #{entity.totalVolume} ]]>
			</if>
			<if test="entity.paymentCode != null and entity.paymentCode !='' ">
                <![CDATA[ and payment_code  = #{entity.paymentCode} ]]>
			</if>
			<if test="entity.paymentName != null and entity.paymentName !='' ">
                <![CDATA[ and payment_name  = #{entity.paymentName} ]]>
			</if>
			<if test="entity.remark != null and entity.remark !='' ">
                <![CDATA[ and remark  = #{entity.remark} ]]>
			</if>
			<if test="entity.createBy != null and entity.createBy !='' ">
                <![CDATA[ and create_by  = #{entity.createBy} ]]>
			</if>
			<if test="entity.createTime != null ">
                <![CDATA[ and create_time  = #{entity.createTime} ]]>
			</if>
			<if test="entity.lastUpdateBy != null and entity.lastUpdateBy !='' ">
                <![CDATA[ and last_update_by  = #{entity.lastUpdateBy} ]]>
			</if>
			<if test="entity.lastUpdateTime != null ">
                <![CDATA[ and last_update_time  = #{entity.lastUpdateTime} ]]>
			</if>
		</if>
	</sql>

	<!-- =========================================================== -->
	<!-- Mapper中的基本增删改查方法 -->
	<!-- =========================================================== -->

	<!-- 根据id查询 -->
	<select id="getOneById" resultMap="vehicleOrderZqDetailsMap"
		parameterType="Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM vehicle_order_zq_details
		WHERE ID = #{id}
	</select>

	<!-- 根据Condition查询 -->
	<select id="getOneByCondition" resultMap="vehicleOrderZqDetailsMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM vehicle_order_zq_details
		<include refid="where_fragement_equals" />
	</select>


	<!-- 查询page -->
	<select id="getPageByCondition" resultMap="vehicleOrderZqDetailsMap">
		<include refid="pagination_Head" />
		SELECT
		<include refid="Base_Column_List" />
		FROM vehicle_order_zq_details
		<include refid="where_fragement" />
		<include refid="pagination_OrderBy" />
		<include refid="pagination_Tail" />
	</select>

	<!--查询总条数 -->
	<select id="countByCondition"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO"
		resultType="long">
		<include refid="count_Start_Head" />
		SELECT
		<include refid="Base_Column_List" />
		FROM vehicle_order_zq_details
		<include refid="where_fragement" />
		<include refid="count_Start_Tail" />
	</select>

	<!-- 查询list -->
	<select id="listByCondition" resultMap="vehicleOrderZqDetailsMap"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		SELECT
		<include refid="Base_Column_List" />
		FROM vehicle_order_zq_details
		<include refid="where_fragement_equals" />
		order by rows asc
	</select>
	<!-- 根据orderNo获取zq子表信息 -->
	<select id="getListByOrderNo" resultMap = "vehicleOrderZqDetailsMap" parameterType="String">
		SELECT 
		<include refid="Base_Column_List" />
		FROM vehicle_order_zq_details
		where zq_order_no = (
			SELECT zq_order_no from vehicle_order_zq
			where order_no = #{orderNo}
		)
	
	</select>
	<!-- 根据状态查询list -->
	<select id="selectByStatus" resultMap="vehicleOrderZqDetailsMap">
		SELECT zq_item_no
		FROM
		vehicle_order_zq_details ozd 
		where ozd.status != '12'
		AND remark = 'S'
	</select>
	<!-- 插入全字段 -->
	<insert id="insertAllColumn"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		INSERT INTO vehicle_order_zq_details (
		<include refid="Base_Column_List" />
		)VALUES(
		#{zqItemId,jdbcType=DECIMAL}
		,#{zqItemNo,jdbcType=VARCHAR}
		,#{rows,jdbcType=DECIMAL}
		,#{zqOrderNo,jdbcType=VARCHAR}
		,#{status,jdbcType=VARCHAR}
		,#{materielCode,jdbcType=VARCHAR}
		,#{productGroup,jdbcType=VARCHAR}
		,#{productGroupName,jdbcType=VARCHAR}
		,#{brand,jdbcType=VARCHAR}
		,#{qty,jdbcType=DECIMAL}
		,#{unitPrice,jdbcType=DECIMAL}
		,#{sumMoney,jdbcType=DECIMAL}
		,#{stockPrice,jdbcType=DECIMAL}
		,#{retailPrice,jdbcType=DECIMAL}
		,#{actPrice,jdbcType=DECIMAL}
		,#{bateRate,jdbcType=DECIMAL}
		,#{bateMoney,jdbcType=DECIMAL}
		,#{verCode,jdbcType=VARCHAR}
		,#{verMoney,jdbcType=DECIMAL}
		,#{proLossMoney,jdbcType=DECIMAL}
		,#{lossRate,jdbcType=DECIMAL}
		,#{isfl,jdbcType=DECIMAL}
		,#{iskpo,jdbcType=DECIMAL}
		,#{amount,jdbcType=DECIMAL}
		,#{volume,jdbcType=DECIMAL}
		,#{totalVolume,jdbcType=DECIMAL}
		,#{paymentCode,jdbcType=VARCHAR}
		,#{paymentName,jdbcType=VARCHAR}
		,#{remark,jdbcType=VARCHAR}
		,#{createBy,jdbcType=VARCHAR}
		,#{createTime,jdbcType=DATE}
		,#{lastUpdateBy,jdbcType=VARCHAR}
		,#{lastUpdateTime,jdbcType=DATE}
		)
	</insert>

	<!-- 插入非空字段 -->
	<insert id="insertSelective"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		INSERT INTO vehicle_order_zq_details
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if
				test="zqOrderNo != null and zqOrderNo !='' and productGroup != null and productGroup !='' ">
				budget_org,
			</if>
			<if test="zqItemNo != null and zqItemNo !='' ">
                <![CDATA[ zq_item_no, ]]>
			</if>
			<if test="rows != null and rows !='' ">
                <![CDATA[ rows, ]]>
			</if>
			<if test="zqOrderNo != null and zqOrderNo !='' ">
                <![CDATA[ zq_order_no, ]]>
			</if>
			<if test="status != null and status !='' ">
                <![CDATA[ status, ]]>
			</if>
			<if test="materielCode != null and materielCode !='' ">
                <![CDATA[ materiel_code, ]]>
			</if>
			<if test="productGroup != null and productGroup !='' ">
                <![CDATA[ product_group, ]]>
			</if>
			<if test="productGroupName != null and productGroupName !='' ">
                <![CDATA[ product_group_name, ]]>
			</if>
			<if test="brand != null and brand !='' ">
                <![CDATA[ brand, ]]>
			</if>
			<if test="qty != null and qty !='' ">
                <![CDATA[ qty, ]]>
			</if>
			<if test="unitPrice != null and unitPrice !='' ">
                <![CDATA[ unit_price, ]]>
			</if>
			<if test="sumMoney != null and sumMoney !='' ">
                <![CDATA[ sum_money, ]]>
			</if>
			<if test="stockPrice != null and stockPrice !='' ">
                <![CDATA[ stock_price, ]]>
			</if>
			<if test="retailPrice != null and retailPrice !='' ">
                <![CDATA[ retail_price, ]]>
			</if>
			<if test="actPrice != null and actPrice !='' ">
                <![CDATA[ act_price, ]]>
			</if>
			<if test="bateRate != null and bateRate !='' ">
                <![CDATA[ bate_rate, ]]>
			</if>
			<if test="bateMoney != null and bateMoney !='' ">
                <![CDATA[ bate_money, ]]>
			</if>
			<if test="verCode != null and verCode !='' ">
                <![CDATA[ ver_code, ]]>
			</if>
			<if test="verMoney != null and verMoney !='' ">
                <![CDATA[ ver_money, ]]>
			</if>
			<if test="proLossMoney != null and proLossMoney !='' ">
                <![CDATA[ pro_loss_money, ]]>
			</if>
			<if test="lossRate != null and lossRate !='' ">
                <![CDATA[ loss_rate, ]]>
			</if>
			<if test="isfl != null and isfl !='' ">
                <![CDATA[ Isfl, ]]>
			</if>
			<if test="iskpo != null and iskpo !='' ">
                <![CDATA[ Iskpo, ]]>
			</if>
			<if test="amount != null and amount !='' ">
                <![CDATA[ amount, ]]>
			</if>
			<if test="volume != null and volume !='' ">
                <![CDATA[ volume, ]]>
			</if>
			<if test="totalVolume != null and totalVolume !='' ">
                <![CDATA[ total_volume, ]]>
			</if>
			<if test="paymentCode != null and paymentCode !='' ">
                <![CDATA[ payment_code, ]]>
			</if>
			<if test="paymentName != null and paymentName !='' ">
                <![CDATA[ payment_name, ]]>
			</if>
			<if test="remark != null and remark !='' ">
                <![CDATA[ remark, ]]>
			</if>
			<if test="createBy != null and createBy !='' ">
                <![CDATA[ create_by, ]]>
			</if>
			<if test="createTime != null ">
                <![CDATA[ create_time, ]]>
			</if>
			<if test="lastUpdateBy != null and lastUpdateBy !='' ">
                <![CDATA[ last_update_by, ]]>
			</if>
			<if test="lastUpdateTime != null ">
                <![CDATA[ last_update_time, ]]>
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if
				test="zqOrderNo != null and zqOrderNo !='' and productGroup != null and productGroup !='' ">
				(select budget_org_code from budget_org_info boi where
				boi.product_group=#{productGroup,jdbcType=VARCHAR} and boi.area_code
				= (select area_code from
				vehicle_order_zq where
				zq_order_no=#{zqOrderNo,jdbcType=VARCHAR} limit 1)),
			</if>
			<if test="zqItemNo != null and zqItemNo !='' ">
                <![CDATA[ #{zqItemNo,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="rows != null and rows !='' ">
                <![CDATA[ #{rows,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="zqOrderNo != null and zqOrderNo !='' ">
                <![CDATA[ #{zqOrderNo,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="status != null and status !='' ">
                <![CDATA[ #{status,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="materielCode != null and materielCode !='' ">
                <![CDATA[ #{materielCode,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="productGroup != null and productGroup !='' ">
                <![CDATA[ #{productGroup,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="productGroupName != null and productGroupName !='' ">
                <![CDATA[ #{productGroupName,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="brand != null and brand !='' ">
                <![CDATA[ #{brand,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="qty != null and qty !='' ">
                <![CDATA[ #{qty,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="unitPrice != null and unitPrice !='' ">
                <![CDATA[ #{unitPrice,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="sumMoney != null and sumMoney !='' ">
                <![CDATA[ #{sumMoney,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="stockPrice != null and stockPrice !='' ">
                <![CDATA[ #{stockPrice,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="retailPrice != null and retailPrice !='' ">
                <![CDATA[ #{retailPrice,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="actPrice != null and actPrice !='' ">
                <![CDATA[ #{actPrice,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="bateRate != null and bateRate !='' ">
                <![CDATA[ #{bateRate,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="bateMoney != null and bateMoney !='' ">
                <![CDATA[ #{bateMoney,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="verCode != null and verCode !='' ">
                <![CDATA[ #{verCode,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="verMoney != null and verMoney !='' ">
                <![CDATA[ #{verMoney,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="proLossMoney != null and proLossMoney !='' ">
                <![CDATA[ #{proLossMoney,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="lossRate != null and lossRate !='' ">
                <![CDATA[ #{lossRate,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="isfl != null and isfl !='' ">
                <![CDATA[ #{isfl,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="iskpo != null and iskpo !='' ">
                <![CDATA[ #{iskpo,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="amount != null and amount !='' ">
                <![CDATA[ #{amount,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="volume != null and volume !='' ">
                <![CDATA[ #{volume,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="totalVolume != null and totalVolume !='' ">
                <![CDATA[ #{totalVolume,jdbcType=DECIMAL}, ]]>
			</if>
			<if test="paymentCode != null and paymentCode !='' ">
                <![CDATA[ #{paymentCode,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="paymentName != null and paymentName !='' ">
                <![CDATA[ #{paymentName,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="remark != null and remark !='' ">
                <![CDATA[ #{remark,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="createBy != null and createBy !='' ">
                <![CDATA[ #{createBy,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="createTime != null ">
                <![CDATA[ #{createTime,jdbcType=DATE}, ]]>
			</if>
			<if test="lastUpdateBy != null and lastUpdateBy !='' ">
                <![CDATA[ #{lastUpdateBy,jdbcType=VARCHAR}, ]]>
			</if>
			<if test="lastUpdateTime != null ">
                <![CDATA[ #{lastUpdateTime,jdbcType=DATE}, ]]>
			</if>
		</trim>
	</insert>

	<!-- 逻辑删除,根据主键设置active_flag ='0' -->
	<update id="deleteLogicalById"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		UPDATE vehicle_order_zq_details
		SET ACTIVE_FLAG = '0'
		,LAST_UPD_BY = #{entity.lastUpdBy,jdbcType=VARCHAR}
		,LAST_UPD_DATE =
		#{entity.lastUpdDate,jdbcType=DATE}
		,REMARK =
		#{entity.remark,jdbcType=VARCHAR}
		WHERE ID = #{entity.id}
	</update>

	<!-- 逻辑删除,根据主键batch设置active_flag ='0' -->
	<update id="deleteLogicalBatchByIds">
		UPDATE vehicle_order_zq_details
		SET ACTIVE_FLAG = '0'
		,LAST_UPD_BY =
		#{entity.lastUpdBy,jdbcType=VARCHAR}
		,LAST_UPD_DATE =
		#{entity.lastUpdDate,jdbcType=DATE}
		,REMARK =
		#{entity.remark,jdbcType=VARCHAR}
		WHERE ID IN
		<foreach collection="ids" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</update>

	<!-- 修改有值列 -->
	<update id="updateSelectiveById"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		UPDATE vehicle_order_zq_details
		<set>
			<if test="entity!=null">
				<if test="entity.zqItemId != null and entity.zqItemId !='' ">
                    <![CDATA[ zq_item_id = #{entity.zqItemId}, ]]>
				</if>
				<if test="entity.zqItemNo != null and entity.zqItemNo !='' ">
                    <![CDATA[ zq_item_no = #{entity.zqItemNo}, ]]>
				</if>
				<if test="entity.rows != null and entity.rows !='' ">
                    <![CDATA[ rows = #{entity.rows}, ]]>
				</if>
				<if test="entity.zqOrderNo != null and entity.zqOrderNo !='' ">
                    <![CDATA[ zq_order_no = #{entity.zqOrderNo}, ]]>
				</if>
				<if test="entity.status != null and entity.status !='' ">
                    <![CDATA[ status = #{entity.status}, ]]>
				</if>
				<if test="entity.materielCode != null and entity.materielCode !='' ">
                    <![CDATA[ materiel_code = #{entity.materielCode}, ]]>
				</if>
				<if test="entity.productGroup != null and entity.productGroup !='' ">
                    <![CDATA[ product_group = #{entity.productGroup}, ]]>
				</if>
				<if
					test="entity.productGroupName != null and entity.productGroupName !='' ">
                    <![CDATA[ product_group_name = #{entity.productGroupName}, ]]>
				</if>
				<if test="entity.brand != null and entity.brand !='' ">
                    <![CDATA[ brand = #{entity.brand}, ]]>
				</if>
				<if test="entity.qty != null and entity.qty !='' ">
                    <![CDATA[ qty = #{entity.qty}, ]]>
				</if>
				<if test="entity.unitPrice != null and entity.unitPrice !='' ">
                    <![CDATA[ unit_price = #{entity.unitPrice}, ]]>
				</if>
				<if test="entity.sumMoney != null and entity.sumMoney !='' ">
                    <![CDATA[ sum_money = #{entity.sumMoney}, ]]>
				</if>
				<if test="entity.stockPrice != null and entity.stockPrice !='' ">
                    <![CDATA[ stock_price = #{entity.stockPrice}, ]]>
				</if>
				<if test="entity.retailPrice != null and entity.retailPrice !='' ">
                    <![CDATA[ retail_price = #{entity.retailPrice}, ]]>
				</if>
				<if test="entity.actPrice != null and entity.actPrice !='' ">
                    <![CDATA[ act_price = #{entity.actPrice}, ]]>
				</if>
				<if test="entity.bateRate != null and entity.bateRate !='' ">
                    <![CDATA[ bate_rate = #{entity.bateRate}, ]]>
				</if>
				<if test="entity.bateMoney != null and entity.bateMoney !='' ">
                    <![CDATA[ bate_money = #{entity.bateMoney}, ]]>
				</if>
				<if test="entity.verCode != null and entity.verCode !='' ">
                    <![CDATA[ ver_code = #{entity.verCode}, ]]>
				</if>
				<if test="entity.verMoney != null and entity.verMoney !='' ">
                    <![CDATA[ ver_money = #{entity.verMoney}, ]]>
				</if>
				<if test="entity.proLossMoney != null and entity.proLossMoney !='' ">
                    <![CDATA[ pro_loss_money = #{entity.proLossMoney}, ]]>
				</if>
				<if test="entity.lossRate != null and entity.lossRate !='' ">
                    <![CDATA[ loss_rate = #{entity.lossRate}, ]]>
				</if>
				<if test="entity.isfl != null and entity.isfl !='' ">
                    <![CDATA[ Isfl = #{entity.isfl}, ]]>
				</if>
				<if test="entity.iskpo != null and entity.iskpo !='' ">
                    <![CDATA[ Iskpo = #{entity.iskpo}, ]]>
				</if>
				<if test="entity.amount != null and entity.amount !='' ">
                    <![CDATA[ amount = #{entity.amount}, ]]>
				</if>
				<if test="entity.volume != null and entity.volume !='' ">
                    <![CDATA[ volume = #{entity.volume}, ]]>
				</if>
				<if test="entity.totalVolume != null and entity.totalVolume !='' ">
                    <![CDATA[ total_volume = #{entity.totalVolume}, ]]>
				</if>
				<if test="entity.paymentCode != null and entity.paymentCode !='' ">
                    <![CDATA[ payment_code = #{entity.paymentCode}, ]]>
				</if>
				<if test="entity.paymentName != null and entity.paymentName !='' ">
                    <![CDATA[ payment_name = #{entity.paymentName}, ]]>
				</if>
				<if test="entity.remark != null and entity.remark !='' ">
                    <![CDATA[ remark = #{entity.remark}, ]]>
				</if>
				<if test="entity.createBy != null and entity.createBy !='' ">
                    <![CDATA[ create_by = #{entity.createBy}, ]]>
				</if>
				<if test="entity.createTime != null ">
                    <![CDATA[ create_time = #{entity.createTime}, ]]>
				</if>
				<if test="entity.lastUpdateBy != null and entity.lastUpdateBy !='' ">
                    <![CDATA[ last_update_by = #{entity.lastUpdateBy}, ]]>
				</if>
				<if test="entity.lastUpdateTime != null ">
                    <![CDATA[ last_update_time = #{entity.lastUpdateTime}, ]]>
				</if>
			</if>
		</set>
		WHERE ID = #{entity.id}
	</update>

	<!-- 修改有值列 -->
	<update id="updateSelectiveByZqItemNo"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		UPDATE vehicle_order_zq_details
		<set>
			<if test="entity!=null">
				<if test="entity.zqItemNo != null and entity.zqItemNo !='' ">
                    <![CDATA[ zq_item_no = #{entity.zqItemNo}, ]]>
				</if>
				<if test="entity.rows != null and entity.rows !='' ">
                    <![CDATA[ rows = #{entity.rows}, ]]>
				</if>
				<if test="entity.zqOrderNo != null and entity.zqOrderNo !='' ">
                    <![CDATA[ zq_order_no = #{entity.zqOrderNo}, ]]>
				</if>
				<if test="entity.status != null and entity.status !='' ">
                    <![CDATA[ status = #{entity.status}, ]]>
				</if>
				<if test="entity.materielCode != null and entity.materielCode !='' ">
                    <![CDATA[ materiel_code = #{entity.materielCode}, ]]>
				</if>
				<if test="entity.productGroup != null and entity.productGroup !='' ">
                    <![CDATA[ product_group = #{entity.productGroup}, ]]>
				</if>
				<if
					test="entity.productGroupName != null and entity.productGroupName !='' ">
                    <![CDATA[ product_group_name = #{entity.productGroupName}, ]]>
				</if>
				<if test="entity.brand != null and entity.brand !='' ">
                    <![CDATA[ brand = #{entity.brand}, ]]>
				</if>
				<if test="entity.qty != null and entity.qty !='' ">
                    <![CDATA[ qty = #{entity.qty}, ]]>
				</if>
				<if test="entity.unitPrice != null and entity.unitPrice !='' ">
                    <![CDATA[ unit_price = #{entity.unitPrice}, ]]>
				</if>
				<if test="entity.sumMoney != null and entity.sumMoney !='' ">
                    <![CDATA[ sum_money = #{entity.sumMoney}, ]]>
				</if>
				<if test="entity.stockPrice != null and entity.stockPrice !='' ">
                    <![CDATA[ stock_price = #{entity.stockPrice}, ]]>
				</if>
				<if test="entity.retailPrice != null and entity.retailPrice !='' ">
                    <![CDATA[ retail_price = #{entity.retailPrice}, ]]>
				</if>
				<if test="entity.actPrice != null and entity.actPrice !='' ">
                    <![CDATA[ act_price = #{entity.actPrice}, ]]>
				</if>
				<if test="entity.bateRate != null and entity.bateRate !='' ">
                    <![CDATA[ bate_rate = #{entity.bateRate}, ]]>
				</if>
				<if test="entity.bateMoney != null and entity.bateMoney !='' ">
                    <![CDATA[ bate_money = #{entity.bateMoney}, ]]>
				</if>
				<if test="entity.verCode != null and entity.verCode !='' ">
                    <![CDATA[ ver_code = #{entity.verCode}, ]]>
				</if>
				<if test="entity.verMoney != null and entity.verMoney !='' ">
                    <![CDATA[ ver_money = #{entity.verMoney}, ]]>
				</if>
				<if test="entity.proLossMoney != null and entity.proLossMoney !='' ">
                    <![CDATA[ pro_loss_money = #{entity.proLossMoney}, ]]>
				</if>
				<if test="entity.lossRate != null and entity.lossRate !='' ">
                    <![CDATA[ loss_rate = #{entity.lossRate}, ]]>
				</if>
				<if test="entity.isfl != null and entity.isfl !='' ">
                    <![CDATA[ Isfl = #{entity.isfl}, ]]>
				</if>
				<if test="entity.iskpo != null and entity.iskpo !='' ">
                    <![CDATA[ Iskpo = #{entity.iskpo}, ]]>
				</if>
				<if test="entity.amount != null and entity.amount !='' ">
                    <![CDATA[ amount = #{entity.amount}, ]]>
				</if>
				<if test="entity.volume != null and entity.volume !='' ">
                    <![CDATA[ volume = #{entity.volume}, ]]>
				</if>
				<if test="entity.totalVolume != null and entity.totalVolume !='' ">
                    <![CDATA[ total_volume = #{entity.totalVolume}, ]]>
				</if>
				<if test="entity.paymentCode != null and entity.paymentCode !='' ">
                    <![CDATA[ payment_code = #{entity.paymentCode}, ]]>
				</if>
				<if test="entity.paymentName != null and entity.paymentName !='' ">
                    <![CDATA[ payment_name = #{entity.paymentName}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo1 != null and entity.relevantOrderNo1 !='' ">
                    <![CDATA[ relevant_order_no1 = #{entity.relevantOrderNo1}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo2 != null and entity.relevantOrderNo2 !='' ">
                    <![CDATA[ relevant_order_no2 = #{entity.relevantOrderNo2}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo3 != null and entity.relevantOrderNo3 !='' ">
                    <![CDATA[ relevant_order_no3 = #{entity.relevantOrderNo3}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo4 != null and entity.relevantOrderNo4 !='' ">
                    <![CDATA[ relevant_order_no4 = #{entity.relevantOrderNo4}, ]]>
				</if>
				<if test="entity.remark != null and entity.remark !='' ">
                    <![CDATA[ remark = #{entity.remark}, ]]>
				</if>
				<if test="entity.createBy != null and entity.createBy !='' ">
                    <![CDATA[ create_by = #{entity.createBy}, ]]>
				</if>
				<if test="entity.createTime != null ">
                    <![CDATA[ create_time = #{entity.createTime}, ]]>
				</if>
				<if test="entity.lastUpdateBy != null and entity.lastUpdateBy !='' ">
                    <![CDATA[ last_update_by = #{entity.lastUpdateBy}, ]]>
				</if>
				<if test="entity.lastUpdateTime != null ">
                    <![CDATA[ last_update_time = #{entity.lastUpdateTime}, ]]>
				</if>
				<if test="entity.vbelnDn5 != null and entity.vbelnDn5 !=''  ">
                    <![CDATA[ vbeln_dn5 = #{entity.vbelnDn5}, ]]>
				</if>
			</if>
		</set>
		WHERE zq_item_no = #{entity.zqItemNo}
	</update>
	
	<update id="updateSelectiveByZqOrderNo"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		UPDATE vehicle_order_zq_details
		<set>
			<if test="entity!=null">
				<if test="entity.zqItemNo != null and entity.zqItemNo !='' ">
                    <![CDATA[ zq_item_no = #{entity.zqItemNo}, ]]>
				</if>
				<if test="entity.rows != null and entity.rows !='' ">
                    <![CDATA[ rows = #{entity.rows}, ]]>
				</if>
				<if test="entity.zqOrderNo != null and entity.zqOrderNo !='' ">
                    <![CDATA[ zq_order_no = #{entity.zqOrderNo}, ]]>
				</if>
				<if test="entity.status != null and entity.status !='' ">
                    <![CDATA[ status = #{entity.status}, ]]>
				</if>
				<if test="entity.materielCode != null and entity.materielCode !='' ">
                    <![CDATA[ materiel_code = #{entity.materielCode}, ]]>
				</if>
				<if test="entity.productGroup != null and entity.productGroup !='' ">
                    <![CDATA[ product_group = #{entity.productGroup}, ]]>
				</if>
				<if
					test="entity.productGroupName != null and entity.productGroupName !='' ">
                    <![CDATA[ product_group_name = #{entity.productGroupName}, ]]>
				</if>
				<if test="entity.brand != null and entity.brand !='' ">
                    <![CDATA[ brand = #{entity.brand}, ]]>
				</if>
				<if test="entity.qty != null and entity.qty !='' ">
                    <![CDATA[ qty = #{entity.qty}, ]]>
				</if>
				<if test="entity.unitPrice != null and entity.unitPrice !='' ">
                    <![CDATA[ unit_price = #{entity.unitPrice}, ]]>
				</if>
				<if test="entity.sumMoney != null and entity.sumMoney !='' ">
                    <![CDATA[ sum_money = #{entity.sumMoney}, ]]>
				</if>
				<if test="entity.stockPrice != null and entity.stockPrice !='' ">
                    <![CDATA[ stock_price = #{entity.stockPrice}, ]]>
				</if>
				<if test="entity.retailPrice != null and entity.retailPrice !='' ">
                    <![CDATA[ retail_price = #{entity.retailPrice}, ]]>
				</if>
				<if test="entity.actPrice != null and entity.actPrice !='' ">
                    <![CDATA[ act_price = #{entity.actPrice}, ]]>
				</if>
				<if test="entity.bateRate != null and entity.bateRate !='' ">
                    <![CDATA[ bate_rate = #{entity.bateRate}, ]]>
				</if>
				<if test="entity.bateMoney != null and entity.bateMoney !='' ">
                    <![CDATA[ bate_money = #{entity.bateMoney}, ]]>
				</if>
				<if test="entity.verCode != null and entity.verCode !='' ">
                    <![CDATA[ ver_code = #{entity.verCode}, ]]>
				</if>
				<if test="entity.verMoney != null and entity.verMoney !='' ">
                    <![CDATA[ ver_money = #{entity.verMoney}, ]]>
				</if>
				<if test="entity.proLossMoney != null and entity.proLossMoney !='' ">
                    <![CDATA[ pro_loss_money = #{entity.proLossMoney}, ]]>
				</if>
				<if test="entity.lossRate != null and entity.lossRate !='' ">
                    <![CDATA[ loss_rate = #{entity.lossRate}, ]]>
				</if>
				<if test="entity.isfl != null and entity.isfl !='' ">
                    <![CDATA[ Isfl = #{entity.isfl}, ]]>
				</if>
				<if test="entity.iskpo != null and entity.iskpo !='' ">
                    <![CDATA[ Iskpo = #{entity.iskpo}, ]]>
				</if>
				<if test="entity.amount != null and entity.amount !='' ">
                    <![CDATA[ amount = #{entity.amount}, ]]>
				</if>
				<if test="entity.volume != null and entity.volume !='' ">
                    <![CDATA[ volume = #{entity.volume}, ]]>
				</if>
				<if test="entity.totalVolume != null and entity.totalVolume !='' ">
                    <![CDATA[ total_volume = #{entity.totalVolume}, ]]>
				</if>
				<if test="entity.paymentCode != null and entity.paymentCode !='' ">
                    <![CDATA[ payment_code = #{entity.paymentCode}, ]]>
				</if>
				<if test="entity.paymentName != null and entity.paymentName !='' ">
                    <![CDATA[ payment_name = #{entity.paymentName}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo1 != null and entity.relevantOrderNo1 !='' ">
                    <![CDATA[ relevant_order_no1 = #{entity.relevantOrderNo1}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo2 != null and entity.relevantOrderNo2 !='' ">
                    <![CDATA[ relevant_order_no2 = #{entity.relevantOrderNo2}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo3 != null and entity.relevantOrderNo3 !='' ">
                    <![CDATA[ relevant_order_no3 = #{entity.relevantOrderNo3}, ]]>
				</if>
				<if
					test="entity.relevantOrderNo4 != null and entity.relevantOrderNo4 !='' ">
                    <![CDATA[ relevant_order_no4 = #{entity.relevantOrderNo4}, ]]>
				</if>
				<if test="entity.remark != null and entity.remark !='' ">
                    <![CDATA[ remark = #{entity.remark}, ]]>
				</if>
				<if test="entity.createBy != null and entity.createBy !='' ">
                    <![CDATA[ create_by = #{entity.createBy}, ]]>
				</if>
				<if test="entity.createTime != null ">
                    <![CDATA[ create_time = #{entity.createTime}, ]]>
				</if>
				<if test="entity.lastUpdateBy != null and entity.lastUpdateBy !='' ">
                    <![CDATA[ last_update_by = #{entity.lastUpdateBy}, ]]>
				</if>
				<if test="entity.lastUpdateTime != null ">
                    <![CDATA[ last_update_time = #{entity.lastUpdateTime}, ]]>
				</if>
				<if test="entity.vbelnDn5 != null and entity.vbelnDn5 !=''  ">
                    <![CDATA[ vbeln_dn5 = #{entity.vbelnDn5}, ]]>
				</if>
			</if>
		</set>
		WHERE zq_order_no = #{entity.zqOrderNo}
	</update>
	<!-- 修改所有列 -->
	<update id="updateAllColumnById"
		parameterType="com.haier.purchase.data.model.vehcile.VehicleOrderZqDetailsDTO">
		UPDATE vehicle_order_zq_details
		<set>
			<if test="entity!=null">

				zq_item_no = #{entity.zqItemNo,jdbcType=VARCHAR}
				,rows =
				#{entity.rows,jdbcType=DECIMAL}
				,zq_order_no =
				#{entity.zqOrderNo,jdbcType=VARCHAR}
				,status =
				#{entity.status,jdbcType=VARCHAR}
				,materiel_code =
				#{entity.materielCode,jdbcType=VARCHAR}
				,product_group =
				#{entity.productGroup,jdbcType=VARCHAR}
				,product_group_name =
				#{entity.productGroupName,jdbcType=VARCHAR}
				,brand =
				#{entity.brand,jdbcType=VARCHAR}
				,qty =
				#{entity.qty,jdbcType=DECIMAL}
				,unit_price =
				#{entity.unitPrice,jdbcType=DECIMAL}
				,sum_money =
				#{entity.sumMoney,jdbcType=DECIMAL}
				,stock_price =
				#{entity.stockPrice,jdbcType=DECIMAL}
				,retail_price =
				#{entity.retailPrice,jdbcType=DECIMAL}
				,act_price =
				#{entity.actPrice,jdbcType=DECIMAL}
				,bate_rate =
				#{entity.bateRate,jdbcType=DECIMAL}
				,bate_money =
				#{entity.bateMoney,jdbcType=DECIMAL}
				,ver_code =
				#{entity.verCode,jdbcType=VARCHAR}
				,ver_money =
				#{entity.verMoney,jdbcType=DECIMAL}
				,pro_loss_money =
				#{entity.proLossMoney,jdbcType=DECIMAL}
				,loss_rate =
				#{entity.lossRate,jdbcType=DECIMAL}
				,Isfl =
				#{entity.isfl,jdbcType=DECIMAL}
				,Iskpo =
				#{entity.iskpo,jdbcType=DECIMAL}
				,amount =
				#{entity.amount,jdbcType=DECIMAL}
				,volume =
				#{entity.volume,jdbcType=DECIMAL}
				,total_volume =
				#{entity.totalVolume,jdbcType=DECIMAL}
				,payment_code =
				#{entity.paymentCode,jdbcType=VARCHAR}
				,payment_name =
				#{entity.paymentName,jdbcType=VARCHAR}
				,remark =
				#{entity.remark,jdbcType=VARCHAR}
				,create_by =
				#{entity.createBy,jdbcType=VARCHAR}
				,create_time =
				#{entity.createTime,jdbcType=DATE}
				,last_update_by =
				#{entity.lastUpdateBy,jdbcType=VARCHAR}
				,last_update_time =
				#{entity.lastUpdateTime,jdbcType=DATE}
			</if>
		</set>
		WHERE ID = #{entity.id}
	</update>

	<update id="updateStatusDetail" parameterType="String">
		update
		vehicle_order_zq_details
		set status = '100'
		where zq_item_no =
		#{orderNo}
	</update>

	<update id="updateMessageDetail" parameterType="String">
		update
		vehicle_order_zq_details
		set remark = #{mesageg},
		last_update_time = now()
		where zq_item_no =
		#{orderNo}
	</update>

</mapper>