<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.stock.dao.stock.InvChannel2ReceiverDao">
	<resultMap id="invChannel2ReceiverResult" type="com.haier.stock.model.InvChannel2Receiver">
		<result property="id" column="id" />
		<result property="channelCode" column="channel_code" />
		<result property="receiverCode" column="receiver_code" />
		<result property="createTime" column="create_time" />
	</resultMap>
	<select id="getByReceiverCode" parameterType="String" resultMap="invChannel2ReceiverResult">
		select `id`,`channel_code`,`receiver_code`,`create_time`
		from `inv_channel_2_receiver`
		where `receiver_code` = #{receiverCode}
	</select>
	<!-- 
	<insert id="insert" parameterType="com.haier.cbs.stock.entity.InvChannel2Receiver">
		insert into `inv_channel_2_receiver`(`channel_code`,`receiver_code`,`create_time`)
		values(#{channelCode},#{receiverCode},#{createTime})
	</insert>
	<update id="update" parameterType="com.haier.cbs.stock.entity.InvChannel2Receiver">
		update `inv_channel_2_receiver` set `channel_code`=#{channelCode},`receiver_code`=#{receiverCode},`create_time`=#{createTime}
		where `id` = #{id}
	</update>
	 -->
</mapper>