<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/third/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/third/adminlte/css/AdminLTE.min.css">
        <link rel="stylesheet" href="../../static/third/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_animation.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_plus.css">
        <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css">
        <link rel="stylesheet" href="../../static/css/common.css">
        <title>角色管理</title>

        <style type="text/css">
            .dlg {
                width: 400px;
                height: 100px;
                padding: 10px;
                margin-top: 20px;
            }

            .easyui-panel {
                overflow-x: show;
            }
            .cententLeft{
                float:left;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
            .btnAdd{
                float:left;
                width:30px;
                height:240px;
                margin:0;
                padding:0;
                border:0;
                text-align:center;
            }
            .cententRight{
                float:right;
                width:175px;
                height: 240px;
                margin:8px 3px;
                padding:0;
                border:0;
            }
        </style>

    </head>
    <body class="iframe-body">
        <div
            id="searchPanel"
            class="easyui-panel"
            style="width:100%;height:100%;"
            data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,collapsible:false">
            <table id="dataGrid"></table>
            ## <div id="msgMask"></div>
            ## <div id="msg">正在处理，请稍待。。。</div>
        </div>

        <div id="datagridToolbar">
            <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_line fa fa-window-minimize"></div>
                <div class="slide_circle fa fa-map-marker"></div>

            </div>
            <form id="filterForm" class="param-form">
                <div class="search-panel" style="font-size: 12px;">
                    <div class="search-row_nowidth mar_r6px">
                        <span class="search-row-label_80">角色名称</span>
                        <input id="name" name="name" class="easyui-textbox" data-options="prompt:''">
                    </div>
                    <div class="search-row_nowidth mar_r6px">
                        <span class="search-row-label_80">状态</span>
                        <select name="status" id="status" class="easyui-combobox" panelheight="auto" style="width: 141px;"></select>
                    </div>
                </div>

                <a href="javascript:void(0);" class="easyui-linkbutton" id="search" data-options="iconCls:'icon-search',plain:true">查询</a>
                <a href="javascript:void(0);"  class="easyui-linkbutton" id="create" data-options="iconCls:'icon-add',plain:true">创建</a>
                <a href="javascript:void(0);" class="easyui-linkbutton" id="import" data-options="iconCls:'icon-save',plain:true">保存</a>

            </form>
        </div>

       
        <div  id="add_Role"  class="easyui-dialog" style="display:none;width:550px;height:250px;"  title="创建角色" modal="true">
            <div class="search-panel" style="font-size: 12px;margin:8px;">
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">角色名称</span>
                    <input id="role_Name" name="role_Name" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">状态</span>
                    <select name="role_Status" id="role_Status" class="easyui-combobox" panelheight="auto">
                        <option value="ALL">全部</option>
                        <option value="1">有效</option>
                        <option value="0">禁用</option>
                        <option value="-1">删除</option>
                    </select>
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">备注</span>
                    <input id="role_Remark" name="role_Remark" class="easyui-textbox" required="true" data-options="prompt:''">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建人</span>
                    <input id="founder" name="founder" class="easyui-textbox" data-options="prompt:''" disabled="disabled">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">创建时间</span>
                    <input id="" name="" class="easyui-textbox" data-options="prompt:''" disabled="disabled">
                </div>
                <div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新人</span>
                    <input id="updateUser" name="updateUser" class="easyui-textbox" data-options="prompt:''" disabled="disabled">
                </div>
				<div class="search-row_nowidth mar_r6px">
                    <span class="search-row-label_80">最后更新时间</span>
                    <input id="updateTime" name="updateTime" class="easyui-textbox" data-options="prompt:''" disabled="disabled">
                </div>        
            </div>
            <div style="width:100%;margin-top:10px;text-align:center;">
                <button id="role_Pre" class="easyui-linkbutton">保存</button>
                <button id="role_Close" class="easyui-linkbutton">关闭</button>
            </div>
           

            
<!-- 需引入的js -->
<script src="../../static/third/jquery.js"></script>
<script src="../../static/third/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/third/easyui/jquery.easyui.min.js"></script>
<script src="../../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../static/js/utils.js"></script>
<script src="../../static/js/easyui-extention_ws.js"></script>
<script src="../../static/js/customConfig.js"></script>
<!-- 自写的js -->

<script type="text/javascript">
function slideUpSlideClk(t) {
	var $this = $(t);
	if ($this.hasClass('open')) {
		$this.removeClass('open');
		setTimeout(function () {
			$this.addClass('close');
		}, 0);
		$(".search-panel").slideUp();
	} else {
		$this.removeClass('close');
		setTimeout(function () {
			$this.addClass('open');
		}, 0);
		$(".search-panel").slideDown();
	}
	setTimeout(function () {
		$('#dataGrid').datagrid('resize');
	}, 500);
}

var dataList;
var datagrid;

$(function () {
	$(".textbox-text").keyup(function(){
            this.value=this.value.replace(/\s+/g,'');
        });
	getStatus();
	$('#add_Role').dialog('close');

	$('#dataGrid').datagrid({
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        onDblClickCell:onDblClickCell,
	        //onAfterEdit:onAfterEdit,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
			toolbar: '#datagridToolbar',
	        queryParams: {
	    	     name:$("#name").val(),
	    	     status:status
	        },
	        columns: [
	            [
	            	{field:'roleId', title:'角色ID', width:'80', align:'center'},
			        {field:'roleName', title:'角色名称', width:'200', align:'center',editor:'text'},
			        {field:'status', title:'状态', width:'90', align:'center',editor:{type:'combobox',
			        options:{valueField:'value',textField:'value_meaning',data:dataList,required:true}},
	                    formatter : function(value) {
	                    	if(value == 1){
	                    		return "有效";
	                    	}
	                    	if(value == 0){
	                    		return "禁用";
	                    	}
	                    	if(value == -1){
	                    		return "删除";
	                    	}
	                    }
			        },
			        {field:'remark', title:'备注', width:'200', align:'center',editor:'text'},
			        {field:'updateUser', title:'最后更新人', width:'100', align:'center'},
			        {field:'updateTime', title:'最后更新时间', width:'240', align:'center',
	                    formatter : function(value) {
	                        var date = new Date(value);
	                        var year = date.getFullYear().toString();
	                        var month = (date.getMonth() + 1);
	                        var day = date.getDate().toString();
	                        var hour = date.getHours().toString();
	                        var minutes = date.getMinutes().toString();
	                        var seconds = date.getSeconds().toString();
	                        if (month < 10) {
	                            month = "0" + month;
	                        }
	                        if (day < 10) {
	                            day = "0" + day;
	                        }
	                        if (hour < 10) {
	                            hour = "0" + hour;
	                        }
	                        if (minutes < 10) {
	                            minutes = "0" + minutes;
	                        }
	                        if (seconds < 10) {
	                            seconds = "0" + seconds;
	                        }
	                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
	                    }
			        },
			        {field:'createUser', title:'创建人', width:'100', align:'center'},
			        {field:'createTime', title:'创建时间', width:'240', align:'center',
	                    formatter : function(value) {
	                        var date = new Date(value);
	                        var year = date.getFullYear().toString();
	                        var month = (date.getMonth() + 1);
	                        var day = date.getDate().toString();
	                        var hour = date.getHours().toString();
	                        var minutes = date.getMinutes().toString();
	                        var seconds = date.getSeconds().toString();
	                        if (month < 10) {
	                            month = "0" + month;
	                        }
	                        if (day < 10) {
	                            day = "0" + day;
	                        }
	                        if (hour < 10) {
	                            hour = "0" + hour;
	                        }
	                        if (minutes < 10) {
	                            minutes = "0" + minutes;
	                        }
	                        if (seconds < 10) {
	                            seconds = "0" + seconds;
	                        }
	                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
	                    }
			        }
	            ]
	        ]
	    });
});

//点击查询
$('#search').click(function () {
	var status;
	if($("#status").textbox('getValue')=="ALL"){
		status = "";
	}else{
		status = $("#status").textbox('getValue');
	}
	//检索列表构筑
	/*if(datagrid){
		//grid刷新
	    $('#dataGrid').datagrid('load',
	    		{
	    	     name:$("#name").val(),
	    	     status:status
	   	 });
	}else{*/
		//生成grid
	    $('#dataGrid').datagrid({
	       url: "/sys/role/find",
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        onDblClickCell:onDblClickCell,
	        //onAfterEdit:onAfterEdit,
	        pageSize: 100,
	        pageList: [100,200,300],
	        nowrap: false,
	        rownumbers: true,
			toolbar: '#datagridToolbar',
	        queryParams: {
	    	     name:$("#name").val(),
	    	     status:status
	        },
	        columns: [
	            [
	            	{field:'roleId', title:'角色ID', width:'80', align:'center'},
			        {field:'roleName', title:'角色名称', width:'200', align:'center',editor:'text'},
			        {field:'status', title:'状态', width:'90', align:'center',editor:{type:'combobox',
			        options:{valueField:'value',textField:'value_meaning',data:dataList,required:true}},
	                    formatter : function(value) {
	                    	if(value == 1){
	                    		return "有效";
	                    	}
	                    	if(value == 0){
	                    		return "禁用";
	                    	}
	                    	if(value == -1){
	                    		return "删除";
	                    	}
	                    }
			        },
			        {field:'remark', title:'备注', width:'200', align:'center',editor:'text'},
			        {field:'updateUser', title:'最后更新人', width:'100', align:'center'},
			        {field:'updateTime', title:'最后更新时间', width:'240', align:'center',
	                    formatter : function(value) {
	                        var date = new Date(value);
	                        var year = date.getFullYear().toString();
	                        var month = (date.getMonth() + 1);
	                        var day = date.getDate().toString();
	                        var hour = date.getHours().toString();
	                        var minutes = date.getMinutes().toString();
	                        var seconds = date.getSeconds().toString();
	                        if (month < 10) {
	                            month = "0" + month;
	                        }
	                        if (day < 10) {
	                            day = "0" + day;
	                        }
	                        if (hour < 10) {
	                            hour = "0" + hour;
	                        }
	                        if (minutes < 10) {
	                            minutes = "0" + minutes;
	                        }
	                        if (seconds < 10) {
	                            seconds = "0" + seconds;
	                        }
	                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
	                    }
			        },
			        {field:'createUser', title:'创建人', width:'100', align:'center'},
			        {field:'createTime', title:'创建时间', width:'240', align:'center',
	                    formatter : function(value) {
	                        var date = new Date(value);
	                        var year = date.getFullYear().toString();
	                        var month = (date.getMonth() + 1);
	                        var day = date.getDate().toString();
	                        var hour = date.getHours().toString();
	                        var minutes = date.getMinutes().toString();
	                        var seconds = date.getSeconds().toString();
	                        if (month < 10) {
	                            month = "0" + month;
	                        }
	                        if (day < 10) {
	                            day = "0" + day;
	                        }
	                        if (hour < 10) {
	                            hour = "0" + hour;
	                        }
	                        if (minutes < 10) {
	                            minutes = "0" + minutes;
	                        }
	                        if (seconds < 10) {
	                            seconds = "0" + seconds;
	                        }
	                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
	                    }
			        }
	            ]
	        ]
	    });
	//}
    $('#dataGrid').parent().find("div.datagrid-header-check").children("input[type='checkbox']").eq(0).attr("checked", false);
});

var editIndex = undefined;
function onDblClickCell(index,field,value){
	//启用单元格编辑
	//$("#dataGrid").datagrid('beginEdit', index);
	//var ed = $("#dataGrid").datagrid('getEditor', {index:index,field:field});
	
    if(endEdit()){
    	//给editIndex对象赋值，index为当前行的索引
        editIndex = index;  
        var selectRow = $('#dataGrid').datagrid('selectRow', editIndex);
        //启用单元格编辑  
        selectRow.datagrid('beginEdit', editIndex);  
    }
}

function endEdit() {
	//对editIndex进行判断单元格是否可以编辑
    if(editIndex == undefined) {
    	return true;
    }
      
    if($('#dataGrid').datagrid('validateRow',editIndex)) {
    	//结束当前行编辑
        $('#dataGrid').datagrid('endEdit',editIndex);
        editIndex = undefined;   
        return true;//重置编辑行索引对象，返回true，允许编辑  
     }  
    else {  
        return false;  
    }
}

$("#searchPanel").click(function () {
    $('#dataGrid').datagrid('endEdit',editIndex);
    editIndex = undefined;   
    return true;//重置编辑行索引对象，返回true，允许编辑 
});



$("#role_Close").click(function () {
	$('#add_Role').panel('close');
});

function getStatus(){
	//取得状态
	jQuery.getJSON("/sys/user/getStatus", function(result){
		var count = result.totalCount;
		var dataList = result.data;
		//添加全部
		dataList.unshift( {value:'ALL',value_meaning:'全部'});
		$("#status").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
		$("#role_Status").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
	});
}

//创建角色
$('#create').click(function(){
	$("#role_Name").textbox('setValue',"");
	$("#role_Remark").textbox('setValue',"");
	$("#role_Status").combobox('setValue',"ALL");
	$("#add_Role").dialog('open');
});
$("#role_Pre").click(function (){
	
	if($("#role_Name").val() == null || $("#role_Name").val() == ""){
		$.messager.alert('提示', '请输入角色名称', 'err');
	} else 	if($("#role_Remark").val() == null || $("#role_Remark").val() == ""){
		$.messager.alert('提示', '请输入角色备注', 'err');
	} else 	if($("#role_Status").val() == "ALL"){
		$.messager.alert('提示', '请选择有效状态', 'err');
	} else {
		create();
	}
	
});
function create(){
	jQuery.ajax({
	    url: "/sys/role/create",
	    type: "POST",
	    data: {
	    		"roleName": $("#role_Name").val(),
	    		"roleStatus": $("#role_Status").val(),
	    		"roleRemark": $("#role_Remark").val()
	    	},
		    success: function (data) {
		    	$('#add_Role').dialog('close');
		        $.messager.alert('提示', '角色创建成功', 'info');
			    $('#dataGrid').datagrid('load',
			    		{
			    	     name:$("#name").val(),
			    	     status:status
			   	});
		    },
		    error: function (data) {
		    	$('#add_Role').dialog('close');
		    	$.messager.alert('提示', '角色创建失败', 'err');
		    }
	});
}

$("#import").click(function(){
	var row = $('#dataGrid').datagrid('getSelected');
	
	jQuery.ajax({
	    url: "/sys/role/update",
	    type: "POST",
	    data: {
	    		"roleId": row.roleId,
	    		"roleName": row.roleName,
	    		"roleStatus": row.status,
	    		"roleRemark": row.remark
	    	},
		    success: function (data) {
		    	$('#add_Role').dialog('close');
		        $.messager.alert('提示', '角色修改成功', 'info');
			    $('#dataGrid').datagrid('load',
			    		{
			    	     name:$("#name").val(),
			    	     status:status
			   	});
		    },
		    error: function (data) {
		    	$('#add_Role').dialog('close');
		    	$.messager.alert('提示', '角色修改失败', 'err');
		    }
	});
});
        </script>
    </body>
</html>