<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.OrderPriceCostPoolUseInfoReadDao">

	<resultMap id="orderPriceCostPoolUseInfoResult" type="com.haier.shop.model.OrderPriceCostPoolUseInfo">
		<result property="id" column="id" />
		<result property="orderSource" column="order_source" />
		<result property="channelCode" column="channel_code" />
		<result property="industryCode" column="industry_code" />
		<result property="productGroup" column="product_group" />
		<result property="corderSn" column="corder_sn" />
		<result property="orderSn" column="order_sn" />
		<result property="sku" column="sku" />
		<result property="cateId" column="cate_id" />
		<result property="cateName" column="cate_name" />
		<result property="brandId" column="brand_id" />
		<result property="brandName" column="brand_name" />
		<result property="orderProductPrice" column="order_product_price" />
		<result property="couponAmount" column="coupon_amount" />
		<result property="platformCouponAmount" column="platform_coupon_amount" />
		<result property="costPoolUseAmount" column="cost_pool_use_amount" />
		<result property="orderProductAmount" column="order_product_amount" />
		<result property="orderProductNumber" column="order_product_number" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<select id="getByCorderSn" parameterType="string" resultMap="orderPriceCostPoolUseInfoResult">
		select `id`,`order_source`,`channel_code`,`industry_code`,`product_group`,`corder_sn`,`order_sn`,`sku`,`cate_id`,`cate_name`,`brand_id`,`brand_name`,`order_product_price`,`coupon_amount`,`platform_coupon_amount`,`cost_pool_use_amount`,`order_product_amount`,`order_product_number`,`create_time`,`update_time` 
		from order_price_cost_pool_use_info
		where corder_sn = #{cOrderSn}
		limit 1
	</select>

</mapper>