<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.OrderRepairTcsReadDao">
	<resultMap id="orderRepairTcsResult" type="com.haier.shop.model.OrderRepairTcs">
		<result property="id" column="id" />
		<result property="addTime" column="addTime" />
		<result property="orderRepairId" column="orderRepairId" />
		<result property="caiNiaoTcId" column="caiNiaoTcId" />
		<result property="caiNiaoTcHandle" column="caiNiaoTcHandle" />
		<result property="caiNiaoTcHandleTime" column="caiNiaoTcHandleTime" />
		<result property="caiNiaoTcHopeTime" column="caiNiaoTcHopeTime" />
		<result property="caiNiaoTcExtType" column="caiNiaoTcExtType" />
		<result property="caiNiaoTcExtSn" column="caiNiaoTcExtSn"/>
        <result property="caiNiaoTcExtTime" column="caiNiaoTcExtTime" />
		<result property="caiNiaoTcExtStatus" column="caiNiaoTcExtStatus" />
	</resultMap>

	<select id="getById"  resultMap="orderRepairTcsResult">
		select `id`,`addTime`,`orderRepairId`,`caiNiaoTcId`,`caiNiaoTcHandle`,`caiNiaoTcHandleTime`,`caiNiaoTcHopeTime`,`caiNiaoTcExtType`,`caiNiaoTcExtSn`,`caiNiaoTcExtTime`,`caiNiaoTcExtStatus`
		from `OrderRepairTcs`
		where `id` = #{orderRepairTcsId}
		order by id desc
		limit 1
	</select>
	
</mapper>