<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.OrderYBCardsReadDao">
	<resultMap id="orderYBCardsResult" type="com.haier.shop.model.OrderYBCards">
		<result property="id" column="id" />
		<result property="siteId" column="siteId" />
		<result property="addTime" column="addTime" />
		<result property="cOrderSn" column="cOrderSn" />
		<result property="ybCardNum" column="ybCardNum" />
		<result property="productNo" column="productNo" />
		<result property="ybBeginDate" column="ybBeginDate" />
		<result property="ybEndDate" column="ybEndDate" />
		<result property="serviceCloseDate" column="serviceCloseDate" />
		<result property="createdDate" column="createdDate" />
		<result property="status" column="status" />
	</resultMap>
	<select id="queryByStatus" parameterType="Integer" resultMap="orderYBCardsResult">
		select `id`,`siteId`,`addTime`,`cOrderSn`,`ybCardNum`,`productNo`,`ybBeginDate`,`ybEndDate`,`serviceCloseDate`,`createdDate`,`status`
		from `orderybcards`	where `status` = #{status}
	</select>
</mapper>