<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.OrderPriceSourceIndustryReadDao">

	<resultMap id="orderPriceSourceIndustryResult" type="com.haier.shop.model.OrderPriceSourceIndustry">
		<result property="id" column="id" />
		<result property="industryCode" column="industry_code" />
		<result property="industryName" column="industry_name" />
		<result property="orderSource" column="order_source" />
		<result property="orderSourceName" column="order_source_name" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="getSourceIndustryList" resultMap="orderPriceSourceIndustryResult">
		select `industry_code`,`order_source`
		from order_price_source_industry
		where status = 1
	</select>

	<select id="getOrderPriceIndustryBySource" parameterType="java.lang.String" resultType="java.util.Map">
		select DISTINCT `industry_code`,`industry_name`
		from order_price_source_industry
		<where>
			<if test="source !=null and source !='' ">
				and order_source =#{source}
			</if>
		</where>
	</select>

	<sql id="commonQuery">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="source !=null and source !='' ">
				AND order_source = #{source}
			</if>
			<if test="industry !=null and industry !='' ">
				AND industry_code = #{industry}
			</if>
			<if test="status !=null and status !='' ">
				AND status = #{status}
			</if>
		</trim>
	</sql>

	<select id="getOrderPriceSourceIndustryListCount" parameterType="java.util.Map" resultType="Integer" statementType="PREPARED">
		select count(*) count
		from order_price_source_industry
		<include refid="commonQuery"/>
	</select>

	<select id="getOrderPriceSourceIndustryList" parameterType="java.util.Map" resultMap="orderPriceSourceIndustryResult" statementType="PREPARED">
		select id,`industry_code`,industry_name,`order_source`,order_source_name,status
		from order_price_source_industry
		<include refid="commonQuery"/>
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
</mapper>