<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.OrderPriceProductGroupIndustryReadDao">

	<resultMap id="orderPriceProductGroupIndustryResult" type="com.haier.shop.model.OrderPriceProductGroupIndustry">
		<result property="id" column="id" />
		<result property="industryCode" column="industry_code" />
		<result property="industryName" column="industry_name" />
		<result property="productGroup" column="product_group" />
		<result property="productGroupName" column="product_group_name" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="getProductGroupIndustryList" resultMap="orderPriceProductGroupIndustryResult">
		select `industry_code`,industry_name,`product_group`,product_group_name 
		from order_price_product_group_industry
	</select>

</mapper>