<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.RefundBillSyncRecordDao">
	<resultMap id="returnMap" type="com.haier.shop.model.RefundBillSyncRecord">
		<result property="id" column="id" />
		<result property="refund_id" column="refundId" />
		<result property="tid" column="tid" />
		<result property="oid" column="oid" />
		<result property="sku" column="sku" />
		<result property="source" column="source" />
		<result property="syncState" column="sync_state" />
		<result property="syncCount" column="sync_count" />
		<result property="created" column="created" />
		<result property="lastTime" column="lasttime"/>
        <result property="jdpModified" column="jdp_modified" />
		<result property="jdpResponse" column="jdp_response" />
		<result property="sysLog" column="sys_log" />
	</resultMap>
	
	<!-- <select id="selectByPrimaryKey" resultMap="returnMap">
	SELECT
		id,
		refund_id,
		oid,
		tid,
		sku,
		source,
		
		sync_count,
		created,
		lasttime,
		jdp_modified,
		jdp_response
	FROM
		refundbill_sync_record
	where   sync_state !='MatchingSuccess'
	AND  sku IN ('BB09B1094', 'CB0N3V000', 'DH1WB0D04', 'HE082371', 'FB1Q20M0K', 'FC513D00L', 'AAABT606V')
	 ORDER BY id desc
	 LIMIT 0,1000
	</select> -->
	<select id="selectByPrimaryKey" resultMap="returnMap" parameterType="java.lang.Integer">
	SELECT
		id,
		refund_id,
		oid,
		tid,
		sku,
		source,
		sync_count,
		created,
		lasttime,
		jdp_modified,
		jdp_response
	FROM
		refundbill_sync_record
		where sync_state !='MatchingSuccess'
		and created > '2018-06-22 09:22:00'
		<if test="_parameter == 1">
			and  source IN (select sp.shopCode from return_shopconfig sp WHERE sp.disabled = 0) 
		</if>
		<if test="_parameter == 2">
			and  source NOT IN (select sp.shopCode from return_shopconfig sp WHERE sp.disabled = 0) 
		</if>
	
	 ORDER BY id desc			
	 LIMIT 0,1000  
	</select>
	
	
	

</mapper>