<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopread.StoragesRelaReadDao">
	<resultMap id="storagesRelaResult" type="com.haier.shop.model.StoragesRela">
		<result property="id" column="id" />
		<result property="siteId" column="siteId" />
		<result property="code" column="Code" />
		<result property="masterCode" column="masterCode" />
		<result property="centerCode" column="centerCode" />
		<result property="mulStoreCode" column="mulStoreCode" />
		<result property="isMaster" column="isMaster" />
	</resultMap>
	<select id="get" parameterType="Integer" resultMap="storagesRelaResult">
		select `id`,`siteId`,`Code`,`masterCode`,`centerCode`,`mulStoreCode`,`isMaster`
		from `StoragesRela`
		where `id` = #{id}
	</select>
	<select id="getList" resultMap="storagesRelaResult">
		select `id`,`siteId`,`Code`,`masterCode`,`centerCode`,`mulStoreCode`,`isMaster`
		from `StoragesRela`
	</select>
	<select id="getListByCodes" parameterType="map" resultMap="storagesRelaResult">
		select `id`,`siteId`,`Code`,`masterCode`,`centerCode`,`mulStoreCode`,`isMaster`
		from `StoragesRela`
		where `code` in
		<foreach collection="codeList" index="index" item="code" open="("
					separator="," close=")">
					#{code}
		</foreach>
	</select>
</mapper>