<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>电子发票日志</title>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <script src="../static/js/i18n/zh_CN.js"></script>

</head>
<body class="iframe-body">

<div id="searchPanel_dmmtlPbcsMtlMeasure" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false,border:false">
    <table id="datagrid">
        <tbody>

        </tbody>
    </table>
</div>

<div id="datagridToolbar_dmmtlPbcsMtlMeasure">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="paramForm_dmmtlPbcsMtlMeasure" action="#" class="param-form">
        <div class="search-panel">
            <div class="search-row">
			<span class="search-row-label">
			  网单编号
			</span>
                <input class="easyui-textbox" id="cOrderSn" name="cOrderSn"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  是否成功
			</span>
                <select class="easyui-combobox" id="success"  name="success" style="width: 174px;" panelHeight="auto">
                    <option value="-1"  selected="true">全部</option>
                    <option value="1">成功</option>
                    <option value="0">失败</option>
                </select>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  操作类型
			</span>
                <select class="easyui-combobox" id="type"  name="type"  style="width: 174px;" panelHeight="auto">
                    <option value="-1"  selected="true">全部</option>
                    <option value="1">开票</option>
                    <option value="2">作废/冲红</option>
                    <!--<option value="3">查询</option>-->
                </select>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  记录起始时间
			</span>
                <input class="easyui-datebox" id="addTimeMin"  name="addTimeMin"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  记录截止时间
			</span>
                <input class="easyui-datebox" id="addTimeMax"  name="addTimeMax"/>
            </div>
        </div>
        <a href="#" class="easyui-linkbutton" id='search'
           data-options="iconCls:'icon-search',plain:true">查询</a>
<!--
        <a href="#" class="easyui-linkbutton" id="import"
           data-options="iconCls:'icon-save',plain:true">导出</a>
           -->
    </form>



</div>
<script type="text/javascript">

var datagrid;

$(function () {
    datagrid = {
        fit: true,
        fitColumns: true,
        toolbar: '#datagridToolbar_dmmtlPbcsMtlMeasure',
        striped: true,
        singleSelect: true,
        pagination: true,
        columns: [[
            // {title: "操作", field: "field0", sortable: false, formatter: go_detail},
            {title: "序号", field: "id", hidden: true},
            {title: "网单编号", field: "cOrderSn", sortable: false},
            {title: "操作类型", field: "type", sortable: false},
            {title: "记录时间", field: "addTime", sortable: false},
            {title: "是否成功", field: "success", sortable: false},
            {title: "次数", field: "count", sortable: false},
            {title: "提示信息", field: "lastMessage",sortable: false}
        ]],
        pageSize: 50,
        pageList: [50,100,200],
        rownumbers: true
    }

    $('#datagrid').datagrid(datagrid);
});


//日期控件
$(function () {
	var buttons = $.extend([], $.fn.datebox.defaults.buttons);
	buttons.splice(1, 0, {
		text: '清除',
		handler: function(target){
			$(target).datebox('setValue', '');
			$(target).combo("hidePanel");
		}
	});
	$('#addTimeMin').datebox({
		buttons: buttons
	});
	$('#addTimeMax').datebox({
		buttons: buttons
	});
		
});

function compareDate(startdate, enddate, replaceblag, message) {
	if(replaceblag){
		if(startdate){
			startdate = startdate.replace("年", "");
			startdate = startdate.replace("周", "");
		}
		if(enddate){
			enddate = enddate.replace("年", "");
			enddate = enddate.replace("周", "");
		}
	}
	if(startdate && enddate){
		if(startdate > enddate){
			//alert(message);
			$.messager.alert('错误',message,'error');
			return false;
		}
	}
	return true;
}

function myformatter(date) {
		var y = date.getFullYear();
	    var m = date.getMonth() + 1;
	    var d = date.getDate();
    	date = y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
        return date;
}

function myparser(s) {
    if (!s) return new Date();
    var ss = (s.split('-'));
    var y = parseInt(ss[0], 10);
    var m = parseInt(ss[1], 10);
    var d = parseInt(ss[2], 10);
    if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
        return new Date(y, m - 1, d);
    } else {
        return new Date();
    }
}

$('#search').click(function () {
	if(!compareDate($('#addTimeMin').datebox('getValue'), $('#addTimeMax').datebox('getValue'), 0, "记录起始时间大于截止时间，请重新选择!")){
		return false;
	}
	var cOrderSn =$("#cOrderSn").val();
	//开票类型
	var type = $("#type").combobox("getValue");
	if(type=="-1"){
		type="";
	}
	$("#type_hidden").val(type);
	//是否成功
	var success = $("#success").combobox("getValue");
	if(success=="-1"){
		success="";
	}
	
	$("#success").val(success);
	
	//记录起始时间
	var addTimeMin = $('#addTimeMin').datebox('getValue');
	//记录截止时间
	var addTimeMax = $('#addTimeMax').datebox('getValue');
	
	var queryParameters={
						 cOrderSn:$("#cOrderSn").val(),
				  		 addTime:$("#addTime").val(),
				  		 success:$("#success").combobox("getValue"),
				  		 type:$("#type").combobox("getValue"),
				  		 addTimeMin:$('#addTimeMin').datetimebox('getValue'),
				  		 addTimeMax:$('#addTimeMax').datetimebox('getValue')
	    	     };
	// if(datagrid){
	//     //grid加载
	//     $('#datagrid').datagrid('load',queryParameters);
	// }else{
	 	datagrid = $('#datagrid').datagrid({
			url: "/invoice/findelectronicInvoiceLogs",
	        fit: true,
	        pagination: true,
	        singleSelect: true,
            pageSize: 50,
            pageList: [50,100,200],
	        nowrap: true,
	        rownumbers: true,
	        singleSelect: false,
			selectOnCheck: true,
			checkOnSelect: true,
	        queryParams: queryParameters,
	        columns: [
	          [
                  {
                      field: 'id',
                      title: '序号',
                      width: 10,
                      align: 'center',
                      hidden:true
                  },
	           	{
	           		field: 'cOrderSn',
                    title: '网单编号',
                    width: 150,
                    sortable: false,
                    align: 'center'
	           	},
	           	{
                    field: 'type',
                    title: '操作类型',
                    sortable: false,
                    width: 100,
                    align: 'center',
                    formatter:function(value,rowData,rowIndex){
				        if(value=='1') return '开票';
     					if(value=='2') return '作废/冲红';
     					if(value=='3') return '查询';
     					return '';
            		}
                },
                {
                    field: 'addTime',
                    title: '记录时间',
                    sortable: false,
                    width: 200,
                    align: 'center'
                },
                {
                    field: 'success',
                    title: '是否成功',
                    sortable: false,
                    width: 100,
                    align: 'center',
                    formatter:function(value,rowData,rowIndex){
				        if(value=='1') return '成功';
     					if(value=='0') return '失败';
     					return '';
            		}
                },
                {
                    field: 'count',
                    title: '次数',
                    sortable: false,
                    width: 100,
                    align: 'center'
                },
                {
                    field: 'lastMessage',
                    title: '提示信息',
                    sortable: false,
                    width: 500,
                    align: 'center'
                }
	          ]
	        ]
		});
	//}
});
</script>
<script src="../static/js/report/dmmtlPbcsMtlMeasureIndex.js"></script>

</body>