<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <!--<link rel="stylesheet" href="../static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../static/third/ionicons/css/ionicons.min.css">-->

    <!--  <link rel="stylesheet" href="../static/third/easyui/themes/material/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/color.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/icon.css">-->

    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <!--<link rel="stylesheet" href="../static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">


    <link rel="stylesheet" href="../static/css/common.css">
    <title>支付宝流水</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/easyui-extention.js"></script>
    <script src="../static/js/customConfig.js"></script>
</head>
<body class="iframe-body">
<div id="searchPanel_orderForecastGoal" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
    collapsible:false">
    <table id="datagrid_orderForecastGoal"></table>
</div>

<div id="datagridToolbar_orderForecastGoal">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="paramForm_orderForecastGoal" class="param-form">
        <div class="search-panel" style="font-size: 11px;">
            
            <div class="search-row_nowidth mar_r6px">
                <input id="orderSn" name="orderSn" class="easyui-textbox" data-options="prompt:'请输入订单号'">
            </div>

            <div class="search-row_nowidth mar_r6px">
            <input id="memberLoginId" name="memberLoginId" class="easyui-textbox" data-options="prompt:'对方账户'">
            </div>

            <div class="search-row_nowidth mar_r6px">
                <select id="businessTypeCode" name="businessTypeCode" class="easyui-combobox">
                	<option value="" selected="">业务类型</option>
                	<option value="code1">交易分账</option>
                	<option value="code2">交易付款</option>
                	<option value="code3">交易退款</option>
                	<option value="code4">其它</option>
                	<option value="code5">收费</option>
                	<option value="code6">退费</option>
                	<option value="code7">业务类型</option>
                	<option value="code8">在线支付</option>
                	<option value="code9">转账</option>
                </select>
            </div>

            <div class="search-row_nowidth mar_r6px">
                <input id="addTimeBegine" name="addTimeBegine" class="easyui-datebox" data-options="prompt:'订单生成时间'">
                <span>至</span>
                <input id="addTimeEnd" name="addTimeEnd" class="easyui-datebox" data-options="prompt:'订单生成时间'">
            </div>

            <div class="search-row_nowidth mar_r6px">
                <input id="incomeMoneymin" name="incomeMoneymin" class="easyui-textbox" data-options="prompt:'收入金额'">
                <span>-</span>
                <input id="incomeMoneymax" name="incomeMoneymax" class="easyui-textbox" data-options="prompt:'收入金额'">
            </div>

            <div class="search-row_nowidth mar_r6px">
                <input id="expenditureMoneymin" name="expenditureMoneymin" class="easyui-textbox" data-options="prompt:'支出金额'">
                <span>-</span>
                <input id="expenditureMoneymax" name="expenditureMoneymax" class="easyui-textbox" data-options="prompt:'支出金额'">
            </div>

            <div class="search-row_nowidth mar_r6px">
                <input id="remake" name="remake" class="easyui-textbox" data-options="prompt:'备注'">
            </div>
            
          	<div class="search-row_nowidth mar_r6px">
                <select id="shopName" name="shopName" class="easyui-combobox">
                	<option value="" selected="">店铺名称</option>
                	<option value="海尔官方旗舰店">海尔官方旗舰店</option>
                	<option value="海尔厨房大电旗舰店">海尔厨房大电旗舰店</option>
                	<option value="卡萨帝官方旗舰店">卡萨帝官方旗舰店</option>
                	<option value="海尔小超人旗舰店">海尔小超人旗舰店</option>
                	<option value="海尔热水器旗舰店">海尔热水器旗舰店</option>
                	<option value="统帅官方旗舰店">统帅官方旗舰店</option>
                	<option value="海尔洗衣机旗舰店">海尔洗衣机旗舰店</option>
                	<option value="海尔冰箱冷柜旗舰店">海尔冰箱冷柜旗舰店</option>
                	<option value="海尔空调旗舰店">海尔空调旗舰店</option>
                	<option value="海尔中央空调旗舰店">海尔中央空调旗舰店</option>
                	<option value="海尔生态供应商店铺">海尔生态供应商店铺</option>
                	<option value="海尔分销店铺">海尔分销店铺</option>
                </select>
            </div>
           
        </div>
        <a href="#" class="easyui-linkbutton" id="searchBtn_orderForecastGoal"
           data-options="iconCls:'icon-search',plain:true">查询</a>
        <a href="#" class="easyui-linkbutton" id="resetBtn_orderForecastGoal"
           data-options="iconCls:'icon-redo',plain:true">重置</a>
        <!--<a href="#" class="easyui-linkbutton" id="addBtn_orderForecastGoal"
           data-options="iconCls:'icon-add',plain:true">增加</a>
        <a href="#" class="easyui-linkbutton" id="editBtn_orderForecastGoal"
           data-options="iconCls:'icon-edit',plain:true">修改</a>
        <a href="#" class="easyui-linkbutton" id="deleteBtn_orderForecastGoal"
           data-options="iconCls:'icon-remove',plain:true">删除</a>
        <a href="#" class="easyui-linkbutton" id="importBtn_orderForecastGoal"
           data-options="iconCls:'icon-save',plain:true">导出</a>-->
        <input id="exportData" name="exportData" type="hidden"/>
    </form>
</div>

<script type="text/javascript">
    function slideUpSlideClk(t) {
        var $this = $(t);
        if ($this.hasClass('open')) {
            $this.removeClass('open');
            setTimeout(function () {
                $this.addClass('close');
            }, 0);
            $(".search-panel").slideUp();
        } else {
            $this.removeClass('close');
            setTimeout(function () {
                $this.addClass('open');
            }, 0);
            $(".search-panel").slideDown();
        }
        setTimeout(function () {
            $('#datagrid_orderForecastGoal').datagrid('resize');
        }, 500);
    }
</script>
<script src="../static/js/invoice/zfbOrderDetails.js"></script>
</body>
</html>