.mytable thead tr th {
  text-align: center;
  vertical-align: middle;
  /*white-space: nowrap;*/
}

.mytable tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.mytable thead {
  background-color: #efefef;


}

.file-name-div {
  border: 0;
  color: #3c8dbc;
  margin-bottom: 10px;
  cursor: pointer;
}

.file-upload-div {
  border: 0;
}

.div-padding-10 {
  padding: 10px 10px;
}