<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">
  <link rel="stylesheet" href="../static/css/common.css">
  <title>测试页面</title>
  <script src="../static/third/jquery.js"></script>
  <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/third/easyui/jquery.easyui.min.js"></script>
  <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
  <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
  <script src="../static/js/utils.js"></script>
  <script src="../static/js/customConfig.js"></script>
  <script src="../static/js/easyui-extention_ws.js"></script>
  <script src="../static/js/i18n/zh_CN.js"></script>
</head>

<body class="iframe-body">
<div id="searchPanel" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
  <table id="dg">
    <thead>
    <tr>
      <th field="field0">上诉次数</th>
      <th field="field1">中间结果上诉次数</th>
      <th field="field2">用户咨询次数</th>
      <th field="field3">工贸</th>
      <th field="field3">物流中心</th>
      <th field="field4">工单号</th>
      <th field="field5">责任位一</th>
      <th field="field6">责任位二</th>
      <th field="field7">责任位三</th>
      <th field="field8">工单去向</th>
      <th field="field9">类别</th>
      <th field="field10">商城问题一级</th>
      <th field="field11">商城问题二级</th>
    </tr>
    </thead>
  #*    <tbody>
      <tr>
        <td>商城渠道</td>
        <td>BJWA</td>
        <td>北京库位</td>
        <td>冰箱</td>
        <td>冰箱</td>
        <td>海尔</td>
        <td>BM0370BA3</td>
        <td>BCD-133ES</td>

        <td style="text-align:right">13</td>
        <td style="text-align:right">1.43</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right;border-right: 0.1cm solid red;">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">13</td>
        <td style="text-align:right">1.43</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
      </tr>
      <tr>
        <td>商城渠道</td>
        <td>NBWA</td>
        <td>宁波库位</td>
        <td>冰箱</td>
        <td>冰箱</td>
        <td>海尔</td>
        <td>BS0110B80</td>
        <td>BC-50ES</td>

        <td style="text-align:right">1</td>
        <td style="text-align:right">0.05</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">1</td>
        <td style="text-align:right">0.05</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right;border-right: 0.1cm solid red;">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
      </tr>
      <tr>
        <td>商城渠道</td>
        <td>FSWA</td>
        <td>佛山库位</td>
        <td>洗衣机</td>
        <td>波轮洗衣机</td>
        <td>海尔</td>
        <td>CA0JR1000</td>
        <td>i wash-1w</td>

        <td style="text-align:right">7</td>
        <td style="text-align:right">0.67</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">3</td>
        <td style="text-align:right">0.29</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">2</td>
        <td style="text-align:right;border-right: 0.1cm solid red;">0.19</td>
        <td style="text-align:right">2</td>
        <td style="text-align:right">0.19</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
        <td style="text-align:right">0</td>
      </tr>
      </tbody>*#
  </table>
</div>

<div id="datagridToolbar">
  <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_circle fa fa-map-marker"></div>
  </div>
  <form id="paramForm" class="param-form">
    <div class="search-panel">
      <div class="search-row" style="width:100%">
        <label><input name="Fruit" type="radio" value="orderList" checked="checked"/>工单操作</label>
        <label><input name="Fruit" type="radio" value="dutyCount"/>责任位统计</label>
        <label><input name="Fruit" type="radio" value="memberCount"/>人员统计</label>
      </div>
      <div class="clearfix"/>
      <div class="search-row">
        <span class="search-row-label">
          网单号
        </span>
        <input class="easyui-textbox" name="tyMtd"/>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          订单号
        </span>
        <input class="easyui-textbox" name="tyMtd"/>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          工单状态
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option value="AA">未处理</option>
          <option value="AB">中间结果</option>
          <option value="DA">最终结果</option>
        </select>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          订单来源
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option>商城订单</option>
          <option>商城订单-大学生项目订单</option>
          <option>淘宝海尔官方旗舰店</option>
          <option>海尔生活家电旗舰店</option>
          <option>淘宝海尔官方旗舰店分销平台</option>
          <option>淘宝海尔生活家电旗舰店分销平台</option>
          <option>淘宝海尔买帮专卖店</option>
          <option>淘宝海尔热水器专卖店</option>
          <option>淘宝海尔生活电器专卖店</option>
          <option>淘宝海尔手机专卖店</option>
          <option>统帅日日顺乐家专卖店</option>
          <option>企业订单_建行龙卡商城订单</option>
          <option>企业订单_建行善融商城订单</option>
          <option>企业内购-建行</option>
          <option>企业订单</option>
          <option>企业订单_四季沐歌</option>
          <option>商城订单_海尔地产</option>
          <option>企业订单_1号店订单</option>
          <option>企业订单_大楼订单</option>
          <option>企业订单_内购</option>
          <option>企业订单_集采</option>
          <option>企业订单_B2B</option>
          <option>正品退货</option>
          <option>中国联通_广电</option>
          <option>淘宝海尔PAD专卖店</option>
          <option>海朋转TC订单</option>
          <option>海尔新宝旗舰店</option>
          <option>淘宝海尔新宝旗舰店分销平台</option>
          <option>C2B滚筒洗衣机订单</option>
          <option>移动商城</option>
          <option>平台大客户-工商银行</option>
          <option>平台大客户-1号店</option>
          <option>统帅分销</option>
          <option>不良品买损</option>
          <option>样品机</option>
          <option>日日顺</option>
          <option>商城订单-分销渠道</option>
          <option>海尔创客_PC端</option>
          <option>海尔创客_移动端</option>
          <option>国美在线</option>
          <option>夺宝机</option>
          <option>mooka模卡官方旗舰店</option>
          <option>京东模卡</option>
          <option>商圈小微</option>
          <option>亚马逊</option>
          <option>平台大客户-中石化</option>
          <option>统帅商城移动</option>
          <option>统帅商城PC</option>
          <option>电商平台-1号店自营</option>
          <option>电商平台-苏宁易购旗舰店</option>
          <option>电商平台-当当网</option>
          <option>新品平台众筹订单</option>
          <option>不良品换货订单来源</option>
          <option>电商平台-邮乐网</option>
          <option>电商平台-地产用户</option>
          <option>新品平台-海尔奇迹订单</option>
          <option>移动商城_有赞微商城</option>
          <option>海尔洗衣机官方旗舰店</option>
          <option>海尔冰冷官方旗舰店</option>
          <option>微店</option>
          <option>690创客</option>
          <option>海贝商城</option>
          <option>移动商城_口袋购物</option>
          <option>淘宝空调旗舰店</option>
          <option>微店_萌店</option>
          <option>优家移动</option>
          <option>移动社交</option>
          <option>商城订单_恒大项目</option>
          <option>国美统帅自营_电视家庭影音</option>
          <option>国美统帅自营_洗衣机</option>
          <option>国美统帅自营_冰箱</option>
          <option>国美统帅自营_空调</option>
          <option>国美统帅自营_厨卫电器</option>
          <option>天猫模卡分销店铺</option>
          <option>一号店统帅官方旗舰店</option>
          <option>生态授权店</option>
          <option>卡萨帝官方旗舰店</option>
        </select>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          关闭原因
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option>正常关闭</option>
          <option>强制关闭</option>
          <option>虚假封单</option>
          <option>客服原因</option>
        </select>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          收货联系人
        </span>
        <input class="easyui-textbox" name="tyMtd"/>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          收货电话
        </span>
        <input class="easyui-textbox" name="tyMtd"/>
      </div>

      <div class="search-row">
        <span class="search-row-label">
          所属工贸
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option>正常关闭</option>
          <option>强制关闭</option>
          <option>虚假封单</option>
          <option>客服原因</option>
        </select>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          物流中心
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option>正常关闭</option>
          <option>强制关闭</option>
          <option>虚假封单</option>
          <option>客服原因</option>
        </select>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          操作人
        </span>
        <input class="easyui-textbox" name="tyMtd"/>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          开始时间
        </span>
        <input class="easyui-datebox" name="periodCode"/>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          结束时间
        </span>
        <input class="easyui-datebox" name="measureName"/>
      </div>
      <div class="search-row" style="width:auto">
        <span class="search-row-label">
          责任位
        </span>
        <select class="easyui-combobox" name="productCode">
          <option value="">全部</option>
          <option value="0">大客户</option>
          <option value="1">京东渠道</option>
          <option value="2">模卡渠道</option>
          <option value="3">微店渠道</option>
          <option value="4">商城渠道</option>
          <option value="5">天猫渠道</option>
          <option value="6">统帅渠道</option>
          <option value="7">690电商渠道</option>
        </select>
        <select class="easyui-combobox" name="productCode">
          <option value="">全部</option>
          <option value="0">大客户</option>
          <option value="1">京东渠道</option>
          <option value="2">模卡渠道</option>
          <option value="3">微店渠道</option>
          <option value="4">商城渠道</option>
          <option value="5">天猫渠道</option>
          <option value="6">统帅渠道</option>
          <option value="7">690电商渠道</option>
        </select>
        <select class="easyui-combobox" name="platformCode">
          <option>全部</option>
          <option value="AA">AA-冰箱</option>
          <option value="AB">AB-冷柜</option>
          <option value="DA">DA-波轮洗衣机</option>
          <option value="DB">DB-滚筒洗衣机</option>
          <option value="CA">CA-家用空调</option>
          <option value="BA">BA-中央空调</option>
          <option value="BB">BB-商用空调</option>
          <option value="FA">FA-电热水器</option>
          <option value="FB">FB-燃气热水器</option>
          <option value="FC">FC-太阳热水器</option>
          <option value="FD">FD-微波炉</option>
          <option value="GA">GA-洗碗机</option>
          <option value="GB">GB-燃气灶</option>
          <option value="GC">GC-吸排油烟机</option>
          <option value="GD">GD-消毒柜</option>
          <option value="EA">EA-平板电视</option>
          <option value="GF">GF-烤箱</option>
          <option value="BD">BD-商用柜嵌空调</option>
          <option value="GE">GE-电风扇</option>
        </select>
      </div>
      <div class="search-row">
			<span class="search-row-label">
			  是否投诉
			</span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option value="AA">是</option>
          <option value="AB">否</option>
        </select>
      </div>

      <div class="search-row">
        <span class="search-row-label">
          工单号
        </span>
        <input class="easyui-textbox" name="rateM"/>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          商铺编号
        </span>
        <input class="easyui-textbox" name="rateM"/>
      </div>

      <div class="search-row">
        <span class="search-row-label">
          工单去向
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option value="0">SQM</option>
          <option value="1">HP</option>
          <option value="1">SJZX</option>
        </select>
      </div>

      <div class="search-row">
        <span class="search-row-label">
          工单类别
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option value="0">WA类</option>
          <option value="1">OTO类</option>
          <option value="1">小电类</option>
        </select>
      </div>
      <div class="search-row">
        <span class="search-row-label">
          订单渠道
        </span>
        <select class="easyui-combobox" name="xwCode" style="width: 174px;">
          <option>请选择</option>
          <option value="0">WA类</option>
          <option value="1">OTO类</option>
          <option value="1">小电类</option>
        </select>
      </div>
    </div>
    <a href="#" class="easyui-linkbutton" id="searchBtn_orderOp"
       data-options="iconCls:'icon-search',plain:true">查询</a>
    <a href="#" class="easyui-linkbutton" id="resetBtn_orderOp"
       data-options="iconCls:'icon-redo',plain:true">重置</a>
    <a href="#" class="easyui-linkbutton" id="addBtn" onclick="createDialog()"
       data-options="iconCls:'icon-add',plain:true">新增</a>
    <a href="#" class="easyui-linkbutton" detail
       data-options="iconCls:'icon-search',plain:true">查看</a>
    <a href="#" class="easyui-linkbutton" id="deleteBtn_orderOp"
       data-options="iconCls:'icon-save',plain:true">导出</a>
  </form>
</div>

<div id="detailDialog" data-options="title:'',resizable:true,modal:true"
     class="easyui-dialog add-dlg"
     style="width:1200px;height:300px;"
     closed="true" buttons="#dlg-buttons_detail">
  <div id="detailDiv" class="easyui-panel"
       style="width:100%;height:100%;"
       data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
    <table id="detailgrid">
      <tbody>
      <tr>
        <td>WP0117073014465</td>
        <td>PO7019657424</td>
        <td>W091710009353</td>
        <td>2017-08-09 09:51:55</td>
        <td>7019657424</td>
        <td>8564795808</td>
        <td>天猫渠道</td>
        <td>热水器</td>
        <td>电热水器</td>
        <td>GA0SF3000</td>
        <td>LEC5001-20X1</td>
        <td>10</td>
        <td>482.82</td>
        <td>4828.2</td>
        <td>552</td>
        <td>5520</td>
        <td>LGWA</td>
        <td>萝岗</td>
        <td>已入WA库</td>
        <td>2017-08-09 18:15:19</td>
        <td>2017-08-09 18:26:24</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="dlg-buttons_detail">
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#detailDialog').dialog('close')">关闭</a>
  </div>
</div>
<div id="importDialog" data-options="title:'',resizable:true,modal:true"
     class="easyui-dialog add-dlg"
     style="width:400px;height:300px;"
     closed="true" buttons="#dlg-buttons_import">
  <form id="importForm" method="post">
    <div style="margin-bottom:20px">
      <div>文件:</div>
      <input class="easyui-filebox" name="file1" data-options="prompt:'请选择一个文件...'"
             style="width:100%"
             required="true">
    </div>
  </form>
  <div id="dlg-buttons_import">
    <a href="#" class="easyui-linkbutton" id="importSave" iconCls="icon-ok">确认</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#importDialog').dialog('close')">关闭</a>
  </div>
</div>
<div id="addDlg" data-options="title:'',resizable:true,modal:true"
     class="easyui-dialog add-dlg"
     style="width:1200px;height:600px;"
     closed="true" buttons="#dlg-buttons">
  <form id="addForm" method="post">
    <input name="id" type="text" style="display:none;">
    <input __acttype="" type="hidden" value="add">
    <div style="float:left">
      <h2>工单</h2>
    </div>
    <div class="clearfix"></div>
    <div class="fitem">
      <label>订单号</label>
      <input class="easyui-textbox" name="field0" required="true">
    </div>
    <div class="clearfix"></div>
    <div class="fitem">
      <label>网单号</label>
      <input class="easyui-textbox" name="field1" required="true">
    </div>
    <div class="fitem">
      <label>咨询工单</label>
      <input type="checkbox" name="request">
    </div>
    <div class="fitem">
      <label>投诉信息</label>
      <input type="checkbox" class="main-checkbox" name="complete">
    </div>
    <div class="fitem">
      <a href="#" class="easyui-linkbutton" id="importSave" iconCls="icon-ok">推送HP系统</a>
    </div>
    <div class="fitem">
      <label>订单号</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>宝贝名称</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>数量</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>SKU编码</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>发票金额</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>收货电话</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>收货联系人</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>配送网点</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>下单时间</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>付款时间</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>所属区域</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>详细地址</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>配送时效(天)</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>所属工贸</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>人员</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>物流中心</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>订单来源</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>商铺编号</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>投诉电话</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>库存类型</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>订单渠道</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>投诉电话</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>库存类型</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>订单渠道</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>下单人</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="fitem">
      <label>TB编号</label>
      <input class="easyui-textbox" name="field2" readonly="readonly">
    </div>
    <div class="clearfix"></div>
    <div class="fitem">
      <input type="file" id="file" name="file" value="上传图片" style="width:100%"/>
    </div>
    <div class="clearfix"></div>
    <div style="float:left">
      <h2>用户反馈内容</h2>
    </div>
    <div class="clearfix"></div>
    <textarea name="productActivityInfo" id="productActivityInfo" style="width:400px;height:130px;"  required="true"></textarea>
    <div class="clearfix"></div>
    <div style="float:left">
      <h2>督办评价</h2>
    </div>
    <div class="clearfix"></div>
    <div class="fitem" style="width: 100%">
      <label>责任位</label>
      <select class="easyui-combobox" name="productCode">
        <option value="">全部</option>
        <option value="0">大客户</option>
        <option value="1">京东渠道</option>
        <option value="2">模卡渠道</option>
        <option value="3">微店渠道</option>
        <option value="4">商城渠道</option>
        <option value="5">天猫渠道</option>
        <option value="6">统帅渠道</option>
        <option value="7">690电商渠道</option>
      </select>
      <select class="easyui-combobox" name="productCode">
        <option value="">全部</option>
        <option value="0">大客户</option>
        <option value="1">京东渠道</option>
        <option value="2">模卡渠道</option>
        <option value="3">微店渠道</option>
        <option value="4">商城渠道</option>
        <option value="5">天猫渠道</option>
        <option value="6">统帅渠道</option>
        <option value="7">690电商渠道</option>
      </select>
      <select class="easyui-combobox" name="platformCode">
        <option>全部</option>
        <option value="AA">AA-冰箱</option>
        <option value="AB">AB-冷柜</option>
        <option value="DA">DA-波轮洗衣机</option>
        <option value="DB">DB-滚筒洗衣机</option>
        <option value="CA">CA-家用空调</option>
        <option value="BA">BA-中央空调</option>
        <option value="BB">BB-商用空调</option>
        <option value="FA">FA-电热水器</option>
        <option value="FB">FB-燃气热水器</option>
        <option value="FC">FC-太阳热水器</option>
        <option value="FD">FD-微波炉</option>
        <option value="GA">GA-洗碗机</option>
        <option value="GB">GB-燃气灶</option>
        <option value="GC">GC-吸排油烟机</option>
        <option value="GD">GD-消毒柜</option>
        <option value="EA">EA-平板电视</option>
        <option value="GF">GF-烤箱</option>
        <option value="BD">BD-商用柜嵌空调</option>
        <option value="GE">GE-电风扇</option>
      </select>
    </div>
    <div class="clearfix"></div>
    <div style="float:left">
      <h2>中间结果</h2>
    </div>
    <div class="clearfix"></div>
    <textarea name="productActivityInfo" id="productActivityInfo" style="width:100%;height:130px;"  required="true"></textarea>
    <div style="float:left">
      <h2>最终结果(<span style="color:red">注意:录入最终结果保存后,就不允许再次更改信息</span>)</h2>
    </div>
    <div class="clearfix"></div>
    <label>
      <label><input name="pass" type="radio"  checked="checked"/>通过</label>
      <label><input name="pass" type="radio" />不通过</label>
      <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" id="addDlgSaveBtn" iconCls="icon-reset">重置</a>
    </label>
    <div class="clearfix"></div>
    <textarea name="productActivityInfo" id="productActivityInfo" style="width:100%;height:130px;"  required="true"></textarea>
  </form>
  <div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" id="addDlgSaveBtn" iconCls="icon-ok">确认</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#addDlg').dialog('close')">关闭</a>
  </div>
</div>
<script type="application/javascript">

</script>
<script src="../static/js/report/workOrderList.js"></script>
<script src="../static/js/report/workOrder.js"></script>
</body>
</html>