<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <title>订单来源管理</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <script src="../static/js/i18n/zh_CN.js"></script>
</head>

<body class="iframe-body">
<div id="searchPanel" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
    <table id="dg">
    </table>
</div>

<div id="datagridToolbar">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="paramForm" class="param-form">
        <div class="search-panel">
            <div class="search-row">
                <span class="search-row-label">订单来源名称</span>
                <input class="easyui-text" id="orderSourceName_search" name="orderSourceName_search" style="">

            </div>
            <div class="search-row">
                <span class="search-row-label">订单来源编号</span>
                <input class="easyui-text" id="orderSourceNo_search" name="orderSourceNo_search" style="">
            </div>
            <div class="search-row">
                <span class="search-row-label">是否启用</span>
                <select  class="easyui-combobox" style="width:174px" id="issend_search" name="issend_search" panelHeight="auto" data-options="editable:false">
                    <option>-请选择-</option>
                    <option value='0'>启用</option>
                    <option value='1'>不启用</option>
                </select>
            </div>


        </div>
        <a href="#" class="easyui-linkbutton" id="searchBtn"
           data-options="iconCls:'icon-search',plain:true" onclick="searchReview()">查询</a>
        <a href="#" class="easyui-linkbutton" id="resetBtn_orderOp"
           data-options="iconCls:'icon-redo',plain:true"onclick="reset()">重置</a>
        <a href="#" class="easyui-linkbutton" id="addBtn"
           data-options="iconCls:'icon-add',plain:true"onclick="newBackList()">添加</a>
        <a href="#" class="easyui-linkbutton" id="addBtn"
           data-options="iconCls:'icon-search',plain:true"onclick="viewPool()">查看</a>

    </form>
</div>

<div id="addDlg" data-options="title:'',resizable:true,modal:true"
     class="easyui-dialog add-dlg"
     style="width:600px;height:200px;"
     closed="true" buttons="#dlg-buttons">
    <form id="addForm" method="post">
        <input name="id" type="text" style="display:none;">
        <input __acttype="" type="hidden" value="add">
        <div class="fitem">
            <label>订单来源名称:</label>
            <input class="easyui-textbox" id="valueMeaning" name="valueMeaning" style="width:125px;" data-options="required:true,validType:'length[0,150]'"  >
        </div>
        <div class="fitem">
            <label>订单来源编号:</label>
            <input class="easyui-textbox" id="value" name="value" style="width:125px;" data-options="required:true,validType:'length[0,30]'">
        </div>
        <div class="fitem">
            <label>是否启用:</label>
            <select  class="easyui-combobox" style="width:125px" id="deleteFlag" name="deleteFlag" data-options="required:true,editable:false">
                <option value='0'>启用</option>
                <option value='1'>不启用</option>
            </select>
        </div>

    </form>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" id="addDlgSaveBtn" iconCls="icon-ok" onclick="saveBackList()">确认</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#addDlg').dialog('close')">关闭</a>
    </div>
</div>

<div id="viewDlg" data-options="title:'',resizable:true,modal:true"
     class="easyui-dialog add-dlg"
     style="width:900px;height:300px;"
     closed="true" buttons="#viewdlg-buttons">
    <form id="viewForm" method="post">
        <input name="id" type="text" style="display:none;">
        <input __acttype="" type="hidden" value="add">
        <div class="fitem">
            <label>省:</label>
            <select class="easyui-combobox" id="provinceId_upd" name="provinceId_upd"data-options="editable:false" readonly >
            </select>
        </div>
        <div class="fitem">
            <label>市:</label>
            <select class="easyui-combobox" id="cityId_upd" name="cityId_upd" data-options="editable:false" readonly>
            </select>
        </div>
        <div class="fitem">
            <label>工贸:</label>
            <select class="easyui-combobox" id="companyId_upd" name="companyId_upd" data-options="editable:false" >
            </select>
        </div>
        <div class="fitem">
            <label>区县名称:</label>
            <select class="easyui-combobox" id="regionId_upd" name="regionId_upd" data-options="editable:false"  readonly>
            </select>
        </div>
        <input type='hidden' id="oldCompanyId" name="oldCompanyId" />
        <input type='hidden' id="oldCompanyName" name="oldCompanyName" />
    </form>
    <div id="viewdlg-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveBackList()">确认</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#viewDlg').dialog('close')">关闭</a>
    </div>
</div>
<script type="application/javascript">
    var dataGrid = $('#dg').datagrid({
        url:"/dictionary/findpagelist.ajax",
        fit: true,
        fitColumns : false,
        pagination: true,
        pageSize: 50,
        pageList: [ 50, 100, 200 ],
        autoRowHeight : true,
        striped : true,
        toolbar : '#datagridToolbar',
        rownumbers : true,
        nowrap : false,
        queryParams:{
            pageSize:20,
            pageIndex:1
        },
        columns: [
            [

                {
                    field: 'index',
                    title: '全选',
                    width: '20',
                    align: 'center',
                    checkbox: true
                },
                {
                    field:'valueMeaning',
                    title:'订单来源名称',
                    width:'150',
                    align:'center'
                },
                {
                    field:'value',
                    title:'订单来源编码',
                    width:'150',
                    align:'center'
                },
                {
                    field:'deleteFlag',
                    title:'是否启用',
                    width:'150',
                    align:'center',
                    formatter:function(v){
                        console.log(v);
                        if( v === 1 ){
                            return '不启用';
                        }else if(v === 0){
                            return '启用'
                        }
                    }
                }
            ]
        ]
    });
</script>
<script src="../static/js/report/workOrderSourceAdmin.js"></script>
##<script src="../static/js/report/dictionary.js"></script>
</body>
</html>