<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/third/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="/static/third/adminlte/css/AdminLTE.min.css">
    <!--<link rel="stylesheet" href="/static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="/static/third/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/static/third/ionicons/css/ionicons.min.css">-->

    <!--  <link rel="stylesheet" href="/static/third/easyui/themes/material/easyui.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/color.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/icon.css">-->

    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/easyui_plus.css">
    <!--<link rel="stylesheet" href="/static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/icon.css">


    <link rel="stylesheet" href="/static/css/common.css">
    <title>仓库基本信息</title>
    <script src="/static/third/jquery.js"></script>
    <script src="/static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/third/easyui/jquery.easyui.min.js"></script>
    <script src="/static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="/static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/easyui-extention_ws.js"></script>
    <script src="/static/js/customConfig.js"></script>
     <style type="text/css">
   .dlg{
     width:400px;
     height:100px;
     padding:10px;	
     margin-top:20px;	
    },
    easyui-panel.{
    overflow-x: show;
    }
  </style>
    
</head>
<body class="iframe-body">
<div id="searchPanel_orderForecastGoal" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
    collapsible:false">
    <table id="datagrid_warehouseListGoal"></table>
</div>
<div id="export">
    <form id="exportForm" action="#">
        <input id="order_sn" name="order_sn" type="text">
        <input id="source_order_sn" name="source_order_sn" type="hidden">
        <input id="order_Status" name="order_Status" type="hidden">
        <input id="source_e" name="source_e" type="hidden">
        <input id="o_id" name="o_id" type="hidden">
        <input id="express_no" name="express_no" type="hidden">
        <input id="addTime_start" name="addTime_start" type="hidden">
        <input id="addTime_end" name="addTime_end" type="hidden">
        <input id="code" name="code" type="hidden">
    </form>
</div>

<div id="datagridToolbar_orderForecastGoal">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="paramForm_orderForecastGoal" class="param-form">
        <div class="search-panel" style="font-size: 11px;">
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">渠道编码</span>
                <select id="source" name="source" class="easyui-combobox" data-options="editable:false" >
                <option value="">请选择渠道编码</option>
            	#foreach($cid in $cidList)
            		<option value="$cid.id">$cid.channelCode</option>
     			#end  
            </select>
            </div>
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">仓库编码</span>
                <input id="warehousecode" class="easyui-textbox" data-options="prompt:'请输入仓库编码'">
            </div>
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">仓库名称</span>
                <input id="warehousename" class="easyui-textbox" data-options="prompt:'请输入仓库名称'">
            </div>   
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">海尔仓库编码</span>
                <input id="warehousecodehaier" class="easyui-textbox" data-options="prompt:'请输入海尔仓库编码'">
            </div>  
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">海尔仓库名称</span>
                <input id="warehousenamehaier" class="easyui-textbox" data-options="prompt:'请输入海尔仓库名称'">
            </div> 
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">仓库类型</span>
                <select id="warehousetype" class="easyui-combobox" data-options="editable:false" >
                	<option value="">请选择仓库类型</option>
                    <option value="1">始发仓</option>
                    <option value="2">所属仓</option>                    
                </select>
            </div>   
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label_80">送达方编码</span>
                <input id="transmitcode" class="easyui-textbox" data-options="prompt:'请输入送达方编码'">
            </div>                 
        </div>
        <div class="search-row_nowidth">
        <a href="#" class="easyui-linkbutton" id="searchBtn"
           data-options="iconCls:'icon-search',plain:true">查询</a>
        <a href="#" class="easyui-linkbutton" id="resetBtn_orderForecastGoal"
           data-options="iconCls:'icon-redo',plain:true">重置</a>
        <a href="#" class="easyui-linkbutton" id="addBtn_orderForecastGoal"
           data-options="iconCls:'icon-add',plain:true">增加</a>
        <a href="#" class="easyui-linkbutton" id="editBtn_orderForecastGoal"
           data-options="iconCls:'icon-edit',plain:true">修改</a>
        <a href="#" class="easyui-linkbutton" id="deleteBtn_orderForecastGoal"
           data-options="iconCls:'icon-remove',plain:true">删除</a>
        </div>
    </form>
</div>
<div id="addDlg_warehouse" data-options="title:'增加',resizable:true,modal:true" class="easyui-dialog add-dlg"
     style="width:400px;height:444px;"
     closed="true" buttons="#dlg-buttons_orderForecastGoal">
    <form id="addForm_warehouse" method="post">
        <input id="id" name="id" type="text" style="display:none;"/>
        <input __actType type="hidden"/>
        <div class="fitem">
            <label>渠道名称<span style="color: red;">*</span></label>
            <select id="channelId" name="channelId" class="easyui-combobox" data-options="editable:false" onchange="autoLoad()">
        		<option value=""></option>
            	#foreach($cid in $cidList)
        		<option value="$cid.id">$cid.channelName</option>
     			#end  
            </select>
        </div>
        <div class="fitem">
            <label>仓库编码<span style="color: red;">*</span></label>
            <input id="warehouseCode" class="easyui-textbox" name="warehouseCode" required="true"/>
        </div>
        <div class="fitem">
            <label>仓库名称<span style="color: red;">*</span></label>
            <input id="warehouseName" class="easyui-textbox" name="warehouseName" required="true"/>
        </div>
        <div class="fitem">
            <label>海尔仓库编码<span style="color: red;">*</span></label>
            <input id="warehouseCodeHaier" class="easyui-textbox" name="warehouseCodeHaier" required="true"/>
        </div>
        <div class="fitem">
            <label>海尔仓库名称<span style="color: red;">*</span></label>
            <input id="warehouseNameHaier" class="easyui-textbox" name="warehouseNameHaier" required="true"/>
        </div>
        <div class="fitem">
            <label>仓库类型<span style="color: red;">*</span></label>
            <select id ="warehouseType" name="warehouseType" class="easyui-combobox" data-options="editable:false" onchange="getValTwo()">
                <option value="1">始发仓</option>
                <option value="2">所属仓</option> 
            </select>
        </div>
        <div id="pnameDiv" class="fitem">
            <label>始发仓</label>
            <select id="pid" name="pid" class="" data-options="editable:false" style="height: 33px;width: 137px;" >
            </select>
        </div>
        <div class="fitem">
            <label>送达方编码</label>
            <input id="transmitCode" class="easyui-textbox" name="transmitCode" />
        </div>
        <div class="fitem">
            <label>所在城市</label>
            <input id="city" class="easyui-textbox" name="city" />
        </div>
        <div class="fitem">
            <label>备注</label>
            <input id="remark" class="easyui-textbox" name="remark" />
        </div>
        <!--<div class="fitem">
            <label>状态 <span style="color: red;">*</span></label>
            <input class="easyui-textbox" name="status" required="true"/>
        </div>
        <div class="fitem">
            <label><span style="color: red;">*</span></label>
            <input class="easyui-datebox" name="createtime" required="true"/>
        </div>
        <div class="fitem">
            <label><span style="color: red;">*</span></label>
            <input class="easyui-textbox" name="createuser" required="true"/>
        </div>
        <div class="fitem">
            <label><span style="color: red;">*</span></label>
            <input class="easyui-datebox" name="updatetime" required="true"/>
        </div>
        <div class="fitem">
            <label><span style="color: red;">*</span></label>
            <input class="easyui-textbox" name="updateuser" required="true"/>
        </div>
        <div class="fitem">
            <label>删除标志<span style="color: red;">*</span></label>
            <input class="easyui-textbox" name="deleteflag" required="true"/>
        </div>-->
    </form>
    <div id="dlg-buttons_orderForecastGoal">
        <a href="#" class="easyui-linkbutton" id="addDlgSaveBtn_warehouse" iconCls="icon-ok">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#addDlg_warehouse').dialog('close')">取消</a>
    </div>
    </div>
<script type="text/javascript">
    function ajaxLoading() {
        $("<div class=\"datagrid-mask\" style='height: auto'></div>").css({
            display : "block",
            width : "100%",
            height : $(window).height()
        }).appendTo("body");
        $("<div class=\"datagrid-mask-msg\"></div>").html("正在处理，请稍候。。。").appendTo(
                "body").css({
            display : "block",
            height : "auto",
            left : ($(document.body).outerWidth(true) - 190) / 2,
            top : ($(window).height() - 45) / 2
        });
    }

    function ajaxLoadEnd() {
        $(".datagrid-mask").remove();
        $(".datagrid-mask-msg").remove();
    }function ajaxLoading() {
        $("<div class=\"datagrid-mask\" style='height: auto'></div>").css({
            display : "block",
            width : "100%",
            height : $(window).height()
        }).appendTo("body");
        $("<div class=\"datagrid-mask-msg\"></div>").html("正在处理，请稍候。。。").appendTo(
                "body").css({
            display : "block",
            height : "auto",
            left : ($(document.body).outerWidth(true) - 190) / 2,
            top : ($(window).height() - 45) / 2
        });
    }

    function ajaxLoadEnd() {
        $(".datagrid-mask").remove();
        $(".datagrid-mask-msg").remove();
    }
</script>
<script src="../static/js/pop/common/pop.js"></script>
<script src="/static/js/pop/warehouse/warehouseList.js"></script>
</body>
</html>