.iframe-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.datagrid_tool_bar {
  position: relative;
}

.search-panel {

}

.slide_up_span {
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: -116px;
  opacity: 0.1;
  cursor: pointer;
  width:10px;
  z-index: 9999;
}

.slide_up_span:hover {
  opacity: 1;
  color:#00e765;
}
.slide_up_span.open{
  animation:downAndUp .2s;
}
.slide_up_span.close{
  animation:downAndUp .2s;
}
.slide_line{
  display:block;
  margin-top:-2px;
  transform:rotate(90deg);
}
.slide_circle{
  display:block;
  font-size: 24px;
  transform:rotate(180deg) translateX(3px);
}

.search-row {
  padding-bottom: 5px;
  width: 300px;
  display: inline-block;
}
.search-row_400 {
  padding-bottom: 5px;
  width: 400px;
  display: inline-block;
}
.search-row_padd10 {
  padding-bottom: 10px;
  width: 300px;
  display: inline-block;
}
.search-row_400 {
  padding-bottom: 10px;
  width: 400px;
  display: inline-block;
}
.search-row_nowidth {
  padding-bottom: 5px;

  display: inline-block;
}
.search-row_nowidth_marginR {
  padding-bottom: 5px;
  margin-right: 6px;
  display: inline-block;
}
.search-row_nowidth input {
  width: 137px;
}
.search-row_240 {
  padding-bottom: 5px;
  width: 240px;
  display: inline-block;
}

.search-row-label {
  margin-right: 10px;
  display: inline-block;
  width: 100px;
  text-align: right;
}
.search-row-label_detail {
  margin-left: 15px;
  display: inline-block;
  width: 110px;
  text-align: left;
}
.search-row-label_80 {
  margin-right: 5px;
  display: inline-block;
  width: 85px;
  text-align: right;
}
.search-row-label_100 {
  margin-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.easyui-combobox {
  width: 137px;
}

.param-form {
  padding-top: 10px;
}

.add-dlg {
  padding: 10px 20px;
}

.ftitle {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.fitem {
  margin-bottom: 5px;
  display: inline-block;
  width: 250px;
}

.fitem label {
  display: inline-block;
  width: 100px;
}

.fitem input {
  width: 135px;
}

.search-icon {
  font-size: 16px;
  margin-top: 4px;
}

.datagrid-row-selected input {
  color: #000;
}

.l-btn-icon.fa {
  font-size: 16px !important;
  color: #54d03b;
}

.textbox .icon-clear {
  opacity: 0;
}

.textbox:hover .icon-clear {
  opacity: 1;
}
.down_up{
  animation:downAndUp .5s;
}
@keyframes downAndUp {
  0% {transform:translateY(0px)}
  50% {transform:translateY(50px)}
  0% {transform:translateY(0px)}
}
.no_background{
  background: none !important;
}

.datagrid-body .datagrid-editable {
  margin: 0 !important;
}
.mar_r6px{
  margin-right: 6px;
}