
.main-frame {
    border: 0;
    height: 99%;
    width: 100%;
}

.locale-image {
    width: 20px;
    height: 15px;
}

.locale-item {
    padding: 0 20px;
}

.titleInfo {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 10px 15px;
}

.skin-blue-light.sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
    border-left-color: #0a50a0;
}

.change-system {
    display: inline-block;
    margin-left: 5px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    background: url(../../static/third/easyui/themes/black/images/combo_arrow.png) right no-repeat;
    cursor: pointer;
}

.ehaier-systems {
    display: none;
    position: absolute;
    top: 43px;
    left: 100px;
    width: 100px;
    background: #0a50a0;
    padding: 0 10px 10px 10px;
    line-height: 35px;
}

.ehaier-systems a {
    font-size: 16px;
    line-height: 20px;
    color: #e0e0e0;
}

.ehaier-systems a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}