
.main-frame {
    border: 0;
    height: 99%;
    width: 100%;
}

.locale-image {
    width: 20px;
    height: 15px;
}

.locale-item {
    padding: 0 20px;
}

.titleInfo {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 10px 15px;
}

.skin-blue-light.sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
    border-left-color: #0a50a0;
}

.change-system {
    display: inline-block;
    margin-left: 5px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    background: url(../../static/third/easyui/themes/black/images/combo_arrow.png) right no-repeat;
    cursor: pointer;
}

.ehaier-systems {
    display: none;
    position: absolute;
    top: 43px;
    left: 145px;
    width: 100px;
    background: #0a50a0;
    padding: 0 10px 10px 10px;
    line-height: 35px;
}

.ehaier-systems a {
    font-size: 16px;
    line-height: 20px;
    color: #e0e0e0;
}

.ehaier-systems a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
/* no border */
.content-wrapper{
    border: 0 !important;
}
.content-wrapper{
    border: 0 !important;
}
.tabs{
    border: 0;
    padding-left:0;
}
.tabs li a.tabs-inner{
    border: 0;
}
.tabs-tool{
    border: 0;
}
.tabs-tool > a{
    margin-top: -8px;
}
.tabs-header{
    padding-top: 0;
}
.tabs li a.tabs-close {
    margin-top: -10px;
}

/* tab height */
.tabs-wrap ul{
    height: 32px !important;
    padding-left:0 !important;
}
.tabs-wrap ul li{
    margin: 0 !important;
}
.tabs-header{
    padding-top: 0px !important;
}
.tab li{
    margin: 0 !important;
}
.tabs-wrap ul li a:first-child{
    height: 32px !important;
    line-height: 32px !important;
}

/* 解决frame页高度100%出现滚动条bug */
.panel-body{
    position: relative !important;
  }


/* circle menu */
/* @import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#eee, #ccc);
  overflow: hidden;
} */

.selector {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-top: -70px;
    margin-left: -70px;
  }
  
  .selector, .selector button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  
  .selector button {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #428bca;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
  }
  
  .selector button:hover {
    background: #3071a9;
  }
  
  .selector button:focus {
    outline: none;
  }
  
  .selector ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
  }
  
  .selector li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
  }
  
  .selector li input {
    display: none;
  }
  
  .selector li input + a {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
  }
  
  .selector li input + a:hover {
    background: #f0f0f0;
  }
  
  .selector li input:checked + a {
    background: #5cb85c;
    color: white;
  }
  
  .selector li input:checked + a:hover {
    background: #449d44;
  }
  
  .selector.open li input + a {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: -40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }