.new-l-btn{
	border-radius: 5px 5px 5px 5px;
	background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
	border: 1px solid #bbb;
	font-size:12px;
	
}
.new-l-btn .l-btn-text{
	margin:0 4px 0px 24px !important;
}
.new-l-btn .l-btn-icon{
	left:4px;
}
.new-form-box{
	height:90px !important;
}