<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../vehicle/css/quickLink.css"/>
    <link rel="stylesheet" href="../vehicle/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vehicle/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../vehicle/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vehicle/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../vehicle/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../vehicle/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="../vehicle/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="../vehicle/css/common.css">
    <link rel="stylesheet" href="../vehicle/css/staticHtml.css">
    <style type="text/css">
    </style>
    <title></title>
    <script src="../vehicle/third/jquery.js"></script>
    <script src="../vehicle/js/jquery.cookie.js"></script>
    <script src="../vehicle/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vehicle/third/easyui/jquery.easyui.min.js"></script>
    <script src="../vehicle/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../vehicle/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../vehicle/js/utils.js"></script>
    <script src="../vehicle/js/easyui-extention_ws.js"></script>
    <script src="../vehicle/js/customConfig.js"></script>

    <style>
        .search-panel .kx-searchTable{width: 100%;}
        .search-panel .kx-searchTable th{text-align:left;padding:5px 10px;font-weight:normal;}
        .search-panel .kx-searchTable td{padding:5px;}
    </style>
</head>
<body class="iframe-body">
<!-- <div onmouseover="javascript:$(this).height('auto');" onmouseleave="$(this).height('15px');"></div> -->
<div id="datagridToolbar">
    <div class="search-panel">
        <table class="kx-searchTable">
            <tr>
                <th>订单号</th>
                <td ><input class="easyui-textbox" id="orderId" name="orderId"/></td>
                <th width="130px!important;">二次DN(85)单号</th>
                <td><input class="easyui-textbox" id="dnOrderId" name="dnOrderId"/></td>
                <th>状态</th>
                <td><select class="easyui-combobox" id="status" name="status"></select></td>
                <th>添加时间</th>
                <td><input class="easyui-datebox" id="startDate"> 至  <input class="easyui-datebox" id="endDate"></td>
            </tr>
        </table>
    </div>
    <form  id="exportForm" method="post">
        <input id="exportData" name="orderNoList" type="hidden"/>
        <input id="queryParam" name="queryParam" type="hidden"/>
    </form>
    <div style="" class="checkbox_css_1">
        <a href="javascript:void(0)" class="easyui-linkbutton" id="searchBtn"
           data-options="iconCls:'icon-search',plain:true">查询</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="searchBtn_dmmbcsMtlMeasure"
           data-options="iconCls:'icon-save',plain:true">导出</a>
    </div>
</div>
<div id="searchPanel" class="easyui-panel"
     style="width:100%;height:98%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
    collapsible:false">
    <table id="dataGrid">
    </table>
</div>


<script src="../vehicle/third/quicklink/common.js"></script>
<script src="../vehicle/third/quicklink/quick_links.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $(".textbox-text").keyup(function(){
            this.value=this.value.replace(/\s+/g,'');
        });
        $(".txt").keyup(function(){
            this.value=this.value.replace(/\s+/g,'');
        });
    });

    $(function(){
        //取得状态
        jQuery.getJSON("/vehicle/getStatus", function(result){
            var count = result.totalCount;
            var dataList = result.data;
            //添加全部
            dataList.unshift( {value:'ALL',value_meaning:'全部'});
            $("#status").combobox({
                data:dataList,
                valueField:'value',
                textField:'value_meaning',
                panelHeight:'auto',
                editable:false,
                value:'ALL'
            });
        });
    });


    $('#searchBtn').click(function () {
        var status;
        if($("#status").combobox("getValue")=="ALL"){
            status = "";
        }else{
            status = $("#status").combobox("getValue");
        }

        $('#dataGrid').datagrid({
            url:"/vehicle/findPushToSAPList",
            fit: true,
            fitColumns : false,
            pagination: true,
            pageSize: 50,
            pageList: [ 50, 100, 200 ],
            autoRowHeight : true,
            striped : true,
            toolbar : '#datagridToolbar',
            rownumbers : true,
            nowrap : false,
            queryParams: {
                orderId:$("#orderId").textbox("getValue"),
                dnOrderId:$("#dnOrderId").textbox("getValue"),
                startDate: $('#startDate').datebox('getValue'),
                endDate: $('#endDate').datebox('getValue'),
                status:status
            },
            loadFilter: function(data){
            	window.total = data.total;
            	window.searched = true;//标记是否已经查询
            	return data;
            },
            columns: [
                [
                    {
                        field: 'check',
                        title: '全选',
                        width: '20',
                        align: 'center',
                        checkbox: true
                    },
                    {
                        field:'cnStockSyncsId',
                        title:'订单号',
                        width:'200',
                        align:'center'
                    },
                    {
                    	title:'一次DN1',
                    	field:'vbelnDn1',
                        width:'300',
                        align:'center'
                    },
                    {
                    	title:'二次DN5',
                    	field:'vbelnDn5',
                        width:'300',
                        align:'center'
                    },
                    {
                    	title:'预约LBX备用DN',
                    	field:'vbelnSpare',
                        width:'300',
                        align:'center'
                    },
                    {
                    	title:'LBX单号',
                    	field:'lbx',
                        width:'300',
                        align:'center'
                    },
                    {
                    	title:'LBX入库数量',
                    	field:'actualQty',
                        width:'300',
                        align:'center'
                    },
                    {
                    	title:'订单数量',
                        field:'qty',
                        width:'300',
                        align:'center'
                    },
                    {
                        field:'pushData',
                        title:'推送数据',
                        width:'300',
                        align:'center',
                        formatter: formatLongText
                    },
                    {
                        field:'returnData',
                        title:'返回数据',
                        width:'400',
                        align:'center',
                        formatter: formatLongText
                    },
                    {
                        field:'status',
                        title:'状态',
                        width:'120',
                        align:'center',
                        formatter : function(value) {
                            if(value == 1){
                                return "推送成功";
                            }
                            if(value == 0){
                                return "未推送";
                            }
                            if(value == 2){
                                return "推送失败";
                            }
                        }
                    },
                    {
                        field:'message',
                        title:'信息',
                        width:'300',
                        align:'center'
                    },
                    {field:'addTime', title:'添加时间', width:'200',
                        formatter : function(value) {
                            var date = new Date(value);
                            var year = date.getFullYear().toString();
                            var month = (date.getMonth() + 1);
                            var day = date.getDate().toString();
                            var hour = date.getHours().toString();
                            var minutes = date.getMinutes().toString();
                            var seconds = date.getSeconds().toString();
                            if (month < 10) {
                                month = "0" + month;
                            }
                            if (day < 10) {
                                day = "0" + day;
                            }
                            if (hour < 10) {
                                hour = "0" + hour;
                            }
                            if (minutes < 10) {
                                minutes = "0" + minutes;
                            }
                            if (seconds < 10) {
                                seconds = "0" + seconds;
                            }
                            return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
                        }
                    },
                    {field:'processTime', title:'处理时间', width:'200', align:'center',
                        formatter : function(value) {
                            var date = new Date(value);
                            var year = date.getFullYear().toString();
                            var month = (date.getMonth() + 1);
                            var day = date.getDate().toString();
                            var hour = date.getHours().toString();
                            var minutes = date.getMinutes().toString();
                            var seconds = date.getSeconds().toString();
                            if (month < 10) {
                                month = "0" + month;
                            }
                            if (day < 10) {
                                day = "0" + day;
                            }
                            if (hour < 10) {
                                hour = "0" + hour;
                            }
                            if (minutes < 10) {
                                minutes = "0" + minutes;
                            }
                            if (seconds < 10) {
                                seconds = "0" + seconds;
                            }
                            return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
                        }
                    }
                ]
            ]
        });

    });

	function formatLongText(text){
		return '<div style="height:15px;padding:0px;text-align:left;" onmouseover="$(this).height(\'auto\');" onmouseleave="$(this).height(\'15px\');"><code>' + text + '</code></div>';
	}
	
	function showDetailText(div){
		$.messager.alert('详细信息', '<code>' + $(div).html() + '</code>')
	}

        //点击导出
    $('#searchBtn_dmmbcsMtlMeasure').click(function(){
    	if(!window.searched){
    		$.messager.alert('错误', '请先查询');
    		return;
    	}
        //获得选中行
        var checkedItems = $('#dataGrid').datagrid('getSelections');
        if(checkedItems && checkedItems.length > 0){
	        var exportData = new Array();
	        //将订单号存入Array
	        $.each(checkedItems, function(index, item){
	            exportData.push(item);
	        });
	        $("#exportData").val(JSON.stringify(exportData));
        }else{
        	
        	var total = window.total;
        	if(!total){
        		$.messager.alert('错误', '请先查询');
        		return;
        	}
        	if(total > 2000){
        		$.messager.alert('错误', '最多导出2000条数据，请缩小查询范围。');
        		return;
        	}
        	var status;
            if($("#status").combobox("getValue")=="ALL"){
                status = "";
            }else{
                status = $("#status").combobox("getValue");
            }
        	var queryParams = {
                orderId:$("#orderId").textbox("getValue"),
                dnOrderId:$("#dnOrderId").textbox("getValue"),
                startDate: $('#startDate').datebox('getValue'),
                endDate: $('#endDate').datebox('getValue'),
                status:status
            };
	        $("#queryParam").val(JSON.stringify(queryParams));
        }
        $('#exportForm').attr("action", '/vehicle/exportPushToSAPList.export');
        $('#exportForm').submit();
    });


</script>
</body>
</html>