<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <title>CRM正品退货</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <script src="../static/js/i18n/zh_CN.js"></script>

</head>

<body class="iframe-body">
<div id="searchPanel" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
    <table id="datagrid">
    </table>
</div>

<div id="datagridToolbar">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="filterForm" class="param-form">
        <div class="search-panel">
            <div class="search-row">
                <span class="search-row-label" style="width: 130px">退货单号（WP）：</span>
                <input id="wp_order_id" name="wp_order_id" class="easyui-textbox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">渠道：</span>
                <input id="channel" name="channel"  class="easyui-combobox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">品类：</span>
                <input id="cbsCategory" name="cbsCategory"  class="easyui-combobox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">产品组：</span>
                <input id="product_group" name="product_group"  class="easyui-combobox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">申请人：</span>
                <input id="request_user" name="request_user"  class="easyui-textbox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">状态：</span>
                <input id="flow_flag" name="flow_flag"  class="easyui-combobox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">提交日开始日：</span>
                <input id="commit_time_start" name="commit_time_start"  class="easyui-datebox"  style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">结束日：</span>
                <input id="commit_time_end" name="commit_time_end"  class="easyui-datebox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">品牌：</span>
                <input id="brand" name="brand"  class="easyui-combobox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">物料号：</span>
                <input id="materials_id" name="materials_id"  class="easyui-textbox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">型号：</span>
                <input id="model_id" name="model_id"  class="easyui-textbox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">库位：</span>
                <input id="storage_id" name="storage_id"  class="easyui-textbox"   style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label"  style="width: 130px">SO单号：</span>
                <input id="so_id" name="so_id"  class="easyui-textbox"   style="width:120px">
            </div>

        </div>
        <!-- 下面隐藏控件用来存放点击查询后的数据 -->
        <input id="wp_order_id_save" name="wp_order_id_save" type="hidden">
        <input id="request_user_save" name="request_user_save" type="hidden">
        <input id="flow_flag_save" name="flow_flag_save" type="hidden">
        <input id="commit_time_start_save" name="commit_time_start_save" type="hidden">
        <input id="commit_time_end_save" name="commit_time_end_save" type="hidden">
        <input id="brand_save" name="brand_save" type="hidden">
        <input id="cbsCategory_save" name="cbsCategory_save" type="hidden">
        <input id="product_group_save" name="product_group_save" type="hidden">
        <input id="materials_id_save" name="materials_id_save" type="hidden">
        <input id="model_id_save" name="model_id_save" type="hidden">
        <input id="channel_save" name="channel_save" type="hidden">
        <input id="storage_id_save" name="storage_id_save" type="hidden">
        <input id="so_id_save" name="so_id_save" type="hidden">
        <!-- 下面隐藏控件用来存放点击导出后的数据 -->
        <input id="exportData" name="exportData" type="hidden"/>

        <a id='search' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" >查询</a>
        <a id='downloadtmp' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" >下载模板</a>
        <a id='import' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">导入</a>
        <a id='delete' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">删除</a>
        <a id='commit' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">提交</a>
        <a id='cancel' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:true">取消</a>
        <a id="stopRefund" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:true">终止退货</a>
        <a id="cancelInWa" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:true">取消入WA提单</a>
        <a id='export' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">导出</a>
        <a id='exportall' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">全部导出</a>

    </form>
</div>
<div id="oprationWindow"  data-options="region:'center',title:'订单履历',border:false">
    <br/>
    <div style="height:340px;" data-options="region:'center',border:false"><table id="oprationDataGrid"></table></div>
</div>
<script type="text/javascript">
    var authMap = $!{authMap};
    if(authMap.productGroup.length == 1 && authMap.productGroup[0] == ''){
        $.messager.alert('错误', '请联系管理员分配权限', 'error');
    }
</script>
<script src="../static/js/purchase/crmGenuineRejectList.js"></script>

</body>
</html>