<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/css/jqueryui/base/jquery.ui.all.css"/>
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css"></link>
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css"></link>
    <link rel="stylesheet" href="../static/css/msg.css"></link>
    <link rel="stylesheet" type="text/css" href="../static/third/easyui/themes/gray/easyui.css"/>
    <link rel="stylesheet" href="../static/css/reset.css"></link>
    <script src="../static/third/jquery-1.8.3.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
	<style>
		.row {
			padding-top:20px;
			height:30px;
			width:100%;
		}
		.lable {
			text-align:right;
			width:15%;
		}
		.content {
			margin-left:5px;
			padding-left:20px;
			text-align:left;
			width:30%;
		}

	</style>
</head>

<body>
	<div id="tb" style="padding:5px;height:auto;margin-top:50px;">
	    <form id="filterForm" action="#">
	    	<lable><b>1.海尔时间闸口</b></lable>
			<table border="0"  cellpadding="0" cellspacing="0" style="padding:5px;height:auto;width:96%;margin-top:20px;margin-bottom:20px;">
				<tr class="row">
					<td class="lable">T+3渠道上报开闸闸口</td>
					<td class="content">
						<input id="CRMT3ReportOpenSettingId"  name="gateItemData[0].setting_id"  value="01CRMT+3渠道上报开闸闸口"  type="hidden" >
						<select style="width: 70px" id="gateItemData0setting_week" name="gateItemData[0].setting_week" style="width:50px;" value ="$!gateItemData[0].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData0setting_hour" name="gateItemData[0].setting_hour" style="width:40px;" value ="$!gateItemData[0].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData0setting_minute" name="gateItemData[0].setting_minute" style="width:40px;" value ="$!gateItemData[0].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData0setting_second" name="gateItemData[0].setting_second" style="width:40px;" value ="$!gateItemData[0].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
					</td>
					<td class="lable">T+3渠道上报关闸闸口</td>
					<td class="content">
						<input id="CRMT3ReportCloseSettingId" name="gateItemData[1].setting_id" value="02CRMT+3渠道上报关闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData1setting_week" name="gateItemData[1].setting_week" style="width:50px;" value ="$!gateItemData[1].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData1setting_hour" name="gateItemData[1].setting_hour" style="width:40px;" value ="$!gateItemData[1].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData1setting_minute" name="gateItemData[1].setting_minute" style="width:40px;" value ="$!gateItemData[1].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData1setting_second" name="gateItemData[1].setting_second" style="width:40px;" value ="$!gateItemData[1].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData0is_enabled" name="gateItemData[0].is_enabled" style="width:60px;" value ="$!gateItemData[0].is_enabled" class="easyui-combobox easyui-validatebox is_enabled"  editable="false" required="true"></select>
					</td>
				</tr>
				<tr class="row">
					<td class="lable">T+3提交开闸闸口</td>
					<td class="content">
						<input id="CRMT3CommitOpenSettingId" name="gateItemData[2].setting_id" value="03CRMT+3提交开闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData2setting_week" name="gateItemData[2].setting_week" style="width:50px;" value ="$!gateItemData[2].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData2setting_hour" name="gateItemData[2].setting_hour" style="width:40px;" value ="$!gateItemData[2].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData2setting_minute" name="gateItemData[2].setting_minute" style="width:40px;" value ="$!gateItemData[2].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData2setting_second" name="gateItemData[2].setting_second" style="width:40px;" value ="$!gateItemData[2].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
					</td>
					<td class="lable">T+3提交关闸闸口</td>
					<td class="content">
						<input id="CRMT3CommitCloseSettingId" name="gateItemData[3].setting_id" value="04CRMT+3提交关闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData3setting_week" name="gateItemData[3].setting_week" style="width:50px;" value ="$!gateItemData[3].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData3setting_hour" name="gateItemData[3].setting_hour" style="width:40px;" value ="$!gateItemData[3].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData3setting_minute" name="gateItemData[3].setting_minute" style="width:40px;" value ="$!gateItemData[3].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData3setting_second" name="gateItemData[3].setting_second" style="width:40px;" value ="$!gateItemData[3].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData2is_enabled" name="gateItemData[2].is_enabled" style="width:60px;" value ="$!gateItemData[2].is_enabled" class="easyui-combobox easyui-validatebox is_enabled"  editable="false" required="true"></select>
					</td>
				</tr>
				<tr class="row">
					<td class="lable">T+2渠道上报开闸闸口</td>
					<td class="content">
						<input id="CRMT2ReportOpenSettingId" name="gateItemData[4].setting_id" value="05CRMT+2渠道上报开闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData4setting_week" name="gateItemData[4].setting_week" style="width:50px;" value ="$!gateItemData[4].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData4setting_hour" name="gateItemData[4].setting_hour" style="width:40px;" value ="$!gateItemData[4].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData4setting_minute" name="gateItemData[4].setting_minute" style="width:40px;" value ="$!gateItemData[4].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData4setting_second" name="gateItemData[4].setting_second" style="width:40px;" value ="$!gateItemData[4].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
					</td>
					<td class="lable">T+2渠道上报关闸闸口</td>
					<td class="content">
						<input id="CRMT2ReportCloseSettingId" name="gateItemData[5].setting_id" value="06CRMT+2渠道上报关闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData5setting_week" name="gateItemData[5].setting_week" style="width:50px;" value ="$!gateItemData[5].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData5setting_hour" name="gateItemData[5].setting_hour" style="width:40px;" value ="$!gateItemData[5].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData5setting_minute" name="gateItemData[5].setting_minute" style="width:40px;" value ="$!gateItemData[5].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData5setting_second" name="gateItemData[5].setting_second" style="width:40px;" value ="$!gateItemData[5].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData4is_enabled" name="gateItemData[4].is_enabled" style="width:60px;" value ="$!gateItemData[4].is_enabled" class="easyui-combobox easyui-validatebox is_enabled"  editable="false" required="true"></select>
					</td>
				</tr>
				<tr class="row">
					<td class="lable">T+2产品部审核开闸闸口</td>
					<td class="content">
						<input id="CRMT2DepartCommotOpenSettingId" name="gateItemData[16].setting_id" value="17CRMT+2产品部提交开闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData16setting_week" name="gateItemData[16].setting_week" style="width:50px;" value ="$!gateItemData[16].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData16setting_hour" name="gateItemData[16].setting_hour" style="width:40px;" value ="$!gateItemData[16].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData16setting_minute" name="gateItemData[16].setting_minute" style="width:40px;" value ="$!gateItemData[16].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData16setting_second" name="gateItemData[16].setting_second" style="width:40px;" value ="$!gateItemData[16].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
					</td>
					<td class="lable">T+2产品部审核关闸闸口</td>
					<td class="content">
						<input id="CRMT2DepartCommitCloseSettingId" name="gateItemData[17].setting_id" value="18CRMT+2产品部提交关闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData17setting_week" name="gateItemData[17].setting_week" style="width:50px;" value ="$!gateItemData[17].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData17setting_hour" name="gateItemData[17].setting_hour" style="width:40px;" value ="$!gateItemData[17].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData17setting_minute" name="gateItemData[17].setting_minute" style="width:40px;" value ="$!gateItemData[17].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData17setting_second" name="gateItemData[17].setting_second" style="width:40px;" value ="$!gateItemData[17].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData16is_enabled" name="gateItemData[16].is_enabled" style="width:60px;" value ="$!gateItemData[16].is_enabled" class="easyui-combobox easyui-validatebox is_enabled"  editable="false" required="true"></select>
					</td>
				</tr>
				<tr class="row">
					<td class="lable">T+2供应链审核开闸闸口	</td>
					<td class="content">
						<input id="CRMT2CommitOpenSettingId" name="gateItemData[6].setting_id" value="07CRMT+2提交开闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData6setting_week" name="gateItemData[6].setting_week" style="width:50px;" value ="$!gateItemData[6].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData6setting_hour" name="gateItemData[6].setting_hour" style="width:40px;" value ="$!gateItemData[6].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData6setting_minute" name="gateItemData[6].setting_minute" style="width:40px;" value ="$!gateItemData[6].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData6setting_second" name="gateItemData[6].setting_second" style="width:40px;" value ="$!gateItemData[6].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
					</td>
					<td class="lable">T+2供应链审核关闸闸口	</td>
					<td class="content">
						<input id="CRMT2CommitCloseSettingId" name="gateItemData[7].setting_id" value="08CRMT+2提交关闸闸口" type="hidden"/>
						<select style="width: 70px"  id="gateItemData7setting_week" name="gateItemData[7].setting_week" style="width:50px;" value ="$!gateItemData[7].setting_week" class="easyui-combobox easyui-validatebox week"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData7setting_hour" name="gateItemData[7].setting_hour" style="width:40px;" value ="$!gateItemData[7].setting_hour" class="easyui-combobox easyui-validatebox hour"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData7setting_minute" name="gateItemData[7].setting_minute" style="width:40px;" value ="$!gateItemData[7].setting_minute" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>:
						<select style="width: 70px"  id="gateItemData7setting_second" name="gateItemData[7].setting_second" style="width:40px;" value ="$!gateItemData[7].setting_second" class="easyui-combobox easyui-validatebox minute"  editable="false" required="true"></select>
						<select style="width: 70px"  id="gateItemData6is_enabled" name="gateItemData[6].is_enabled" style="width:60px;" value ="$!gateItemData[6].is_enabled" class="easyui-combobox easyui-validatebox is_enabled"  editable="false" required="true"></select>
					</td>
				</tr>
			</table>

			<table border="0"  cellpadding="0" cellspacing="0" style="padding:5px;height:auto;width:96%;">
				<tr>
					<td colspan="4" style="text-align:center;width:98%;padding-top:10px;">
						<a id='saveButton' href="#" class="easyui-linkbutton" iconCls="icon-save">保存</a>
						<a id='defaultButton' href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="onDefault()">恢复默认</a>
					</td>
				</tr>
			</table>
	    </form>
	</div>
	<script type="text/javascript">
		$(function () {
			//取得是否启用列表
			var isEnabledList = eval('$!isEnabledList');
			var week = { "weekData": [
		            						{ "key": "1", "value":"周日" },
			            					{ "key": "2", "value":"周一" },
			            					{ "key": "3", "value":"周二" },
			            				　{ "key": "4", "value":"周三" }, 
			            				　{ "key": "5", "value":"周四" },
			            					{ "key": "6", "value":"周五" },
			            					{ "key": "7", "value":"周六" }
			            			　　]};
           	$(".week").combobox({
           			  data:week.weekData,
           			  valueField:'key',
           			  textField:'value',
           			  panelHeight:'auto',
           			  editable:false,
           			  value:'1'
           		});
			var hour = { "hourData": [
		            					{ "key": "0", "value":"00" },
		            					{ "key": "1", "value":"01" },
		            					{ "key": "2", "value":"02" },
		            				　{ "key": "3", "value":"03" }, 
		            				　{ "key": "4", "value":"04" },
		            					{ "key": "5", "value":"05" },
		            					{ "key": "6", "value":"06" },
		            					{ "key": "7", "value":"07" },
		            					{ "key": "8", "value":"08" },
		            					{ "key": "9", "value":"09" },
		            					{ "key": "10", "value":"10" },
		            					{ "key": "11", "value":"11" },
		            					{ "key": "12", "value":"12" },
		            				　{ "key": "13", "value":"13" }, 
		            				　{ "key": "14", "value":"14" },
		            					{ "key": "15", "value":"15" },
		            					{ "key": "16", "value":"16" },
		            					{ "key": "17", "value":"17" },
		            					{ "key": "18", "value":"18" },
		            					{ "key": "19", "value":"19" },
		            					{ "key": "20", "value":"20" },
		            					{ "key": "21", "value":"21" },
		            					{ "key": "22", "value":"22" },
		            				　{ "key": "23", "value":"23" }
		            			　　]};
     		$(".hour").combobox({
     			  data:hour.hourData,
     			  valueField:'key',
     			  textField:'value',
     			  panelHeight:'240',
     			  editable:false,
     			  value:'0'
     		});
			var minute = { "minuteData": [
		            					{ "key": "0", "value":"00" },
		            					{ "key": "1", "value":"01" },
		            					{ "key": "2", "value":"02" },
		            				　{ "key": "3", "value":"03" }, 
		            				　{ "key": "4", "value":"04" },
		            					{ "key": "5", "value":"05" },
		            					{ "key": "6", "value":"06" },
		            					{ "key": "7", "value":"07" },
		            					{ "key": "8", "value":"08" },
		            					{ "key": "9", "value":"09" },
		            					{ "key": "10", "value":"10" },
		            					{ "key": "11", "value":"11" },
		            					{ "key": "12", "value":"12" },
		            				　{ "key": "13", "value":"13" }, 
		            				　{ "key": "14", "value":"14" },
		            					{ "key": "15", "value":"15" },
		            					{ "key": "16", "value":"16" },
		            					{ "key": "17", "value":"17" },
		            					{ "key": "18", "value":"18" },
		            					{ "key": "19", "value":"19" },
		            					{ "key": "20", "value":"20" },
		            					{ "key": "21", "value":"21" },
		            					{ "key": "22", "value":"22" },
		            				　{ "key": "23", "value":"23" },
		            				　{ "key": "24", "value":"24" },
		            					{ "key": "25", "value":"25" },
		            					{ "key": "26", "value":"26" },
		            					{ "key": "27", "value":"27" },
		            					{ "key": "28", "value":"28" },
		            					{ "key": "29", "value":"29" },
		            					{ "key": "30", "value":"30" },
		            					{ "key": "31", "value":"31" },
		            					{ "key": "32", "value":"32" },
		            					{ "key": "33", "value":"33" },
		            					{ "key": "34", "value":"34" },
		            					{ "key": "35", "value":"35" },
		            					{ "key": "36", "value":"36" },
		            					{ "key": "37", "value":"37" },
		            					{ "key": "38", "value":"38" },
		            					{ "key": "39", "value":"39" },
		            					{ "key": "40", "value":"40" },
		            					{ "key": "41", "value":"41" },
		            					{ "key": "42", "value":"42" },
		            					{ "key": "43", "value":"43" },
		            					{ "key": "44", "value":"44" },
		            					{ "key": "45", "value":"45" },
		            					{ "key": "46", "value":"46" },
		            					{ "key": "47", "value":"47" },
		            					{ "key": "48", "value":"48" },
		            					{ "key": "49", "value":"49" },
		            					{ "key": "50", "value":"50" },
		            					{ "key": "51", "value":"51" },
		            					{ "key": "52", "value":"52" },
		            					{ "key": "53", "value":"53" },
		            					{ "key": "54", "value":"54" },
		            					{ "key": "55", "value":"55" },
		            					{ "key": "56", "value":"56" },
		            					{ "key": "57", "value":"57" },
		            					{ "key": "58", "value":"58" },
		            					{ "key": "59", "value":"59" }
		            			　　]};
		 	$(".minute").combobox({
					data:minute.minuteData,
					valueField:'key',
					textField:'value',
					panelHeight:'240',
					editable:false,
					value:'0'
		 		});
			$(".is_enabled").combobox({
					data: isEnabledList,
					valueField:'value',
					textField:'value_meaning',
					panelHeight:'auto',
					editable:false,
					required: true
			});
			 var i=0;
			   #foreach($gateItem in $!gateItemData)
			   		$("#gateItemData"+i+"setting_week").combobox('setValue',$!gateItem.setting_week);
			   		$("#gateItemData"+i+"setting_hour").combobox('setValue',$!gateItem.setting_hour);
			   		$("#gateItemData"+i+"setting_minute").combobox('setValue',$!gateItem.setting_minute);
			   		$("#gateItemData"+i+"setting_second").combobox('setValue',$!gateItem.setting_second);
			   		$("#gateItemData"+i+"is_enabled").combobox('setValue',$!gateItem.is_enabled);
			   		i++;
			   #end
		 	$("#saveButton").click(function(){
				jQuery.ajax({
		        	url: "/gatetime/modifyTimeGate",   // 提交的页面
					type: "POST",                   // 设置请求类型为"POST"，默认为"GET"
					data:$("#filterForm").serialize(),
					success: function (data) {
						var result = data.message;
						if(result){$.messager.alert('提示',result,'info', function(){
						});}
					}
		 		});
		 	});
		 	$("#defaultButton").click(function(){
		 		$.messager.confirm('确认','确定要将DB中的时间闸口数据恢复默认吗？', function(r){
		 			if (r){
						jQuery.ajax({
				        	url: "/gatetime/modifyTimeGate",   // 提交的页面
							type: "POST",                   // 设置请求类型为"POST"，默认为"GET"
							data:{updateFlag:"default"},
							success: function (data) {
								var result = data.message;
								if(result){
									$.messager.alert('提示',result,'info', function(){
										window.open("/gatetime/gotoModifyGate",'_self');
									});
								}
							}
				 		});
		 			}
	 			});
		 	});
		});
	</script>
</body>