<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <title>T+2订单产品部审核查询</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <script src="../static/js/i18n/zh_CN.js"></script>
    <script src="../static/js/purchase/serializeJson.js"></script>

</head>

<body class="iframe-body">
<div id="searchPanel" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
    <table id="datagrid">
    </table>
</div>

<div id="datagridToolbar">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="filterForm" class="param-form">
        <div class="search-panel">
            <div class="search-row">
                <span class="search-row-label">提报周：</span>
                <input id="report_year_week" readonly="readonly"  name="report_year_week" value="" class="easyui-textbox" style="width:120px;background-color: #EEEEEE">
            </div>
            <div class="search-row">
                <span class="search-row-label">渠道：</span>
                <input id="channel" name="channel"  class="easyui-combobox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">品类：</span>
                <input id="cbsCategory" name="cbsCategory"  class="easyui-combobox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">产品组：</span>
                <input id="product_group" name="product_group"  class="easyui-combobox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">订单号：</span>
                <input id="order_id" name="order_id"  class="easyui-textbox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">物料号：</span>
                <input id="materials_id" name="materials_id"  class="easyui-textbox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">库位：</span>
                <input id="storage_id" name="storage_id"  class="easyui-textbox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">订单类别：</span>
                <input id="order_category" name="order_category"  class="easyui-combobox" style="width:120px">
            </div>
            <div class="search-row">
                <span class="search-row-label">状态：</span>
                <input id="flow_flag" name="flow_flag"  class="easyui-combobox" style="width:120px">
            </div>
        </div>

        <input id="cbsCategory_save" name="cbsCategory_save" type="hidden">
        <input id="product_group_id_save" name="product_group_id_save" type="hidden">
        <input id="ed_channel_id_save" name="ed_channel_id_save" type="hidden">
        <input id="order_id_save" name="order_id_save" type="hidden"/>
        <input id="materials_id_save" name="materials_id_save" type="hidden"/>
        <input id="storage_id_save" name="storage_id_save" type="hidden"/>
        <input id="flow_flag_save" name="flow_flag_save" type="hidden"/>
        <input id="order_category_save" name="order_category_save" type="hidden"/>
        <!-- 下面隐藏控件用来存放点击导出后的数据 -->
        <input id="exportData" name="exportData" type="hidden"/>
        <!-- 下面隐藏控件用来存放点击审核后的数据 -->
        <input id="reviewData" name="reviewData" type="hidden"/>


        <a id='search' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">查询</a>
        <a id='export' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">导出</a>
        <a id='exportall' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">全部导出</a>
        <a id='review' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">审核</a>
        <a id='reviewall' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">全部审核</a>
    </form>
    <div id="modifycountDiv" style="display:none;padding:5px;width:300px;height:150px;" title="修改数量">
        请输入数量
        <input id="modifycount" type="text" class="easyui-numberbox"  precision="0" data-options="required:true,decimalSeparator:''" maxlength="9"/>
    </div>
</div>

<div id="reviewDiv" title="审核操作" class="easyui-layout" data-options="border : false">
    <!--  <div data-options="region:'center',title:'T+2订单审核详细页面',border:false" >
            <table id="dataGrid" style="height:410px"></table>
    </div>-->
    <div data-options="region:'center',border:false" style="display:none;height: 300px;overflow: auto; " align="left">
        <form id="reviewForm" action="#">
            <table align="left" >
                <tr>
                    <td>审核意见</td>
                    <td>
                        <input id='audit_remark' name='audit_remark' style="width:300px;height:110px;" autofocus =true style="overflow:auto" class="easyui-validatebox" data-options="validType:'minLength[5]'"validType="maxLength[2000]"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td  width="300px">
                        <a id='passReview' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">审核通过</a>
                        &nbsp;
                        <a id='nopassReview' href="" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:true">作废</a>
                        &nbsp;
                        <a id='close' href="#" class="easyui-linkbutton" data-options="iconCls:'icon-back',plain:true">返回</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script src="../static/js/purchase/t2OrderDepartReview.js"></script>
<script type="application/javascript">

    var authMap = $!{authMap};
    if(authMap.productGroup.length == 1 && authMap.productGroup[0] == ''){
        $.messager.alert('错误', '请联系管理员分配权限', 'error');
    }
    $(document).ready(function(){
        //接收当前周
        var report_year_week ="$!currentweek";
        $("#report_year_week").textbox('setValue',report_year_week);
        $(".textbox-text").keyup(function(){
            this.value=this.value.replace(/\s+/g,'');
        });
        $(".txt").keyup(function(){
            this.value=this.value.replace(/\s+/g,'');
        });
    });
</script>
</body>
</html>