<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户管理</title>
	<link rel="stylesheet" href="../../static/css/jqueryui/base/jquery.ui.all.css"/>
    <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css"></link>
    <link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css"></link>
    <link rel="stylesheet" href="../../static/css/msg.css"></link>
    <link rel="stylesheet" type="text/css" href="../../static/third/easyui/themes/gray/easyui.css"/>
    <link rel="stylesheet" href="../../static/css/reset.css"></link>
	<script src="../../static/third/jquery-1.8.3.min.js"></script>
    <script src="../../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>

    <style type="text/css">
        .centent
        {
            width: 260px;
        }
        .cententl
        {
            float: left;
        }
        
        .btnAdd
        {
            float: left;
            padding:30px 5px;
        }
    </style>
</head>

<body>
<div id="panel" class="easyui-layout" data-options="fit : true,border : false">
	<div data-options="region:'north',title:'查询条件',border:false" style="display:none;height: 120px;overflow: auto;" align="left" class="new-form-box">
		<form id="filterForm" action="#">
	    	<table>
	    		<tr>
	    			<td>登录账号</td>
	    			<td><input id="loginId"  name="loginId" class="easyui-textbox" style="width:173px"/></td>
	    			<td>用户姓名</td>
	    			<td><input id="userName"  name="userName" class="easyui-textbox" style="width:173px"/></td>
	    			<td>状态</td>
	    			<td>
	    			<input id="status" name="status" class="easyui-combobox" style="width:173px"></input>
	    		</tr>
	    		<tr>
	    			<td colspan="10">
		    			<a id='search' href="#" class="easyui-linkbutton new-l-btn" iconCls="icon-search">查询</a>
		    			<a id='import' href="#" class="easyui-linkbutton new-l-btn" iconCls="icon-edit">保存</a>
	    			</td>
	    		</tr>
	    	</table>
	    </form>
    </div>
    <div data-options="region:'center',title:'用户查询结果',border:false">
		    <table id="dataGrid"></table>
		    <div id="msgMask"></div>
			<div id="msg">正在处理，请稍待。。。</div>
	</div>
</div>

<div id="role" class="centent easyui-dialog" title="分配用户角色" style="display:none;width: 260px; height: 200px;" modal="true">
	<div style="display: none"><input id="id"></input></div>
	<div style="display: none"><input id="roleList"></input></div>
    <div class="cententl">
        <select multiple="multiple" id="select1" style="width: 100px; height: 160px;">
        </select>
    </div>
    <div class="btnAdd">
        <input type="button" id="btnAdd" value=" < " /><br />
        <input type="button" id="btnDel" value=" > " /><br />
    </div>
    <div>
        <select multiple="multiple" id="select2" style="width: 100px; height: 160px;">
        </select>
    </div>
</div>

<script type="application/javascript">

var dataList;
jQuery.getJSON("/sys/user/getStatus",function(result){
    dataList = result.data;
});

//点击查询
$('#search').click(function () {

//alert($("#userName").val());
	var status;
	if($("#status").val()=="ALL"){
		status = "";
	}else{
		status = $("#status").val();
	}
	//检索列表构筑
	if(datagrid){
		//grid刷新
	    $('#dataGrid').datagrid('load',
	    		{
		    	 loginId:$("#loginId").val(),
	    	     userName:$("#userName").val(),
	    	     status:status
	   	 });
	}else{
		//生成grid
	    datagrid = $('#dataGrid').datagrid({
	       url: "/sys/user/find",
	        fit: true,
	        pagination: true,
	        singleSelect: true,
	        checkOnSelect:true,
	        onDblClickCell:onDblClickCell,
	        pageSize: 100,
	        pageList: [1,2,100,200,300],
	        nowrap: false,
	        rownumbers: true,
	        queryParams: {
	        	 loginId:$("#loginId").val(),
	    	     userName:$("#userName").val(),
	    	     status:status
	        },
	        columns: [
	            [
	    	        {
	    	        	field:'operation', 
	    	        	title:'操作', 
	    	        	width:'100', 
	    	        	align:'center',
	                    formatter : function(value,row, index) {
	                    	return "<a id='oper' href='#' onclick='operation("+row.userId+")'>操作</a>";
	                    }
	    	        },
        	        {
        	        	field:'userId', 
        	        	title:'用户ID', 
        	        	width:'10', 
        	        	align:'center',
        	        	hidden:true
        	        },
			        {
			        	field:'userName', 
			        	title:'用户姓名', 
			        	width:'100', 
			        	align:'center',
			        	editor:'text'
			        },
			        {
			        	field:'status', 
			        	title:'状态', 
			        	width:'60', 
			        	align:'center',
			        	editor:{type:'combobox',
			        		options:{
			        		valueField:'value',
			        		textField:'value_meaning',
			        		data:dataList,
			        		required:true
			        		}
			        	},
	                    formatter : function(value) {
	                    	if(value == 1){
	                    		return "有效";
	                    	}
	                    	if(value == 0){
	                    		return "禁用";
	                    	}
	                    	if(value == -1){
	                    		return "删除";
	                    	}
	                    }
			        },
			        {
			        	field:'loginId', 
			        	title:'登录账号',
			        	width:'100', 
			        	align:'center'
//			        	editor:'text'
			        },
			        {field:'email', title:'邮箱', width:'120', align:'center',editor:'text'},
			        {field:'phone', title:'电话', width:'60', align:'center',editor:'text'},
			        {field:'mobile', title:'手机', width:'60', align:'center',editor:'text'},
			        {field:'updateUser', title:'最后更新人', width:'80'},
			        {field:'updateTime', title:'最后更新时间', width:'180',
	                    formatter : function(value) {
	                        var date = new Date(value);
	                        var year = date.getFullYear().toString();
	                        var month = (date.getMonth() + 1);
	                        var day = date.getDate().toString();
	                        var hour = date.getHours().toString();
	                        var minutes = date.getMinutes().toString();
	                        var seconds = date.getSeconds().toString();
	                        if (month < 10) {
	                            month = "0" + month;
	                        }
	                        if (day < 10) {
	                            day = "0" + day;
	                        }
	                        if (hour < 10) {
	                            hour = "0" + hour;
	                        }
	                        if (minutes < 10) {
	                            minutes = "0" + minutes;
	                        }
	                        if (seconds < 10) {
	                            seconds = "0" + seconds;
	                        }
	                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
	                    }
			        },
			        {field:'createUser', title:'创建人', width:'80', align:'center'},
			        {field:'createTime', title:'创建时间', width:'180', align:'center',
	                    formatter : function(value) {
	                        var date = new Date(value);
	                        var year = date.getFullYear().toString();
	                        var month = (date.getMonth() + 1);
	                        var day = date.getDate().toString();
	                        var hour = date.getHours().toString();
	                        var minutes = date.getMinutes().toString();
	                        var seconds = date.getSeconds().toString();
	                        if (month < 10) {
	                            month = "0" + month;
	                        }
	                        if (day < 10) {
	                            day = "0" + day;
	                        }
	                        if (hour < 10) {
	                            hour = "0" + hour;
	                        }
	                        if (minutes < 10) {
	                            minutes = "0" + minutes;
	                        }
	                        if (seconds < 10) {
	                            seconds = "0" + seconds;
	                        }
	                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
	                    }
			        }
	            ]
	        ]
	    });
	}
    $('#dataGrid').parent().find("div .datagrid-header-check").children("input[type='checkbox']").eq(0).attr("checked", false);
});

var editIndex = undefined;
function onDblClickCell(index,field,value){
	//启用单元格编辑
	//$("#dataGrid").datagrid('beginEdit', index);
	//var ed = $("#dataGrid").datagrid('getEditor', {index:index,field:field});
	
    if(endEdit()){
    	//给editIndex对象赋值，index为当前行的索引
        editIndex = index;  
        var selectRow = $('#dataGrid').datagrid('selectRow', editIndex);
        //启用单元格编辑  
        selectRow.datagrid('beginEdit', editIndex);  
    }
}

function endEdit() {
	//对editIndex进行判断单元格是否可以编辑
    if(editIndex == undefined) {
    	return true;
    }
      
    if($('#dataGrid').datagrid('validateRow',editIndex)) {
    	//结束当前行编辑
        $('#dataGrid').datagrid('endEdit',editIndex);
        editIndex = undefined;   
        return true;//重置编辑行索引对象，返回true，允许编辑  
     }  
    else {  
        return false;  
    }
}

$("#panel").click(function () {
    $('#dataGrid').datagrid('endEdit',editIndex);
    editIndex = undefined;   
    return true;//重置编辑行索引对象，返回true，允许编辑 
});

$("#import").click(function(){
	var row = $('#dataGrid').datagrid('getSelected');
	
	jQuery.ajax({
	    url: "/sys/user/update",
	    type: "POST",
	    data: {
	    		"userId": row.userId,
	    		"userName": row.userName,
	    		"userStatus": row.status,
	    		"loginId": row.loginId,
	    		"userEmail": row.email,
	    		"userPhone": row.phone,
	    		"userMobile": row.mobile
	    	},
		    success: function (data) {
		    	$('#add_Role').dialog('close');
		        $.messager.alert('提示', '用户修改成功', 'info');
			    $('#dataGrid').datagrid('load',{
		        	 loginId:$("#loginId").val(),
		    	     userName:$("#userName").val(),
		    	     status:status
			   	});
		    },
		    error: function (data) {
		    	$('#add_Role').dialog('close');
		    	$.messager.alert('提示', '用户修改失败', 'err');
		    }
	});
});

var datagrid;
$(function () {
	//取得状态
	jQuery.getJSON("/sys/user/getStatus", function(result){
		var count = result.totalCount;
		var dataList = result.data;
		//添加全部
		dataList.unshift( {value:'ALL',value_meaning:'全部'});
		$("#status").combobox({
			 data:dataList,
		     valueField:'value',
			 textField:'value_meaning',
			 panelHeight:'auto',
			 editable:false,
			 value:'ALL'
		});
	});
});
var roleId = Array();
function operation(index){
//	var row = $('#dataGrid').datagrid('getSelected');
	$("#id").val(index);

	jQuery.getJSON("/sys/role/user/unassigned",{userId:index},function(result){
		$("#select2").html("");
		$.each(result.rows,function(i,item){
			$("#select2").append("<option value="+item.roleId+">"+item.roleName+"</option>");
		});
	});
	
	jQuery.getJSON("/sys/role/user/assigned",{userId:index},function(result){
		$("#select1").html("");
		$.each(result.rows,function(i,item){
			$("#select1").append("<option value="+item.roleId+">"+item.roleName+"</option>");
		});
		$('#role').dialog('open');
	});
}
$(function () {
	$('#role').dialog('close');

    //删除角色
    $("#btnDel").click(function () {
    	btnDel();
        //获取选中的选项，删除自己并追加给对方
        $("#select1 option:selected").appendTo("#select2");
    });
    //添加角色
    $('#btnAdd').click(function () {
    	btnAdd();
        //获取选中的选项，删除自己并追加给对方
        $('#select2 option:selected').appendTo('#select1');
    });
    //双击选项
    //$('#select1').dblclick(function () { 
        //获取双击的选项,删除自己并追加给对方
        //$("option:selected", this).appendTo('#select2'); 
    //});
    //双击选项
    //$('#select2').dblclick(function () {
        //获取双击的选项,删除自己并追加给对方
        //$("option:selected", this).appendTo('#select1');
    //});
});

function btnDel(){
	$.ajax({
	    url: "/sys/role/user/unassign",
	    type: "POST",
	    data: {
	    		"userId": $("#id").val(),
	    		"roleIds": ""+$("#select1").val()+""
	    	},
		    success: function (data) {
		        $.messager.alert('提示', '删除用户角色成功', 'info');
                $('#role').dialog('close');
		    },
		    error: function (data) {
		    	$.messager.alert('提示', '删除用户角色失败', 'err');
                $('#role').dialog('close');
		    }
	});
}

function btnAdd(){
	$.ajax({
	    url: "/sys/role/user/assign",
	    type: "POST",
	    data: {
	    		"userId": $("#id").val(),
	    		"roleIds": ""+$("#select2").val()+""
	    	},
		    success: function (data) {
		        $.messager.alert('提示', '分配用户角色成功', 'info');
                $('#role').dialog('close');
		    },
		    error: function (data) {
		    	$.messager.alert('提示', '分配用户角色失败', 'err');
                $('#role').dialog('close');
		    }
	});
}

</script>
</body>
</html>