.kx-fleft {
  float: left;
}
.kx-fright {
  float: right;
}
.kx-clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
  overflow: hidden;
}
.kx-clearfix {
  display: block;
  zoom: 1;
}
.kx-clearfix:after {
  content: '\200B';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.kx-ml10 {
  margin-left: 10px;
}
.kx-p15 {
  padding: 15px;
}
.kx-posr {
  position: relative;
}
.kx-col2 {
  width: 49.5%;
}
.kx-topnav {
  float: right;
  margin-right: 15px;
  background-color: transparent;
}
.kx-footbtn {
  text-align: right;
  padding-top: 5px;
  padding-right: 15px;
}
.layui-input-block .ke-container {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}
.layui-input-block .ke-toolbar {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 5px;
}
.layui-input-block .ke-statusbar {
  display: none;
}
.kx-body-add .kx-selcat .kx-cat {
  margin-bottom: 8px;
  margin-left: 10px;
}
.kx-body-add .kx-thumb .thumb {
  overflow: hidden;
}
.kx-body-add .kx-thumb .thumb li {
  border: 1px solid #ddd;
  padding: 5px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}
.kx-body-add .kx-thumb .thumb li .layui-btn {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
}
.kx-body-add .kx-thumb .thumb li:hover .layui-btn {
  display: inline-block;
}
.kx-body-add .kx-thumb .thumb .imgw {
  width: 140px;
  height: 90px;
  text-align: center;
  vertical-align: middle;
}
.kx-body-add .kx-thumb .thumb .imgw img {
  max-width: 100%;
  max-height: 100%;
}
.kx-body-add .kx-thumb .btnw {
  padding-left: 10px;
}
.kx-body-list .layui-body {
  bottom: 0;
}
.kx-msgcat .layui-input-inline {
  width: 150px;
}
.kx-msgcat .layui-elem-quote .layui-btn {
  float: right;
  display: none;
}
.kx-msgcat .layui-elem-quote:hover .layui-btn {
  display: inline-block;
}
.kx-msgtag .layui-input-inline {
  width: 280px;
}
.kx-msgtag .layui-elem-quote .layui-icon {
  position: absolute;
  top: -12px;
  right: -2px;
  display: none;
}
.kx-msgtag .layui-elem-quote .kx-tag:hover .layui-icon {
  display: inline-block;
}
.kx-msgtag .kx-tag {
  margin-bottom: 8px;
  margin-left: 0px;
  position: relative;
}
.kx-msgtag .layui-field-box .layui-icon {
  position: absolute;
  top: -12px;
  right: -2px;
  display: none;
}
.kx-msgtag .layui-field-box .kx-tag:hover .layui-icon {
  display: inline-block;
}
.kx-body-main .layui-body {
  bottom: 0;
  overflow-y: auto;
}
.kx-body-main .kx-tab {
  margin: 0;
}
.kx-body-main .kx-tab .layui-tab-title {
  height: 44px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f2f2f2;
}
.kx-body-main .kx-tab .layui-tab-title li {
  line-height: 44px;
}
.kx-body-main .kx-tab .layui-tab-title li cite {
  font-style: normal;
}
.kx-body-main .kx-tab .layui-tab-title .layui-this {
  background-color: #1E9FFF;
  color: #fff;
}
.kx-body-main .kx-tab .layui-tab-title .layui-this i {
  color: #fff;
}
.kx-body-main .kx-tab .layui-tab-title .layui-this:after {
  border: 0px;
}
.kx-body-main .kx-tab .layui-tab-title .layui-tab-bar {
  height: 44px;
  line-height: 44px;
  border: 0px;
}
.kx-body-main .kx-tab .layui-tab-more {
  height: auto;
}
.kx-body-main .kx-tab .layui-tab-content {
  padding: 0px;
}
.kx-body-main .kx-tab .layui-tab-content iframe {
  width: 100%;
  border: 0;
  float: left;
}
