<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../static/third/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/third/adminlte/css/AdminLTE.min.css">
	<link rel="stylesheet" href="../../static/third/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_animation.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_plus.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css">
	<link rel="stylesheet" href="../../static/css/common.css">
	<title>Job配置</title>

	<style type="text/css">
		.dlg {
			width: 400px;
			height: 100px;
			padding: 10px;
			margin-top: 20px;
		}

		.easyui-panel {
			overflow-x: show;
		}
		.cententLeft{
			float:left;
			width:175px;
			height: 240px;
			margin:8px 3px;
			padding:0;
			border:0;
		}
		.btnAdd{
			float:left;
			width:30px;
			height:240px;
			margin:0;
			padding:0;
			border:0;
			text-align:center;
		}
		.cententRight{
			float:right;
			width:175px;
			height: 240px;
			margin:8px 3px;
			padding:0;
			border:0;
		}
		.combobox{
			width: 137px;
    		height: 32px;
			position: relative;
			border: 1px solid #ccc;
			background-color: #fff;
			vertical-align: middle;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			padding: 0;
		}
		h3{
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 5px;
			padding:0;
			font-family: 'Source Sans Pro',sans-serif;
			font-size: 24px;
			font-weight: 500;
    		line-height: 1.1;
		}
	</style>

</head>
<body class="iframe-body">
	<div
		id="searchPanel"
		class="easyui-panel"
		style="width:100%;height:100%;"
		data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,collapsible:false">
		<table id="dataGrid"></table>
	</div>

	<div id="datagridToolbar">
		<div class="slide_up_span open" onclick="slideUpSlideClk(this);">
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_circle fa fa-map-marker"></div>
		</div>
		<form class="param-form">
			<a href="/Job/PageJump" class="easyui-linkbutton" iconCls="icon-th">任务列表</a>
			<a href="/Job/JobLog" class="easyui-linkbutton" iconCls="icon-th">运行日志</a>
			<a href="/vehicle/InterfaceLog" class="easyui-linkbutton" iconCls="icon-th">整车接口日志</a>
			<a href="/purchase/InterfaceLog" class="easyui-linkbutton" iconCls="icon-th">采购接口日志</a>
		</form>
		<form id="filterForm" class="">
			<h3>Job配置</h3>
			<div class="search-panel" style="font-size: 12px;">
				<div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">Job名称</span>
					<input id="jobName" name="jobName" class="easyui-textbox" data-options="prompt:''">
				</div>
				<div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">状态</span>
					<select id="jobStatus" name="jobStatus" class="easyui-combobox" panelheight="auto" style="width: 141px;">
						<option value="1">启用</option>
						<option value="0">停用 </option>
					</select>
				</div>
			</div>

			<a href="javascript:void(0);"  class="easyui-linkbutton" id="btnSearch" data-options="iconCls:'icon-search',plain:true">查询</a>
			<a href="javascript:void(0);"  class="easyui-linkbutton" id="btnAdd" data-options="iconCls:'icon-add',plain:true">创建</a>
			<a href="javascript:void(0);"  class="easyui-linkbutton" id="btnAdd" onclick="toUpdate()" data-options="iconCls:'icon-edit',plain:true">修改</a>
			<a href="javascript:void(0);"  class="easyui-linkbutton" id="btnRun" data-options="iconCls:'icon-save',plain:true">运行一次</a>

		</form>
	</div>

	
	<div  id="dialog-message"  class="easyui-dialog" style="display:none;width:550px;height:250px;"  title="添加Job配置" modal="true">
		<div class="search-panel" style="font-size: 12px;margin:8px;">
			<div class="search-row_nowidth mar_r6px">
				<span class="search-row-label_80">Job名称</span>
				<input type="hidden" id="jobId" name="jobId"/>
				<input id="add-jobName" name="add-jobName" class="easyui-textbox" required="true"/>
			</div>
			<div class="search-row_nowidth mar_r6px">
				<span class="search-row-label_80">Job类型</span>
				<input id="add-jobType" name="add-jobType" class="easyui-textbox" required="true"/>
			</div>
			<div class="search-row_nowidth mar_r6px">
				<span class="search-row-label_80">Job状态</span>
				<select id="add-jobStatus" name="add-jobStatus" class="combobox"/>
					<option value="1" style="padding:5px 10px;">启用</option>
					<option value="0" style="padding:5px 10px;">停用 </option>
				</select>
			</div>
			<div class="search-row_nowidth mar_r6px">
				<span class="search-row-label_80">Job配置数据</span>
				<input id="add-cfgDataStr" name="add-cfgDataStr" class="easyui-textbox" required="true"/>
			</div>
			<div class="search-row_nowidth mar_r6px">
				<span class="search-row-label_80">cron表达式</span>
				<input id="add-cron" name="add-cron" class="easyui-textbox" required="true" >
			</div>
		</div>
		<div style="width:100%;margin-top:10px;text-align:center;">
			<button id="y" class="easyui-linkbutton" onclick="save()">保存</button>
			<button id="n" class="easyui-linkbutton">关闭</button>
		</div>
	</div>
           

            
<!-- 需引入的js -->
<script src="../../static/third/jquery.js"></script>
<script src="../../static/third/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/third/easyui/jquery.easyui.min.js"></script>
<script src="../../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../static/js/utils.js"></script>
<script src="../../static/js/easyui-extention_ws.js"></script>
<script src="../../static/js/customConfig.js"></script>
<!-- 自写的js -->
<script src="../static/js/job/job.js"></script>

<script type="text/javascript">
function slideUpSlideClk(t) {
	var $this = $(t);
	if ($this.hasClass('open')) {
		$this.removeClass('open');
		setTimeout(function () {
			$this.addClass('close');
		}, 0);
		$(".search-panel").slideUp();
	} else {
		$this.removeClass('close');
		setTimeout(function () {
			$this.addClass('open');
		}, 0);
		$(".search-panel").slideDown();
	}
	setTimeout(function () {
		$('#dataGrid').datagrid('resize');
	}, 500);
}

/*
$(document).ready(function(){
	$(".textbox-text").keyup(function(){
		this.value=this.value.replace(/\s+/g,'');
	});
});
*/
</script>
</body>
</html>