<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../static/third/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/third/adminlte/css/AdminLTE.min.css">
	<link rel="stylesheet" href="../../static/third/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_animation.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/easyui_plus.css">
	<link rel="stylesheet" href="../../static/third/easyui/themes/insdep/icon.css">
	<link rel="stylesheet" href="../../static/css/common.css">
	<title>采购接口日志</title>

	<style type="text/css">
		.dlg {
			width: 400px;
			height: 100px;
			padding: 10px;
			margin-top: 20px;
		}

		.easyui-panel {
			overflow-x: show;
		}
		.cententLeft{
			float:left;
			width:175px;
			height: 240px;
			margin:8px 3px;
			padding:0;
			border:0;
		}
		.btnAdd{
			float:left;
			width:30px;
			height:240px;
			margin:0;
			padding:0;
			border:0;
			text-align:center;
		}
		.cententRight{
			float:right;
			width:175px;
			height: 240px;
			margin:8px 3px;
			padding:0;
			border:0;
		}
		.combobox{
			width: 137px;
    		height: 32px;
			position: relative;
			border: 1px solid #ccc;
			background-color: #fff;
			vertical-align: middle;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			padding: 0;
		}
		h3{
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 5px;
			padding:0;
			font-family: 'Source Sans Pro',sans-serif;
			font-size: 24px;
			font-weight: 500;
    		line-height: 1.1;
		}
	</style>

</head>
<body class="iframe-body">
	<div
		id="searchPanel"
		class="easyui-panel"
		style="width:100%;height:100%;"
		data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,collapsible:false">
		<table id="dataGrid"></table>
	</div>

	<div id="datagridToolbar">
		<div class="slide_up_span open" onclick="slideUpSlideClk(this);">
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_line fa fa-window-minimize"></div>
			<div class="slide_circle fa fa-map-marker"></div>
		</div>
		<form class="param-form">
			<a href="/Job/PageJump" class="easyui-linkbutton" iconCls="icon-th">任务列表</a>
			<a href="/Job/JobLog" class="easyui-linkbutton" iconCls="icon-th">运行日志</a>
			<a href="/vehicle/InterfaceLog" class="easyui-linkbutton" iconCls="icon-th">整车接口日志</a>
			<a href="/purchase/InterfaceLog" class="easyui-linkbutton" iconCls="icon-th">采购接口日志</a>
		</form>
		<form id="filterForm" class="">
			<h3>采购接口日志</h3>
			<div class="search-panel" style="font-size: 12px;">
				<div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">日志名称</span>
					<input id="logName" name="logName" class="easyui-textbox" data-options="prompt:''">
				</div>
                <div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">日志类别</span>
                    <input id="logCategory"  name="logCategory" class="easyui-combobox"/>
				</div>
				<div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">备注信息</span>
					<input id="logMessage" name="logMessage" class="easyui-textbox" data-options="prompt:''">
				</div>
				<div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">开始时间</span>
					<input id="startTime" name="startTime" class="easyui-datebox" data-options="prompt:''">
				</div>
				<div class="search-row_nowidth mar_r6px">
					<span class="search-row-label_80">结束时间</span>
					<input id="endTime" name="endTime" class="easyui-datebox" data-options="prompt:''">
				</div>
			</div>
            <input id="exportData" name="purchaseLogList" type="hidden"/>
			<a href="javascript:void(0);"  class="easyui-linkbutton" id="search" data-options="iconCls:'icon-search',plain:true">查询</a>
            <a href="javascript:void(0);"  class="easyui-linkbutton" id="export" data-options="iconCls:'icon-save',plain:true">导出</a>
		</form>
	</div>

           

            
<!-- 需引入的js -->
<script src="../../static/third/jquery.js"></script>
<script src="../../static/third/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/third/easyui/jquery.easyui.min.js"></script>
<script src="../../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script src="../../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../static/js/utils.js"></script>
<script src="../../static/js/easyui-extention_ws.js"></script>
<script src="../../static/js/customConfig.js"></script>
<!-- 自写的js -->


<script type="text/javascript">
function slideUpSlideClk(t) {
	var $this = $(t);
	if ($this.hasClass('open')) {
		$this.removeClass('open');
		setTimeout(function () {
			$this.addClass('close');
		}, 0);
		$(".search-panel").slideUp();
	} else {
		$this.removeClass('close');
		setTimeout(function () {
			$this.addClass('open');
		}, 0);
		$(".search-panel").slideDown();
	}
	setTimeout(function () {
		$('#dataGrid').datagrid('resize');
	}, 500);
}

$(function () {
    $(".textbox-text").keyup(function(){
        this.value=this.value.replace(/\s+/g,'');
    });

    //取得状态
    jQuery.getJSON("/purchase/getStatus", function(result){
        var count = result.totalCount;
        var dataList = result.data;
        //添加全部
        dataList.unshift( {value:'ALL',value_meaning:'全部'});
        $("#logCategory").combobox({
            data:dataList,
            valueField:'value',
            textField:'value_meaning',
            panelHeight:'auto',
            editable:false,
            value:'ALL'
        });
    });

    var curr_time = new Date();
    var strDate = curr_time.getFullYear()+"-";
    strDate += curr_time.getMonth()+1+"-";
    strDate += curr_time.getDate()+"-";
    strDate += curr_time.getHours()+":";
    strDate += curr_time.getMinutes()+":";
    strDate += curr_time.getSeconds();
    $("#startTime").datebox("setValue", strDate);
    $("#endTime").datebox("setValue", strDate);

    //渲染表格
    $('#dataGrid').datagrid({
        fit: true,
        pagination: true,
        singleSelect: false,
        checkOnSelect: true,
        pageSize: 100,
        pageList: [50, 100, 200],
        nowrap: false,
        rownumbers: true,
        toolbar: '#datagridToolbar',
        queryParams: {
            logName: $("#logName").textbox('getValue'),
            logCategory: $("#logCategory").combobox('getText'),
            logMessage:$("#logMessage").textbox('getValue'),
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val()
        },
        columns: [
            [
                {field: 'check',title: '全选',width: '20',align: 'center',checkbox: true},
                {field:'interfaceId', title:'日志ID', width:'100', align:'center'},
                {field:'interfaceName', title:'日志名称', width:'300', align:'center'},
                {field:'interfaceCategory', title:'日志类别', width:'200', align:'center'},
                {field:'interfaceDate', title:'日志时间', width:'200', align:'center',
                    formatter : function(value) {
                        var date = new Date(value);
                        var year = date.getFullYear().toString();
                        var month = (date.getMonth() + 1);
                        var day = date.getDate().toString();
                        var hour = date.getHours().toString();
                        var minutes = date.getMinutes().toString();
                        var seconds = date.getSeconds().toString();
                        if (month < 10) {
                            month = "0" + month;
                        }
                        if (day < 10) {
                            day = "0" + day;
                        }
                        if (hour < 10) {
                            hour = "0" + hour;
                        }
                        if (minutes < 10) {
                            minutes = "0" + minutes;
                        }
                        if (seconds < 10) {
                            seconds = "0" + seconds;
                        }
                        return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
                    }
                },
                {field:'interfaceMessage', title:'备注', width:'600', align:'center',
                    formatter : function formatEncodeHtml(value, row, index) {
                        return encodeHtml(value);
                    }
                }
            ]
        ]
    });
});


    //点击查询
    $('#search').click(function () {
        $('#dataGrid').datagrid({
            url: "/purchase/findPurchaseLog",
            fit: true,
            pagination: true,
            singleSelect: false,
            checkOnSelect: true,
            pageSize: 100,
            pageList: [50, 100, 200],
            nowrap: false,
            rownumbers: true,
			toolbar: '#datagridToolbar',
            queryParams: {
                logName: $("#logName").textbox('getValue'),
                logCategory: $("#logCategory").combobox('getText'),
                logMessage:$("#logMessage").textbox('getValue'),
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val()
            },
            columns: [
                [
                    {field: 'check',title: '全选',width: '20',align: 'center',checkbox: true},
                    {field:'interfaceId', title:'日志ID', width:'100', align:'center'},
                    {field:'interfaceName', title:'日志名称', width:'300', align:'center'},
                    {field:'interfaceCategory', title:'日志类别', width:'200', align:'center'},
                    {field:'interfaceDate', title:'日志时间', width:'200', align:'center',
                        formatter : function(value) {
                            var date = new Date(value);
                            var year = date.getFullYear().toString();
                            var month = (date.getMonth() + 1);
                            var day = date.getDate().toString();
                            var hour = date.getHours().toString();
                            var minutes = date.getMinutes().toString();
                            var seconds = date.getSeconds().toString();
                            if (month < 10) {
                                month = "0" + month;
                            }
                            if (day < 10) {
                                day = "0" + day;
                            }
                            if (hour < 10) {
                                hour = "0" + hour;
                            }
                            if (minutes < 10) {
                                minutes = "0" + minutes;
                            }
                            if (seconds < 10) {
                                seconds = "0" + seconds;
                            }
                            return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
                        }
                    },
                    {field:'interfaceMessage', title:'备注', width:'600', align:'center',
                        formatter : function formatEncodeHtml(value, row, index) {
                            return encodeHtml(value);
                        }
                    }
                ]
            ]
        });
    });
this.REGX_HTML_ENCODE = /"|&|'|<|>|[\x00-\x20]|[\x7F-\xFF]|[\u0100-\u2700]/g;
function encodeHtml(s) {
    return (typeof s != "string") ? s :
            s.replace(this.REGX_HTML_ENCODE,
                    function ($0) {
                        var c = $0.charCodeAt(0), r = ["&#"];
                        c = (c == 0x20) ? 0xA0 : c;
                        r.push(c);
                        r.push(";");
                        return r.join("");
                    });
}

//点击导出
$('#export').click(function(){

    //获得选中行
    var checkedItems = $('#dataGrid').datagrid('getSelections');
    var exportData = new Array();
    //将订单号存入Array
    $.each(checkedItems, function(index, item){
        exportData.push(item.interfaceId);
    });
    $("#exportData").val(JSON.stringify(exportData));
    //判断是否都没选中
    if(exportData==null||exportData.length==0){
        //alert("请至少选择一行要导出的行！");
        $.messager.alert('错误','请至少选择一行要导出的行！','error');
        return;
    }
    $.messager.confirm('确认', '确定要导出吗？', function(r){
        if (r){
            $('#filterForm').attr("action", '/purchase/exportT2OrderInterfaceLogList.export');
            $('#filterForm').submit();
        }
    });
});

</script>
</body>
</html>