<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>pop</title>
	
	<link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css"></link>
	<link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css"></link>
	<link rel="stylesheet" href="../static/css/orderworkflow.css" />
	<link rel="stylesheet" href="../static/css/jquery.ui.all.css"/>
	

	<script src="../static/third/easyui/plugins/jquery.form.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.core.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.widget.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.mouse.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.button.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.draggable.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.position.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.resizable.js"></script>
	<script src="../static/third/jqueryui/jquery.ui.dialog.js"></script>
	<script src="../static/third/jquery-1.8.3.min.js"></script>
	
	
	
	<style type="text/css">
		input{ vertical-align:middle; margin:0; padding:0}                                                          
		.file-box{ position:relative;width:100%}                                                                   
		.txt{ height:22px; border:1px solid #cdcdcd; width:360px;}                                                  
		.btn{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;} 
 
         .layout {
             display: none;
             position: absolute;
             top: 20%;
             left: 40%;
             width: 20%;
             height: 20%;
             z-index: 1001;
             text-align:center;
         }
	</style>
</head>
<body id="body">
		pop
</body>
</html>