<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.distribute.data.dao.distribute.ChannelsDao" >
  <resultMap id="BaseResultMap" type="com.haier.distribute.data.model.Channels" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channelCode" property="channelCode" jdbcType="VARCHAR" />
    <result column="channelName" property="channelName" jdbcType="VARCHAR" />
    <result column="moneyLimit" property="moneyLimit" jdbcType="DECIMAL" />
    <result column="moneyLock" property="moneyLock" jdbcType="DECIMAL" />
    <result column="moneyAlert" property="moneyAlert" jdbcType="DECIMAL" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="createBy" property="createBy" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateBy" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
    <resultMap id="PushResultMap" type="com.haier.distribute.data.model.PushData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channelCode" property="channelCode" jdbcType="VARCHAR" />
    <result column="channelName" property="channelName" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendTime" jdbcType="VARCHAR" />
    <result column="sendInfo" property="sendInfo"  />
    <result column="sendStatus" property="sendStatus"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id, channelCode, channelName, moneyLimit, moneyLock, moneyAlert, sort, createBy, 
    createTime, updateBy, remark, updateTime
  </sql>
  
  <select id="selectChannels" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_channels_info
    where 1=1
  </select>
 
   <select id="selectId" resultType="java.lang.Integer" >
    select 
    id
    from t_channels_info
    where channelCode=#{distributionCode,jdbcType=VARCHAR}
  </select>
  
  <select id="findPushData" resultMap="PushResultMap" >
			SELECT
				ts.channelCode,
				tc.channelName,
				max(ts.sendTime) sendTime,
				ts.sendInfo,
				ts.sendStatus
			FROM
				t_channels_info tc,
				t_send_info_log ts
			WHERE
				tc.channelCode = ts.channelCode
			<if test="_parameter != null and _parameter !=''">
                <![CDATA[ and tc.channelName= #{_parameter}]]>
            </if> 
			GROUP BY
				ts.channelCode
  </select>
  
</mapper>