<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta charset="UTF-8">
    <title>营销费使用日志</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <script src="../static/js/i18n/zh_CN.js"></script>
    <style>
        .datagrid-header-rownumber{
            width: 50px!important;
            text-align: center;
            margin: 0px;
            padding: 3px 0;
        }
        .datagrid-cell-rownumber{
            width: 50px!important;
            text-align: center;
            margin: 0px;
            padding: 3px 0;
        }
    </style>
</head>
<body class="iframe-body">
<div id="searchPanel_costPools" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
    collapsible:false">
    <table id="datagrid"></table>
</div>

<div id="datagridToolbar_costPoolsUsedLogs">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="paramForm_costPoolsUsedLogs" class="param-form">
        <div class="search-panel" style="font-size: 11px;">
            <div class="search-row_nowidth mar_r6px">
			<span class="search-row-label">
			  订单号
			</span>
                <input class="easyui-textbox" id="orderSn" name="orderSn"/>
            </div>
            <span class="search-row-label">
					  记录起始时间
					</span>
            <div class="search-row_nowidth mar_r6px">

                <input class="easyui-datebox" id="addTimeMin" name="addTimeMin" editable="false" data-options="onShowPanel:function(){ $(this).datetimebox('spinner').timespinner('setValue','00:00:00');}"/>
            </div>
            <div class="search-row_nowidth mar_r6px">
                 <span class="search-row-label">
					  记录截至时间
					</span>
                <input class="easyui-datebox" id="addTimeMax" name="addTimeMax" editable="false" data-options="onShowPanel:function(){ $(this).datetimebox('spinner').timespinner('setValue','00:00:00');}"/>
            </div>
            <div class="search-row_nowidth mar_r6px">
                 <span class="search-row-label">
					  所属渠道
					</span>
                <select id="channel" name="channel" class="easyui-combobox" panelHeight="auto">
                    <option value="" selected="true">全部</option>
                    <option value="1">商城</option>
                    <option value="2">天猫</option>
                    <option value="3">电商平台</option>
                    <option value="4">微店</option>
                </select>
            </div>
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label">
					  所属产业
					</span>
                <select id="chanYe" name="chanYe" class="easyui-combobox">
                    <option value="" selected="true">全部</option>
                    <option value="C200076226">冰箱户</option>
                    <option value="C200076227">冷柜户</option>
                    <option value="C200076228">洗衣机户</option>
                    <option value="C200076229">空调户</option>
                    <option value="C200076230">热水器户</option>
                    <option value="C200076231">厨电户</option>
                    <option value="C200076232">彩电户</option>
                    <option value="C200076233">商用空调及其他</option>
                    <option value="C20170825">海尔集团电子商务有限公司(赠品)</option>
                </select>
            </div>
            <div class="search-row_nowidth mar_r6px">
                <span class="search-row-label">
					  费用类型
					</span>
                <select id="type" name="type" class="easyui-combobox" panelHeight="auto">
                    <option value="" selected="true">全部</option>
                    <option value="0" >赠品机</option>
                    <option value="1">优惠券</option>
                </select>
            </div>
            <div class="search-row_nowidth mar_r6px">
                 <span class="search-row-label">
					  费用使用方式
					</span>
                <select id="usedType" name="usedType" class="easyui-combobox" panelHeight="auto">
                    <option value="" selected="true">全部</option>
                    <option value="1">占用费用</option>
                    <option value="2">释放费用</option>
                    <option value="3">费用借调</option>
                </select>
            </div>
            <div class="search-row_nowidth mar_r6px">
                 <span class="search-row-label">
					  订单来源
					</span>
                <select class="easyui-combobox" id="source" name="source">
                    <option value="" selected="true">-订单来源-</option>
                     <!--国美-->
                   <option value="GMZX">国美海尔官方旗舰店</option>
                   <option value="GMZXTS">国美统帅官方旗舰店</option>
                   <!--苏宁-->
                   <option value="SNYG">苏宁统帅官方旗舰店</option>
                   <option value="SNHEGQ">苏宁海尔官方旗舰店</option>
                   <option value="SNQDZX">海尔渠道中心</option>
                   <!--当当-->
                   <option value="DDW">海尔当当旗舰店</option>
                   <!--京东-->
                   <option value="JDHEGQ">京东海尔官方旗舰店</option>
                   <option value="JDHEBXGQ">京东海尔集团冰箱官方旗舰店</option>
                    <!--天猫-->
                    <option value="TBSC">海尔官方淘宝旗舰店</option>
                    <option value="TBXCR">天猫小超人旗舰店</option>
                    <option value="TBCFDD">海尔厨房大电旗舰店</option>
                    <option value="TBZYKT">淘宝中央空调</option>
                    <option value="TOPBOILER">海尔热水器专卖店</option>
                    <option value="TONGSHUAI">淘宝网统帅日日顺乐家专卖店</option>
                    <option value="TOPFENXIAO">海尔官方旗舰店(分销平台)</option>
                    <option value="TMMK">mooka模卡官方旗舰店</option>
                    <option value="TMTV">海尔电视旗舰店</option>
                    <option value="TMKSD">天猫卡萨帝旗舰店</option>
                    <option value="FRIDGE">海尔冰冷旗舰店</option>
                    <option value="AIR">海尔空调旗舰店</option>
                    <option value="GQGYS">海尔官方旗舰店供应商</option>
                    <option value="XSST">淘宝WA线上生态授权店</option>
                    <option value="WASHER">海尔洗衣机旗舰店</option>
                </select>
            </div>

        </div>
        <a href="#" class="easyui-linkbutton" id="searchCostPoolsUsedLogs"
           data-options="iconCls:'icon-search',plain:true">查询</a>
        <a href="#" class="easyui-linkbutton" id="importCostPoolsUsedLogs"
           data-options="iconCls:'icon-save',plain:true">导出</a>
           <input id="exportData" name="exportData" type="hidden"/>
    </form>
</div>


<script src="../static/js/order/costPoolsUsedLogsList.js"></script>
</body>
</html>