<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<link>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css"></link>
    <!--<link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css"></link>
    <!--<link rel="stylesheet" href="../static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css"></link>
    <!--<link rel="stylesheet" href="../static/third/ionicons/css/ionicons.min.css">-->

    <!--  <link rel="stylesheet" href="../static/third/easyui/themes/material/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/color.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/icon.css">-->

    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css"></link>
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css"></link>
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css"></link>
    <!--<link rel="stylesheet" href="../static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css"></link>


    <link rel="stylesheet" href="../static/css/common.css"></link>
    <title>orderForecastGoal</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/easyui-extention.js"></script>
    <script src="../static/js/customConfig.js"></script>
</head>

<body class="iframe-body">
<div style="height:100%;width:100%;overflow:auto">
    <div id="orderDetail_div" style="padding-bottom: 20px;">
        <div id="paramForm_waAddressT" class="param-form" style="background-color:#d2e0f0;height: 45px ">
        <span style="margin-top: 5px;padding-left: 15px;padding-bottom: 5px;">
            订单信息
        </span>
        <input class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true"
               value="返回" onclick="goback()"
               style="margin-top: 5px;padding-left: 15px;padding-bottom: 5px;float: right;"/>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">

                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">订单号：</span>
                        <span class=""><input type="hidden" id ='orderSn' style="border: none;" readonly="readonly" value="$!bitMap.orderSn"/> </span>
                        <span class="">$!bitMap.orderSn</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">下单时间：</span>
                        <span>$!bitMap.addTime</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">下单人：</span>
                        <span>$!bitMap.consignee</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">首次确认时间：</span>
                        <span>$!bitMap.firstConfirmTime</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">交易流水号：</span>
                        <span>$!bitMap.tradeSn</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">订单来源：</span>
                        <span>$!bitMap.source</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">是否付款：</span>
                        <span>$!bitMap.paymentStatus</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">付款时间：</span>
                        <span>$!bitMap.payTime</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">支付方式：</span>
                        <span>$!bitMap.paymentName</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">销售代表(可空)：</span>
                        <span>$!bitMap.sellPeople</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">服务态度(可空)：</span>
                        <span>$!bitMap.sellPeopleManner</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">订单类型：</span>
                        <span style="color: red;">$!bitMap.orderType</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">来源订单编号：</span>
                        <span>$!bitMap.sourceOrderSn</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">配送时效(天)：</span>
                        <span>没有找到对应字段</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">配送距离(公里)：</span>
                        <span>没有找到对应字段</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">是否日日单：</span>
                        <span>$!bitMap.isProduceDaily</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">用户预约时间：</span>
                        <span>$!bitMap.bestShippingTime</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">订单状态：</span>
                        <span style="color: red;">$!bitMap.orderStatus</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">备注：</span>
                        <span class="">$!bitMap.remark</span>
                    </div>
                </div>
            </form>
        </div>
        <div id="recepitAddress" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
        <span style="padding-left: 15px;">
            发票邮寄地址
        </span>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">

                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">收件人：</span>
                        <span class="">$!bitMap.receiptConsignee</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">邮寄地址：</span>
                        <span>$!bitMap.receiptAddress</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">邮编：</span>
                        <span>$!bitMap.receiptZipcode</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">联系电话：</span>
                        <span>$!bitMap.receiptMobile</span>
                    </div>
                </div>
            </form>
        </div>
        <div id="receipt" class="param-form" style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="padding-left: 15px;">发票信息</span>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">

                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">发票类型：</span>
                        <span class="">$!bitMap.invoiceType</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">审核状态：</span>
                        <span>$!bitMap.Mstate</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">发票抬头：</span>
                        <span>$!bitMap.invoiceTitle</span>
                    </div>
                </div>
            </form>
        </div>
        <div id="productInfo" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
        <span style="padding-left: 15px;">
            商品信息
        </span>
        </div>
        <div style="width: 100%;height: 100px;overflow: auto">
            <table id="datagrid_orderForecastLogs"></table>
        </div>
        <div class="search-panel" style="margin-left: 16px;color: red;margin-right: 26px;">
            【订单商品总金额:￥558.00元】 【订单优惠金额:￥0.00元】 【订单使用积分:0】 【订单使用H码金额:￥0.00元】 【订单使用钻石:0.00】 【订单使用海贝积分:0.00】
            【订单使用金融积分:0.00】 【订单使用礼品卡金额:￥0.00元】 【订单余额支付金额:￥0.00元】 【订单应付款金额:￥558.00元】 【订单已支付金额:￥558.00元】
        </div>
        <div class="field-hints" style="margin-left: 16px;margin-right: 26px;">
            <p style="font-weight: bold;">注:
                如果是外部订单（外部订单是指不是在www.ehaier.com下的订单，标志是：“外部订单号”不为空）则有可能
                订单金额!=数量×商品价格+运费-外部优惠金额。因为外部订单传递的金额是计算后的，而且外部优惠金额没有同步存储到本系统中。
                如果是商城订单（商城订单是指在www.ehaier.com下的订单，标志是：“外部订单号”为空）商城订单的订单金额严格遵循“数量×商品价格+运费-商城优惠券抵用金额“。</p>
        </div>
        <div id="receivePerson" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="padding-left: 15px;">收货人信息</span>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">

                    <div class="search-row_padd10">
                        <span class="search-row-label_detail" style="float: left">所在地：</span>
                        <span class="">$!bitMap.regionName</span>
                    </div>
                    <div class="search-row_padd10" style="width: 600px;">
                        <span class="search-row-label_detail"
                              style="float: left;width: 300px">订单确认后的省、市、区县、街道、标建信息：</span>
                        <span>河北，石家庄，长安区，POI_ID:$!bitMap.poiId</span>
                    </div>
                </div>
            </form>
        </div>

        <div id="promotionRemark" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="padding-left: 15px;">优惠券信息备注</span>
        </div>
        <div style="width: 100%;height: 100px;overflow: auto">
            <table id="datagrid_Coupon"></table>
        </div>
        <div id="operateHistory" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="padding-left: 15px;">操作历史</span>
        </div>
        <div style="width: 100%;height: 100px;overflow: auto">
            <table id="datagrid_Operating_history"></table>
        </div>

    </div>
    <div style="text-align: center;height: 35px;background-color:#e8e8e8;padding-top: 10px;">Powered by PEC</div>
</div>
<script src="../static/js/order/orderDetail.js"></script>
</body>
</html>