<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <!--<link rel="stylesheet" href="../static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../static/third/ionicons/css/ionicons.min.css">-->

    <!--  <link rel="stylesheet" href="../static/third/easyui/themes/material/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/color.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/icon.css">-->

    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <!--<link rel="stylesheet" href="../static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">


    <link rel="stylesheet" href="../static/css/common.css">
    <title>退换货详情</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/easyui-extention.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/i18n/zh_CN.js"></script>
    <style>
        .search-row_padd10{
            width: 400px;
        }
        .search-row-label_detail{
            width: 150px;
        }
    </style>
</head>

<body class="iframe-body">
<div style="height:100%;width:100%;overflow:auto">
    <div id="orderDetail_div" style="padding-bottom: 20px;">
        <div id="paramForm_waAddressT" class="param-form" style="background-color:#d2e0f0;height: 45px ">
        <span style="margin-top: 5px;padding-left: 15px;padding-bottom: 5px;">
            基本信息
        </span>
##             <input class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true"
##                    value="返回" onclick="goback()"
##                    style="margin-top: 5px;padding-left: 15px;padding-bottom: 5px;float: right;"/>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >订单编号：</span>
                        <span class=""><a href="/operationArea/orderNumberSelect?orderSn=$!vo.orderSn">$!vo.orderSn</a></span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >网单编号：</span>
                        <a href="/operationArea/ProductView?cOrderSn=$!vo.cOrderSnId">$!vo.cOrderSnId</a>
                        #if($!vo.stocktype=='WA')
                            <span  style="color: red;font-size: 11px;">WA</span>
                        #end
                        #if($!vo.stocktype=='3W')
                            <span  style="color: red;font-size: 11px;">WWW</span>
                        #end
                        #if($!vo.typeFlag=='4')
                           <span  style="color: red;font-size: 11px;">拒收</span>
                        #end
                          #if($!vo.typeFlag=='5')
                           <span  style="color: red;font-size: 11px;">揽收</span>
                        #end
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >申请单号：</span>
                        <span>$!vo.id</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >申请时间：</span>
                        <span>$!vo.addTimeTs</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >联系人：</span>
                        <span>$!vo.contactName</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >手机：</span>
                        <span>$!vo.contactMobile</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >退换货类型：</span>
##                        <span>退货不退款$!vo.typeFlag
                        <span>
                            #if($!vo.typeFlag == 0)
                                普通
                            #elseif($!vo.typeFlag == 1)
                                基地库
                            #elseif($!vo.typeFlag == 2)
                                延保卡
                            #elseif($!vo.typeFlag == 3)
                                oto店铺自有库存订单(EC)
                            #elseif($!vo.typeFlag == 4)
                                #if($!vo.stocktype=='WA')
                                    WA
                                #end
                                #if($!vo.stocktype=='3W')
                                   WWW
                                #end
                                拒收
                            #elseif($!vo.typeFlag == 5)
                                #if($!vo.stocktype=='WA')
                                    WA
                                #end
                                #if($!vo.stocktype=='3W')
                                    WWW
                                #end
                                揽收
                            #elseif($!vo.typeFlag == 6)
                                to店铺自有库存订单(oto)
                            #elseif($!vo.typeFlag == 7)
                                净水
                            #elseif($!vo.typeFlag == 8)
                                海鹏
                            #elseif($!vo.typeFlag == 9)
                                向日葵
                            #elseif($!vo.typeFlag == 10)
                                消费金融
                            #elseif($!vo.typeFlag == 11)
                                OJO
                            #end
                        </span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >销售金额：</span>
                        <span>￥$!vo.price元</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >退款金额：</span>
                        <span>￥$!vo.offlineAmount元</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >原因：</span>
                        <span id="reason">$!vo.reason</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >描述：</span>
                        <span id="describe">$!vo.description</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >退换货单号：</span>
                        <span style="color: red;">	$!vo.repairSn</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >退货数量：</span>
                        <span>$!vo.count</span>
                    </div>
                    <!-- <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >退款方式：</span>
                        <span>修改退款方式 (目前没找到当前字段)</span>
                    </div> -->
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >要求服务完毕时间：</span>
                        <span>$!vo.requeStservieDateTS</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >要求描述：</span>
                        <span>$!vo.requetServiceRemark</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >是否线下退款：</span>
                        <span>否</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >要求线下退款原因：</span>
                        <span>$!vo.offlineReason</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >线下退款金额：</span>
                        <span class="">￥0.00元</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >线下退款金额备注：</span>
                        <span>$!vo.offlineRemark</span>
                    </div>
                    <div class="search-row_padd10" style="width: 700px">
                        <span class="search-row-label_detail"  >受理状态：</span>
                        <span class="">$!vo.status</span>
                        #if($!vo.status =="审核中")
						   <input type="button" onclick="Toexamines('tg');" style="width:60px;height:25px;border-radius:8px;" value="审核通过"/>
                        <input type="button" onclick="Toexamines('btg');" style="width:75px;height:25px;border-radius:8px;" value="审核不通过"/>
                        <span style="color: red;font-size: 11px;">请确认该订单是否存在关联订单</span>
						#end
						
						#if($!vo.status!="已终止"&&$!vo.status !="已驳回"&&$!vo.status != "受理完成")
                          #*<input type="button" value="终止逆向单" onclick="RepairsTermination();"/>*#
          				  <input id="repair" type="button" width 80px; value="终止逆向单" onclick="RepairsTermination();"/>
            			#end
                        <input id="Reaffirm" type="button" style="display:none;" value="确认终止" onclick="Reaffirmtion();"/>
                    </div>
                </div>
            </form>
        </div>
        <div id="recepitAddress" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
        <span style="padding-left: 15px;">
            款、票、货状态
        </span>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">

                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >当前付款状态：</span>
                        <span class="">$!vo.paymentStatusTS</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >当前发票状态：</span>
                        <span>$!vo.receiptStatusTS</span>
                    </div>
                    <div class="search-row_padd10">
                        <span class="search-row-label_detail"  >当前货物状态：</span>
                        <span>$!vo.storageStatusTS</span>
                        #if($!vo.shippingMode !="B2C" && (($!vo.storageStatusTS =="已出库"&&$!vo.status =="进行中") || ($!vo.stocktype =="WA"&&$!vo.status =="进行中"&&($!vo.storageStatusTS =="已出库" || $!vo.storageStatusTS =="未出库"))))
                         <input id="addBtn_orderForecastGoal" type="button" value="修改推送HP信息"/>
						#end
                    </div>
                </div>
            </form>
        </div>
        <div id="receipt" class="param-form" style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="margin-left: 15px;">HP退货工单状态</span>
        </div>
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">

                    <table id="getViewHP" class="easyui-datagrid" style="width:100%;height:auto" 
                   data-options="singleSelect:true,region:'center',remoteSort:false,rownumbers: true,showFooter: true">
               		 <thead>
                        <tr>
                         	<th data-options="field:'hpOrderFailStatus',width:150">生成工单结果</th>
                            <th data-options="field:'qualityStatus',width:150">HP退货工单状态</th>
                            <th data-options="field:'checkResultStatus',width:100">检验结果</th>
                            <th data-options="field:'checkTypeStatus',width:150">质检类型</th>
                             <th data-options="field:'secondaryTypeStatus',width:130">二次鉴定结果</th>
                            <th data-options="field:'woId',width:200">工单号</th>
                            <th data-options="field:'addTimeTs',width:200">鉴定结果回传时间</th>
                            <th data-options="field:'netPointCode',width:200">网点代码</th>
                            <th data-options="field:'machineNum',width:200">机编代码</th>
                            <th data-options="field:'addTimeTs',width:200">工单生成时间</th>
                            <th data-options="field:'hpOrderRemark',width:200">生成工单备注</th>
                            <th data-options="field:'zt1',width:200">破损责任方</th>
                            <th data-options="field:'inspector',width:200">原因</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>
        <div id="receip1t" class="param-form" style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="padding-left: 15px;">出入库状态</span>
        </div>
         #if($!vo.status !="已终止" && $!vo.shippingMode !="B2C")
            <input type="button" value="22库转41库" onclick="StockTransfer();"/>
            <input type="button" value="22库转10库" onclick="establishTenLibrary();"/>
		#end
        #if($!vo.status !="已终止" && $!vo.shippingMode =="B2C")
            <input type="button" value="入10库" onclick="b2cestablishTenLibrary();"/>
        #end
                              
        <div class="detail_content">
            <form class="param-form">
                <div class="search-panel">
                 <table id="gridViewFp" class="easyui-datagrid" style="width:100%;height:auto" 
                   data-options="singleSelect:true,region:'center',remoteSort:false,rownumbers: true,showFooter: true">
                <thead>
                <tr>   
                	<th data-options="field:'id', hidden:'true' ,width:200">提交时间</th>
                    <th data-options="field:'addTimeTs',width:200">提交时间</th>
                    <th data-options="field:'operateStatus',width:160">操作</th>
                    <th data-options="field:'storageType',width:120">批次</th>
                    <th data-options="field:'lesOrderSn',width:180">提单号</th>
                    <th data-options="field:'success',width:120">提单状态</th>
                    <th data-options="field:'lesOrderSnTimeTS',width:200">开提单时间</th>
                    <th data-options="field:'lesOutPing',width:200">出入库凭证号</th>
                    <th data-options="field:'lesOutPingTimeTs',width:200">回传时间</th>
                    <th data-options="field:'opration',width:160,formatter:opration">操作</th>
                </tr>
                </thead>
            </table>
                </div>
            </form>
        </div>

        <div id="operateHistory" class="param-form"
             style="background-color:#d2e0f0;padding-top: 5px;padding-bottom: 5px; ">
            <span style="padding-left: 15px;">操作历史</span>
        </div>
        <div class="detail_content" style="padding-left: 10px;padding-top:10px;">
                <table id="gridView" class="easyui-datagrid" style="width:100%;height:auto" 
                   data-options="singleSelect:true,region:'center',remoteSort:false,rownumbers: true,showFooter: true">
                <thead>
                <tr>
                    <th data-options="field:'addTimeTss',width:200">操作时间</th>
                    <th data-options="field:'cOrderSn',width:200">网单号</th>
                    <th data-options="field:'operator',width:200">操作人</th>
                    <th data-options="field:'operate',width:200">更改内容</th>
                    <th data-options="field:'remark',width:480">备注</th>
                </tr>
                </thead>
            </table>
        </div>
		
		
    </div>
    <div id="addDlg_areapeoplemanage" data-options="title:'增加',resizable:true,modal:true" class="easyui-dialog add-dlg"
     style="width:360px;height:525px;"
     closed="true" buttons="#dlg-buttons_orderForecastGoal">
    <form id="addForm_orderForecastGoal" method="post">
        <input name="id" type="text" style="display:none;"/>
        <input __actType type="hidden"/>
          <div class="fitem">
            <label>要求服务器完毕时间<span style="color: red;">*</span></label>
            <input id="requeStservieDateTS" name="requeStservieDateTS"
								class="easyui-datetimebox" style="width: 90%;"></input>
           (必填)
        </div>
          <div class="fitem">
            <label> 要求描述<span style="color: red;">*</span></label>
            <textarea id="requestServiceRemark" name="requestServiceRemark"
			class="easyui-validatebox" 
			style="width: 99%"></textarea>(必填)
        </div>
          <div class="fitem">
            <label>是否线下退款<span style="color: red;">*</span></label>
            <input name="offlineFlag" id="offlineFlag"
										value="" class="easyui-combobox"
										data-options="
			                  		    editable:false,
			                  		    required:true,
			                  		    panelHeight : 'auto',
			                  			valueField:'id',
			                  			textField:'text',
			                  			data:[
			                  				{'id':'1','text':'是'},
			                  				{'id':'2','text':'否'}
			                  			]
			                  		">
        </div>
          <div class="fitem">
            <label>线下退款原因<span style="color: red;"></span></label>
            <textarea id="offlineReason" name="offlineReason"
			class="easyui-validatebox" 
			style="width: 99%"></textarea>
        </div>
          <div class="fitem">
            <label>线下退款金额<span style="color: red;"></span></label>
            <input class="easyui-textbox" id="offlineAmount" name="offlineAmount" required="true"/>
        </div>
          <div class="fitem">
            <label>退款金额备注<span style="color: red;"></span></label>
           <textarea id="offlineRemark" name="offlineRemark"
			class="easyui-validatebox"
			style="width: 99%"></textarea>
        </div>
    </form>
    <div id="dlg-buttons_orderForecastGoal">
        <a href="#" class="easyui-linkbutton" id="addDlgSaveBtn_orderForecastGoal" iconCls="icon-ok">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#addDlg_areapeoplemanage').dialog('close')">取消</a>
    </div>
</div>
    <div style="text-align: center;height: 35px;background-color:#e8e8e8;padding-top: 10px;">Powered by PEC</div>
</div>

<div id="Apply" data-options="title:'',resizable:true,modal:true"
     class="easyui-dialog add-dlg"
     style="width:600px;height:300px;"
     closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <dl>
            <dd style="width:100%;">确认终止该退款申请吗？
                <font style="color: red">（请注意：如线下已退款，请不要终止申请!）</font>
            </dd>
            <dd>
                请选择终止原因：<br>
                <select id="stopReason" >
                    <option value="1">线下转账</option>
                    <option value="2">网点POS打款</option>
                    <option value="3">用户又要货</option>
                    <option value="4">线下办理</option>
                    <option value="5">网点买单</option>
                    <option value="6">物流买单</option>
                    <option value="7">3W菜鸟物流状态不一致</option>
                </select><br>
                <textarea name="remark" rows="12" style="width:350px;">
选择 线下转账 请完善以下信息
打款人:
打款账号:
金额:
日期:

选择 网点POS打款 请完善以下信息
终端号:
交易参考号:
金额:
日期:
			</textarea>
            </dd>
        </dl>
    </form>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" id="Submission" iconCls="icon-ok">确认</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#Apply').dialog('close')">关闭</a>
    </div>
</div>

<script>
    function timeDataBox(){
        var curr_time=new Date();
        var strDate=curr_time.getFullYear()+"-";
        strDate +=curr_time.getMonth()+1+"-";
        strDate +=curr_time.getDate()+1+"-";
        strDate +=" "+curr_time.getHours()+":";
        strDate +=curr_time.getMinutes()+":";
        strDate +=curr_time.getSeconds();
        $("#requeStservieDateTS").datetimebox("setValue",strDate);
    }
   var flog = "";
    var goback = function () {
        window.history.back();
    };
    
    $(function () {
        var terminationReasona =('$!vo.terminationReason');
        var handleStatus=($!vo.handleStatus);
        if((terminationReasona=='线下转账' || terminationReasona=='网点买单' || terminationReasona=='物流买单') && handleStatus!="6"){
            var ui =document.getElementById("repair");
            ui.style.display="none";
            var ui =document.getElementById("Reaffirm");
            ui.style.display="";
        }


    	//给操作日志datagrid 赋值
    	var datagridDataRz = {
      		    'data': {
      		        'records':
      		        	$!list
      		            }
    	  }
    	$("#gridView").datagrid('loadData', datagridDataRz);
    	//给出入库datagrid 赋值
    	var datagridDataFp = {
      		    'data': {
      		        'records':
      		        	$!repairlist
      		            }
    	  }
    	$("#gridViewFp").datagrid('loadData', datagridDataFp);
    	//给HP退货工单状态赋值
    	var datagridHP = {
      		    'data': {
      		        'records':
      		        	$!hpRecordsList
      		            }
    	  }
    	$("#getViewHP").datagrid('loadData', datagridHP);
    	
    	
    	   $("#addBtn_orderForecastGoal").on('click', function (event) {
               var province=("$!vo.province");
               var city=("$!vo.city");
               var region=("$!vo.region");
               console.log(province,city,region);
               var cordersn=("$!vo.cOrderSnId");
    	       if((province==null || province=="0") || (city==null || city=="0") || (region==null || region=="0")){
                   $.messager.alert("提示",cordersn+'网单号没有省市区信息，请联系运维进行维护');
                    return;
               }
    	        $('#addForm_orderForecastGoal').form('reset');
    	        $('#addForm_orderForecastGoal').find('[__actType]').val('add');
    	        $('#addDlg_areapeoplemanage').dialog({'title': '新增'});
    	        $('#addDlg_areapeoplemanage').dialog('open');

    	        //添加要求描述
               $("#requestServiceRemark").val("原因:" + $("#reason").text() + "  " + "描述:" + $("#describe").text());
               $('#offlineFlag').combobox('setValue', '2');
    	        timeDataBox();
    	    });
    	   //推送Hp信息
    	   $("#addDlgSaveBtn_orderForecastGoal").click(function(){
    		   ModifyPushHP();
           });   
    	   
    	   
    	
    })
    function Toexamines(falg){
    	var title= "";
    	var status = ""; //通过 和不通过
    	if(falg=='tg'){
    		title ='审核通过';
    		status ="2";
    	}else {
    		title ='审核不通过';
    		status ="5";
    	}
		$.messager.prompt(title, '确认开始受理退款申请吗？', function(r){
			if (r!=undefined){
				  $.ajax({
				         url      : "/operationArea/Toexamine",
				         type     : 'POST',
				         dataType : 'json',
				          data     : {
				        	  	id : "$!vo.id",
				        	  	status :status,
				        	    handleRemark :r,
				        	    cOrderSn :"$!vo.cOrderSnId",
                                handleStatus:"$!vo.handleStatus"
				         }, 
				         success  : function(data) {
				        	 $.messager.progress('close');
				                $.messager.alert('提示', data.msg, 'info', function(){
				                    if(data.success){
				                    	window.location.reload();
				                    }
				                });
				         }
				});
			}
		});
	}
    
    function  ModifyPushHP(){
    	var params = $('#addForm_orderForecastGoal').serializeObject();
    	
    	params.id ="$!vo.id";
    	params.cOrderSnId="$!vo.cOrderSnId";
    	var requestRemark = $('#requestServiceRemark').val();
    	if (requestRemark == '' || requestRemark == null){
            $.messager.alert("提示","请填写推送HP描述！");
            return;
        }
    	if($("#offlineFlag").combobox("getValue") =='' || $("#offlineFlag").combobox("getValue")==null){
    	$.messager.alert("提示","请选择是否线下退款");
    	return;
    	}
    	$.messager.confirm("提示", '确认推送HP？', function(r){
			if (r){
				$.messager.progress({
	                text : '正在执行操作，请稍等！',
	            });
				  $.ajax({
				         url      : "/operationArea/ModifyPushHP",
				         type     : 'POST',
				         dataType : 'json',
				         contentType : "application/json;charset=utf-8",
				         data        : JSON.stringify(params),
				         success  : function(data) {
				        	 $.messager.progress('close');
				                $.messager.alert('提示', data.msg, 'info', function(){
				                    if(data.success){
				                    	$.messager.progress('close');
				                    	window.location.reload();
				                    }
				                });
				         }
				});
			}
		});
    }

    //确认终止逆向单申请
  $("#Submission").on('click', function () {
        var options=$("#stopReason option:selected");
        var data = $("#fm").serializeArray();
        var Reason=(options.text());
        var handleRemark=(data[0].value);
        var  handleStatus;
        if(Reason=='线下转账' || Reason=='网点买单' || Reason=='物流买单'){
            handleStatus=("$!vo.handleStatus");
        }else{
            handleStatus=null;
        }
        $.ajax({
            url      : "/operationArea/Terminatereverse",
            type     : 'POST',
            dataType : 'json',
            data     : {
                id : "$!vo.id",
                handleRemark: handleRemark,
                terminationReason :Reason,
                handleStatus:handleStatus
            },
            success  : function(data) {
                $.messager.alert('提示', data.msg)
                $('#Apply').dialog('close');
                window.location.reload();
            }
        })
    })

    //终止逆向单
    function RepairsTermination(){
        $('#fm').form('reset');
        $('#fm').find('[__actType]').val('add');
        $('#Apply').dialog({'title': i18n['message.act.add']});
        return $('#Apply').dialog('open').dialog('setTitle', '提交申请');
    }
    //确认终止
    function Reaffirmtion(){
        $.messager.confirm("提示","确认终止" , function (r) {
            if (r) {
                var options=$("#stopReason option:selected");
                var data = $("#fm").serializeArray();
                var Reason=(options.text());
                var handleRemark=(data[0].value);
                var pd="1";
                $.ajax({
                    url      : "/operationArea/Terminatereverse",
                    type     : 'POST',
                    dataType : 'json',
                    data     : {
                        id : "$!vo.id",
                        handleRemark: handleRemark,
                        terminationReason :Reason,
                        pd :pd
                    },
                    success  : function(data) {
                        window.location.reload();
                    }
                })
            }
        })
    }
    function StockTransfer(){
    	$.messager.prompt('提示', '确认进行此操作？请填写原因:', function(r){
			if (r){
			    if (r ==null || r == ""){
                    $.messager.alert('提示','请填写原因');
                }
				  $.ajax({
				         url      : "/operationArea/StockTransfer",
				         type     : 'POST',
				         dataType : 'json',
				          data     : {
				        	  	id : "$!vo.id",
				        	  	handleRemark :r
				         },
				         success  : function(data) {
				        	 $.messager.progress('close');
				                $.messager.alert('提示', data.msg, 'info', function(){
				                    if(data.success){
				                    	window.location.reload();
				                    }
				                });
				         }
				});
			}else if (r == null) {
			    
			}else if(r == "") {
				  $.messager.alert('提示','请填写原因');
			}
		});
    	
    }

  function cancel22 (index){
		  var rows = $('#gridViewFp').datagrid('getRows');
		  var row = rows[index];
	              if(row==null){
	              alert("请选中一条数据");
	              return;
	              }
               $.messager.confirm('提示', '确认进行此操作？', function(r) {
                  if (r){
                   $.ajax({
                       url: "/operationArea/cancelInStock",
                       type: 'POST',
                       data:{
                       repairId:$!vo.id,
                       storageType:row.storageType,
                       operate :row.operateStatus
                       },
                       success: function (data) {
                           $.messager.alert('提示',data.msg);
                       }
                   })
               }
               })
    }
    //创建入10库单子
  function establishTenLibrary(){
  	$.messager.confirm('提示', '确认进行此操作？', function(r) {
                  if (r){
                   $.ajax({
                       url: "/operationArea/establishTenLibrary",
                       type: 'POST',
                       data:{
                       id:$!vo.id
                       },
                       success: function (data) {
                           $.messager.alert('提示',data.msg);
                       }
                   })
               }
               })
  }
    // 小家电创建入10库单子
    function b2cestablishTenLibrary(){
        $.messager.confirm('提示', '确认进行此操作？', function(r) {
            if (r){
                $.ajax({
                    url: "/operationArea/b2cestablishTenLibrary",
                    type: 'POST',
                    data:{
                        id:$!vo.id
                    },
                    success: function (data) {
                        $.messager.alert('提示',data.msg);
                    }
                })
            }
        })
    }
function opration(val,row,index) {
    return '<a href="javascript:void(0)" onclick="cancel22('+index+')">取消入库</a>'
}
</script>
</body>
</html>