<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css"></link>
    <!--<link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css"></link>
    <!--<link rel="stylesheet" href="../static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css"></link>
    <!--<link rel="stylesheet" href="../static/third/ionicons/css/ionicons.min.css">-->

    <!--  <link rel="stylesheet" href="../static/third/easyui/themes/material/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/color.css"></link>
    <link rel="stylesheet" href="../static/third/easyui/themes/icon.css">-->

    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css"></link>
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css"></link>
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css"></link>
    <!--<link rel="stylesheet" href="../static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css"></link>


    <link rel="stylesheet" href="../static/css/common.css"></link>
    <title>orderForecastGoal</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/easyui-extention.js"></script>
    <script src="../static/js/customConfig.js"></script>
    </meta>
</head>
<body class="iframe-body">
<div id="searchPanel_orderForecastGoal" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
    collapsible:false">
    <table id="datagrid_orderForecastGoal"></table>
</div>

<div id="datagridToolbar_orderForecastGoal">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="paramForm_orderForecastGoal" class="param-form">
        <div class="search-panel" style="font-size: 11px;">
            <div class="search-row_nowidth">
                <span class="search-row-label_80">订单号</span>
                <input id="orderSn" class="easyui-textbox"></input>
            </div>
            <div class="search-row_nowidth">
                <span class="search-row-label_80">订单来源</span>
                <input id="source" class="easyui-textbox"></input>
            </div>
            <div class="search-row_nowidth">
                <span class="search-row-label_80">下单时间</span>
                <input id="addTimeMin" class="easyui-datebox"></input>
            </div>
            <div class="search-row_nowidth">
                <span class="search-row-label_80">至</span>
                <input id="addTimeMix" class="easyui-datebox"></input>
            </div>


        </div>
        <a href="#"  class="easyui-linkbutton" id="search"
           data-options="iconCls:'icon-search',plain:true" >查询</a>
        <a href="#" class="easyui-linkbutton" id="resetBtn_orderForecastGoal"
           data-options="iconCls:'icon-redo',plain:true">重置</a>
       
    </form>
</div>


    <div id="searchPanel_dmmtlPbcsMtlMeasure" class="easyui-panel"
     style="width:100%;height:60%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
    <table id="dataGrid">
        <tbody>
        </tbody>
    </table>
	</div>


<script type="text/javascript">
	
    function slideUpSlideClk(t) {
        var $this = $(t);
        if ($this.hasClass('open')) {
            $this.removeClass('open');
            setTimeout(function () {
                $this.addClass('close');
            }, 0);
            $(".search-panel").slideUp();
        } else {
            $this.removeClass('close');
            setTimeout(function () {
                $this.addClass('open');
            }, 0);
            $(".search-panel").slideDown();
        }
        setTimeout(function () {
            $('#datagrid_orderForecastGoal').datagrid('resize');
        }, 500);
    }


</script>
<script src="../static/js/order/toConfirmOrder.js"></script>
</body>
</html>