<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.EisInterfaceDataLog3wWriteDao">
	<resultMap id="eisInterfaceDataLog3WResult" type="com.haier.shop.model.EisInterfaceDataLog3W">
		<result property="id" column="Id" />
		<result property="interfaceCode" column="interface_code" />
		<result property="requestData" column="request_data" />
		<result property="responseData" column="response_data" />
		<result property="requestTime" column="request_time" />
		<result property="responseTime" column="response_time" />
		<result property="createTime" column="create_time" />
		<result property="responseStatus" column="response_status" />
		<result property="errorMessage" column="error_message" />
		<result property="foreignKey" column="foreign_key" />
		<result property="elapsedTime" column="elapsed_time" />
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.haier.shop.model.EisInterfaceDataLog3W">
		insert into `eis_interface_data_log_3w`(`interface_code`,`request_data`,`response_data`,`request_time`,`response_time`,`create_time`,`response_status`,`error_message`,`foreign_key`,`elapsed_time`)
		values(#{interfaceCode},#{requestData},#{responseData},#{requestTime},#{responseTime},now(),#{responseStatus},#{errorMessage},#{foreignKey},#{elapsedTime})
	</insert>
</mapper>