<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.ExpressInfosWriteDao">
    <resultMap id="expressInfosResult" type="com.haier.shop.model.ExpressInfos">
        <result property="id" column="id"/>
        <result property="addTime" column="addTime"/>
        <result property="orderId" column="orderId"/>
        <result property="orderProductId" column="orderProductId"/>
        <result property="corderSn" column="corderSn"/>
        <result property="expressCompany" column="expressCompany"/>
        <result property="expressNumber" column="expressNumber"/>
        <result property="flag" column="flag"/>
    </resultMap>
    <insert id="insert" parameterType="com.haier.shop.model.ExpressInfos">
        INSERT INTO ExpressInfos (addTime, orderId, orderProductId, corderSn, expressCompany, expressNumber)
        SELECT
        #{addTime}, #{orderId}, #{orderProductId}, #{corderSn}, #{expressCompany}, #{expressNumber}
        FROM dual
        WHERE NOT exists
        (
        SELECT
        1
        FROM ExpressInfos t
        WHERE t.orderProductId = #{orderProductId}
        )
    </insert>
</mapper>