<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.ExternalOrdersWriteDao">
    <update id="updateAtferShipped" parameterType="com.haier.shop.model.ExternalOrders">
        update `ExternalOrders` set `hasShipped` = 1
        where `orderId` = #{orderId}
    </update>
</mapper>