<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.GuaranteePriceUnLockWriteDao">
	
	<resultMap id="orderPriceGateResult" type="com.haier.shop.model.OrderPriceGate">
		<result property="id" column="id" />
		<result property="orderSource" column="order_source" />
		<result property="channelCode" column="channel_code" />
		<result property="industryCode" column="industry_code" />
		<result property="productGroup" column="product_group" />
		<result property="corderSn" column="corder_sn" />
		<result property="orderSn" column="order_sn" />
		<result property="sku" column="sku" />
		<result property="cateId" column="cate_id" />
		<result property="cateName" column="cate_name" />
		<result property="brandId" column="brand_id" />
		<result property="brandName" column="brand_name" />
		<result property="orderProductPrice" column="order_product_price" />
		<result property="couponAmount" column="coupon_amount" />
		<result property="platformCouponAmount" column="platform_coupon_amount" />
		<result property="orderProductAmount" column="order_product_amount" />
		<result property="orderProductNumber" column="order_product_number" />
		<result property="guaranteePrice" column="guarantee_price" />
		<result property="subductionPrice" column="subduction_price" />
		<result property="orderAddTime" column="order_add_time" />
		<result property="createTime" column="create_time" />
		<result property="lockReason" column="lock_reason" />
		<result property="operator" column="operator" />
		<result property="responsiblePerson" column="responsible_person" />
		<result property="unlockReason" column="unlock_reason" />
		<result property="unlockTime" column="unlock_time" />
		<result property="gateStatus" column="gate_status" />
		<result property="gateType" column="gate_type" />
		<result property="orderStatus" column="order_status" />
		<result property="orderProductStatus" column="order_product_status" />
		<result property="payStatus" column="cpayment_status" />
		<result property="productName" column="productName " />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<resultMap id="orderPriceSourceChannelResult" type="com.haier.shop.model.OrderPriceSourceChannel">
		<result property="id" column="id" />
		<result property="channelCode" column="channel_code" />
		<result property="channelName" column="channel_name" />
		<result property="orderSource" column="order_source" />
		<result property="orderSourceName" column="order_source_name" />
		<result property="status" column="status" />
		<result property="gateType" column="gate_type" />
		<result property="person" column="person" />
		<result property="mobile" column="mobile" />
		<result property="email" column="email" />
		<result property="sendType" column="send_type" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<insert id="createOrderPriceSourceChannel" parameterType="com.haier.shop.model.OrderPriceSourceChannel">
        insert into `order_price_source_channel`
        (`channel_code`,`channel_name`,`order_source`,`order_source_name`,`status`,`gate_type`,`person`,`mobile`,`email`,`send_type`,`create_time`,`update_time`)
        select
        	#{channelCode},#{channelName},#{orderSource},#{orderSourceName},#{status},#{gateType},#{person},#{mobile},#{email},#{sendType},now(),now()
        from 
        	dual 
		where not exists (select 1 from order_price_source_channel where channel_code = #{channelCode} and order_source = #{orderSource} and gate_type = #{gateType})
    </insert>
        
    <update id="updateOrderPriceSourceChannel" parameterType="com.haier.shop.model.OrderPriceSourceChannel">
        update `order_price_source_channel` 
		set status=#{status},person=#{person},mobile=#{mobile},email=#{email},send_type=#{sendType},

		<if test="channelCode !=null and channelCode != ''">
			 channel_code = #{channelCode},
		</if>
		<if test="channelName !=null and channelName != ''">
			 channel_name = #{channelName},
		</if>
		<if test="orderSource !=null and orderSource != ''">
			 order_source = #{orderSource},
		</if>
		<if test="orderSourceName !=null and orderSourceName != ''">
			 order_source_name = #{orderSourceName},
		</if>
		update_time=now()
		where `id` = #{id}
    </update>
	
	<delete id="deleteOrderPriceSourceChannelById" parameterType="Integer" statementType="PREPARED">
		delete 
		from 
			`order_price_source_channel`
		where 
			`id`= #{id}
	</delete>
	
</mapper>