<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.MembersWriteDao">
	<update id="update" parameterType="com.haier.shop.model.Members" >
    update members
    <set >
      <if test="siteId != null" >
        siteId = #{siteId},
      </if>
      <if test="avatarImageFileId != null" >
        avatarImageFileId = #{avatarImageFileId},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
       <if test="username != null" >
        username = #{username},
      </if>
      <if test="salt != null" >
        salt = #{salt},
      </if>
      <if test="registerTime != null" >
        registerTime = #{registerTime},
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime = #{lastLoginTime},
      </if>
      <if test="lastLoginIp != null" >
        lastLoginIp = #{lastLoginIp},
      </if>
      <if test="memberRankId != null" >
        memberRankId = #{memberRankId},
      </if>
      <if test="bigCustomerId != null" >
        bigCustomerId = #{bigCustomerId},
      </if>
      <if test="lastAddressId != null" >
        lastAddressId = #{lastAddressId},
      </if>
      <if test="lastPaymentCode != null" >
        lastPaymentCode = #{lastPaymentCode},
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday},
      </if>
      <if test="qq != null" >
        qq = #{qq},
      </if>
      <if test="msn != null" >
        msn = #{msn},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile},
      </if>
      <if test="canReceiveSms != null" >
        canReceiveSms = #{canReceiveSms},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="validateCode != null" >
        validateCode = #{validateCode},
      </if>
      <if test="pwdErrCount != null" >
        pwdErrCount = #{pwdErrCount},
      </if>
      <if test="source != null" >
        source = #{source},
      </if>
      <if test="sign != null" >
        sign = #{sign},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="moneyPwd != null" >
        moneyPwd = #{moneyPwd},
      </if>
      <if test="isEmailVerify != null" >
        isEmailVerify = #{isEmailVerify},
      </if>
      <if test="isSmsVerify != null" >
        isSmsVerify = #{isSmsVerify},
      </if>
      <if test="smsVerifyCode != null" >
        smsVerifyCode = #{smsVerifyCode},
      </if>
      <if test="emailVerifyCode != null" >
        emailVerifyCode = #{emailVerifyCode},
      </if>
      <if test="verifySendCoupon != null" >
        verifySendCoupon = #{verifySendCoupon},
      </if>
      <if test="canReceiveEmail != null" >
        canReceiveEmail = #{canReceiveEmail},
      </if>
      <if test="modified != null" >
        modified = #{modified},
      </if>
      <if test="channelid != null" >
        channelId = #{channelId},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName},
      </if>
      <if test="isBlacklist != null" >
        is_blackList = #{isBlacklist},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>