<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.OrdersAttributesWriteDao">
    <update id="update" parameterType="com.haier.shop.model.OrdersAttributes">
        update ordersattributes set `iswww`=#{iswww},`order_id`=#{orderId},`lbx`=#{lbx},`source_order_sn`=#{sourceOrderSn},`order_yw_type`=#{orderYwType},`create_time`=#{createTime},`update_time`=#{updateTime}
        where `id`=#{id}
    </update>
</mapper>