<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.shop.dao.shopwrite.OrderRepairsWriteDao">

    <update id="updateReceiptInfo" parameterType="com.haier.shop.model.OrderRepairs">
        update `orderrepairs`
        set
        `receiptStatus`=#{receiptStatus},`receiptTime`=#{receiptTime}
        where `id` = #{id}
    </update>
    
      
  <update id="updataStatus" parameterType="java.lang.String">
  	UPDATE orderrepairs
	SET handleStatus =#{status},
		handleTime =unix_timestamp(now()),
		finishTime =unix_timestamp(now()),
	handleRemark = #{handleRemark}
	WHERE
		id = #{id}
  
  </update>
    <insert id="insertSelective" parameterType="com.haier.shop.model.OrderRepairsVo" useGeneratedKeys="true" keyProperty="id">
        insert into orderrepairs
        <trim prefix="(" suffix=")" suffixOverrides="," >
         <!--    <if test="id != null" >
                id,
            </if> -->
            <if test="siteId != null" >
                siteId,
            </if>
                addTime,
            <if test="memberId != null" >
                memberId,
            </if>
            <if test="orderId != null" >
                orderId,
            </if>
            <if test="orderProductId != null" >
                orderProductId,
            </if>
            <if test="paymentStatus != null" >
                paymentStatus,
            </if>
            <if test="paymentTime != null" >
                paymentTime,
            </if>
            <if test="paymentName != null" >
                paymentName,
            </if>
            <if test="receiptStatus != null" >
                receiptStatus,
            </if>
            <if test="receiptTime != null" >
                receiptTime,
            </if>
            <if test="storageStatus != null" >
                storageStatus,
            </if>
            <if test="storageTime != null" >
                storageTime,
            </if>
            <if test="typeExpect != null" >
                typeExpect,
            </if>
            <if test="typeActual != null" >
                typeActual,
            </if>
            <if test="reason != null" >
                reason,
            </if>
            <if test="contactName != null" >
                contactName,
            </if>
            <if test="contactMobile != null" >
                contactMobile,
            </if>
            <if test="handleStatus != null" >
                handleStatus,
            </if>
            <if test="handleTime != null" >
                handleTime,
            </if>
            <if test="repairSn != null" >
                repairSn,
            </if>
            <if test="count != null" >
                count,
            </if>
            <if test="requestServiceRemark != null" >
                requestServiceRemark,
            </if>
            <if test="requestServiceDate != null" >
                requestServiceDate,
            </if>
            <if test="offlineFlag != null" >
                offlineFlag,
            </if>
            <if test="offlineReason != null" >
                offlineReason,
            </if>
            <if test="offlineAmount != null" >
                offlineAmount,
            </if>
            <if test="offlineRemark != null" >
                offlineRemark,
            </if>
            <if test="offlineConfirmFlag != null" >
                offlineConfirmFlag,
            </if>
            <if test="hpFirstAddTime != null" >
                hpFirstAddTime,
            </if>
            <if test="hpSecondAddTime != null" >
                hpSecondAddTime,
            </if>
            <if test="modified != null" >
                modified,
            </if>
            <if test="finishTime != null" >
                finishTime,
            </if>
            <if test="refundAmount != null" >
                refundAmount,
            </if>
            <if test="ybkExchangeType != null" >
                ybkExchangeType,
            </if>
            <if test="typeFlag != null" >
                typeFlag,
            </if>
            <if test="cOrderSnStatus != null" >
                cOrderSnStatus,
            </if>
            <if test="vomRepairSn != null" >
                vomRepairSn,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="handleRemark != null" >
                handleRemark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
          <!--   <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if> -->
            <if test="siteId != null" >
                #{siteId,jdbcType=INTEGER},
            </if>
                unix_timestamp(now()),
            <if test="memberId != null" >
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="orderProductId != null" >
                #{orderProductId,jdbcType=INTEGER},
            </if>
            <if test="paymentStatus != null" >
                #{paymentStatus,jdbcType=TINYINT},
            </if>
            <if test="paymentTime != null" >
                #{paymentTime,jdbcType=INTEGER},
            </if>
            <if test="paymentName != null" >
                #{paymentName,jdbcType=VARCHAR},
            </if>
            <if test="receiptStatus != null" >
                #{receiptStatus,jdbcType=TINYINT},
            </if>
            <if test="receiptTime != null" >
                #{receiptTime,jdbcType=INTEGER},
            </if>
            <if test="storageStatus != null" >
                #{storageStatus,jdbcType=TINYINT},
            </if>
            <if test="storageTime != null" >
                #{storageTime,jdbcType=INTEGER},
            </if>
            <if test="typeExpect != null" >
                #{typeExpect,jdbcType=TINYINT},
            </if>
            <if test="typeActual != null" >
                #{typeActual,jdbcType=TINYINT},
            </if>
            <if test="reason != null" >
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null" >
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactMobile != null" >
                #{contactMobile,jdbcType=VARCHAR},
            </if>
            <if test="handleStatus != null" >
                #{handleStatus,jdbcType=INTEGER},
            </if>
            <if test="handleTime != null" >
                #{handleTime,jdbcType=INTEGER},
            </if>
            <if test="repairSn != null" >
                #{repairSn,jdbcType=VARCHAR},
            </if>
            <if test="count != null" >
                #{count,jdbcType=INTEGER},
            </if>
            <if test="requestServiceRemark != null" >
                #{requestServiceRemark,jdbcType=VARCHAR},
            </if>
            <if test="requestServiceDate != null" >
                #{requestServiceDate,jdbcType=INTEGER},
            </if>
            <if test="offlineFlag != null" >
                #{offlineFlag,jdbcType=TINYINT},
            </if>
            <if test="offlineReason != null" >
                #{offlineReason,jdbcType=VARCHAR},
            </if>
            <if test="offlineAmount != null" >
                #{offlineAmount,jdbcType=DECIMAL},
            </if>
            <if test="offlineRemark != null" >
                #{offlineRemark,jdbcType=VARCHAR},
            </if>
            <if test="offlineConfirmFlag != null" >
                #{offlineConfirmFlag,jdbcType=TINYINT},
            </if>
            <if test="hpFirstAddTime != null" >
                #{hpFirstAddTime,jdbcType=INTEGER},
            </if>
            <if test="hpSecondAddTime != null" >
                #{hpSecondAddTime,jdbcType=INTEGER},
            </if>
            <if test="modified != null" >
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null" >
                #{finishTime,jdbcType=INTEGER},
            </if>
            <if test="refundAmount != null" >
                #{refundAmount,jdbcType=DECIMAL},
            </if>
            <if test="ybkExchangeType != null" >
                #{ybkExchangeType,jdbcType=TINYINT},
            </if>
            <if test="typeFlag != null" >
                #{typeFlag,jdbcType=TINYINT},
            </if>
            <if test="cOrderSnStatus != null" >
                #{cOrderSnStatus,jdbcType=SMALLINT},
            </if>
            <if test="vomRepairSn != null" >
                #{vomRepairSn,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="handleRemark != null" >
                #{handleRemark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updatePushHp" parameterType="com.haier.shop.model.OrderRepairsVo" >
        UPDATE orderrepairs
        set
        requestServiceDate =UNIX_TIMESTAMP(#{requeStservieDateTS,jdbcType=VARCHAR}),
        requestServiceRemark =#{requestServiceRemark,jdbcType=VARCHAR}
         <if test="offlineFlag != null" >
        ,offlineFlag =#{offlineFlag}
        </if>
        <if test="offlineReason != null" >
        ,offlineReason = #{offlineReason}
        </if>
         <if test="offlineAmount != null" >
        ,offlineAmount = #{offlineAmount}
        </if>
        <if test="offlineRemark != null" >
        ,offlineRemark =#{offlineRemark}
        </if>
       <!--  receiptStatus = #{receiptStatus,jdbcType=VARCHAR},
        storageStatus =#{storageStatus,jdbcType=VARCHAR} -->
        <if test="hpFirstAddTime != null and hpFirstAddTime !=''" >
            ,hpFirstAddTime = unix_timestamp(now())
        </if>
        <if test="hpSecondAddTime != null and hpSecondAddTime !=''">
            ,hpSecondAddTime = unix_timestamp(now())
        </if>
        where
        id = #{id}
    </update>
    <update id="updateStatus" parameterType="java.lang.String">
        UPDATE orderrepairs
        SET receiptStatus = #{receiptStatus,jdbcType=VARCHAR},
        storageStatus =#{storageStatus,jdbcType=VARCHAR}
        WHERE
        id=#{id,jdbcType=VARCHAR}
    </update>
    	<update id="updataPushSap" parameterType="java.lang.String">
    	UPDATE orderrepairs
		SET pushSAP = #{pushSap},
		 pushSAPAddTime = unix_timestamp(now())
		where 
			id=#{id}
    	</update>
    	
    	
	<update id="RepairsTermination" parameterType="java.lang.String">
	UPDATE orderrepairs
	SET handleStatus = #{handleStatus},
	 handleRemark = #{handleRemark,jdbcType=VARCHAR}
	WHERE
		id = #{id}
	</update>

    <update id="RepairsRminatereverse" parameterType="java.lang.String">
        UPDATE orderrepairs
        SET handleStatus = #{handleStatus},
        handleRemark = #{handleRemark,jdbcType=VARCHAR},
        terminationReason=#{terminationReason}
        WHERE
        id = #{id}
    </update>
    <update id="updateHandleStatus" parameterType="java.lang.String">
        UPDATE orderrepairs
        SET handleStatus = #{handleStatus}
        WHERE
        id = #{id}
    </update>
	
	<update id="updataOrderRepairsStatus" parameterType="java.lang.String" >
	UPDATE orderrepairs
	SET 
	<if test="receiptStatus !=null and receiptStatus !=''">
	 receiptTime =unix_timestamp(now()),
	receiptStatus = #{receiptStatus},
	</if>
	<if test="storageStatus !=null and storageStatus !=''">
	storageStatus =#{storageStatus},
	storageTime=unix_timestamp(now()),
	</if>
        modified = CURRENT_TIMESTAMP
	WHERE
		id = #{id}
	</update>
    <update id="updateExchange" parameterType="java.lang.Integer">
		update orderrepairs
		set exchangeStatus = 1
		where id = #{repairId}

	</update>
</mapper>