<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.shop.dao.shopwrite.OrdersWriteDao">

	<update id="updateSmConfirmStatus" parameterType="com.haier.shop.model.Orders">
		update `orders` set `smConfirmStatus` = #{smConfirmStatus}
		where `id` = #{id}
	</update>
	<select id="findOrderNum" resultType="Integer" parameterType="java.lang.String">
		SELECT count(*) from orders o LEFT JOIN
		(select id as did,FROM_UNIXTIME(addtime) as date
		from orders
		) d
		on o.id = did
		where d.date between #{begintime} and #{endtime}
	</select>
	<insert id="insertOrders" parameterType="com.haier.shop.model.Orders"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `shop`.`orders`
		(
		`isTest`,
		`isBackend`,
		`isBook`,
		`isCod`,
		`notAutoConfirm`,
		`orderSn`,
		`relationOrderSn`,
		`memberId`,
		`memberEmail`,
		`addTime`,
		`syncTime`,
		`orderStatus`,
		`payTime`,
		`paymentStatus`,
		`receiptConsignee`,
		`receiptAddress`,
		`receiptZipcode`,
		`receiptMobile`,
		`productAmount`,
		`orderAmount`,
		`paidAmount`,
		`shippingAmount`,
		`totalEsAmount`,
		`paymentCode`,
		`payBankCode`,
		`paymentName`,
		`consignee`,
		`originRegionName`,
		`originAddress`,
		`province`,
		`city`,
		`region`,
		`street`,
		`markBuilding`,
		`poiId`,
		`poiName`,
		`regionName`,
		`address`,
		`zipcode`,
		`mobile`,
		`phone`,
		`receiptInfo`,
		`delayShipTime`,
		`remark`,
		`bankCode`,
		`agent`,
		`confirmTime`,
		`firstConfirmTime`,
		`firstConfirmPerson`,
		`finishTime`,
		`tradeSn`,
		`signCode`,
		`source`,
		`sourceOrderSn`,
		`onedayLimit`,
		`orderType`,
		`memberInvoiceId`,
		`taobaoGroupId`,
		`tradeType`,
		`stepTradeStatus`,
		`stepPaidFee`,
		`depositAmount`,
		`balanceAmount`,
		`autoCancelDays`,
		`isNoLimitStockOrder`,
		`autoConfirmNum`,
		`codConfirmPerson`,
		`codConfirmTime`,
		`codConfirmRemark`,
		`codConfirmState`,
		`paymentNoticeUrl`,
		`addressLon`,
		`addressLat`,
		`smConfirmStatus`,
		`smConfirmTime`,
		`smManualTime`,
		`smManualRemark`,
		`isTogether`,
		`isNotConfirm`,
		`tailPayTime`,
		`points`,
		`modified`,
		`channelId`,
		`isProduceDaily`,
		`couponCode`,
		`couponCodeValue`,
		`ckCode`,
		`tmallName`,
		`aliPayName`,
		`lbxSn`,
		`sellpeople`,
		isCopy
		)

		VALUES
		(
		#{isTest},
		#{isBackend},
		#{isBook},
		#{isCod},
		#{notAutoConfirm},
		#{orderSn},
		#{relationOrderSn},
		#{memberId},
		#{memberEmail},
		#{addTime},
		#{syncTime},
		#{orderStatus},
		#{payTime},
		#{paymentStatus},
		#{receiptConsignee},
		#{receiptAddress},
		#{receiptZipcode},
		#{receiptMobile},
		#{productAmount},
		#{orderAmount},
		#{paidAmount},
		#{shippingAmount},
		#{totalEsAmount},
		#{paymentCode},
		#{payBankCode},
		#{paymentName},
		#{consignee},
		#{originRegionName},
		#{originAddress},
		#{province},
		#{city},
		#{region},
		#{street},
		#{markBuilding},
		#{poiId},
		#{poiName},
		#{regionName},
		#{address},
		#{zipcode},
		#{mobile},
		#{phone},
		#{receiptInfo},
		#{delayShipTime},
		#{remark},
		#{bankCode},
		#{agent},
		#{confirmTime},
		#{firstConfirmTime},
		#{firstConfirmPerson},
		#{finishTime},
		#{tradeSn},
		#{signCode},
		#{source},
		#{sourceOrderSn},
		#{onedayLimit},
		#{orderType},
		#{memberInvoiceId},
		#{taobaoGroupId},
		#{tradeType},
		#{stepTradeStatus},
		#{stepPaidFee},
		#{depositAmount},
		#{balanceAmount},
		#{autoCancelDays},
		#{isNoLimitStockOrder},
		#{autoConfirmNum},
		#{codConfirmPerson},
		#{codConfirmTime},
		#{codConfirmRemark},
		#{codConfirmState},
		#{paymentNoticeUrl},
		#{addressLon},
		#{addressLat},
		#{smConfirmStatus},
		#{smConfirmTime},
		#{smManualTime},
		#{smManualRemark},
		#{isTogether},
		#{isNotConfirm},
		#{tailPayTime},
		#{points},
		#{modified},
		#{channelId},
		#{isProduceDaily},
		#{couponCode},
		#{couponCodeValue},
		#{ckCode},
		#{tmallName},
		#{aliPayName},
		#{lbxSn},
		#{sellpeople},
		#{isCopy}
		)

	</insert>
	<insert id="insertOrdersCopy" parameterType="com.haier.shop.model.Orders"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `shop`.`orders`
		(
		`isTest`,
		`isBackend`,
		`isBook`,
		`isCod`,
		`notAutoConfirm`,
		`orderSn`,
		`relationOrderSn`,
		`memberId`,
		`memberEmail`,
		`addTime`,
		`syncTime`,
		`orderStatus`,
		`payTime`,
		`paymentStatus`,
		`receiptConsignee`,
		`receiptAddress`,
		`receiptZipcode`,
		`receiptMobile`,
		`productAmount`,
		`orderAmount`,
		`paidAmount`,
		`shippingAmount`,
		`totalEsAmount`,
		`paymentCode`,
		`payBankCode`,
		`paymentName`,
		`consignee`,
		`originRegionName`,
		`originAddress`,
		`province`,
		`city`,
		`region`,
		`street`,
		`markBuilding`,
		`poiId`,
		`poiName`,
		`regionName`,
		`address`,
		`zipcode`,
		`mobile`,
		`phone`,
		`receiptInfo`,
		`delayShipTime`,
		`remark`,
		`bankCode`,
		`agent`,
		`confirmTime`,
		`firstConfirmTime`,
		`firstConfirmPerson`,
		`finishTime`,
		`tradeSn`,
		`signCode`,
		`source`,
		`sourceOrderSn`,
		`onedayLimit`,
		`orderType`,
		`memberInvoiceId`,
		`taobaoGroupId`,
		`tradeType`,
		`stepTradeStatus`,
		`stepPaidFee`,
		`depositAmount`,
		`balanceAmount`,
		`autoCancelDays`,
		`isNoLimitStockOrder`,
		`autoConfirmNum`,
		`codConfirmPerson`,
		`codConfirmTime`,
		`codConfirmRemark`,
		`codConfirmState`,
		`paymentNoticeUrl`,
		`addressLon`,
		`addressLat`,
		`smConfirmStatus`,
		`smConfirmTime`,
		`smManualTime`,
		`smManualRemark`,
		`isTogether`,
		`isNotConfirm`,
		`tailPayTime`,
		`points`,
		`modified`,
		`channelId`,
		`isProduceDaily`,
		`couponCode`,
		`couponCodeValue`,
		`ckCode`,
		`tmallName`,
		`aliPayName`,
		`lbxSn`,
		`sellpeople`,
		isCopy
		)

		VALUES
		(
		#{isTest},
		#{isBackend},
		#{isBook},
		#{isCod},
		#{notAutoConfirm},
		#{orderSn},
		#{relationOrderSn},
		#{memberId},
		#{memberEmail},
		#{addTime},
		#{syncTime},
		#{orderStatus},
		#{payTime},
		#{paymentStatus},
		#{receiptConsignee},
		#{receiptAddress},
		#{receiptZipcode},
		#{receiptMobile},
		#{productAmount},
		#{orderAmount},
		#{paidAmount},
		#{shippingAmount},
		#{totalEsAmount},
		#{paymentCode},
		#{payBankCode},
		#{paymentName},
		#{consignee},
		#{originRegionName},
		#{originAddress},
		#{province},
		#{city},
		#{region},
		#{street},
		#{markBuilding},
		#{poiId},
		#{poiName},
		#{regionName},
		#{address},
		#{zipcode},
		#{mobile},
		#{phone},
		#{receiptInfo},
		#{delayShipTime},
		#{remark},
		#{bankCode},
		#{agent},
		unix_timestamp(now()),
		unix_timestamp(now()),
		#{firstConfirmPerson},
		#{finishTime},
		#{tradeSn},
		#{signCode},
		#{source},
		#{sourceOrderSn},
		#{onedayLimit},
		#{orderType},
		#{memberInvoiceId},
		#{taobaoGroupId},
		#{tradeType},
		#{stepTradeStatus},
		#{stepPaidFee},
		#{depositAmount},
		#{balanceAmount},
		#{autoCancelDays},
		#{isNoLimitStockOrder},
		#{autoConfirmNum},
		#{codConfirmPerson},
		#{codConfirmTime},
		#{codConfirmRemark},
		#{codConfirmState},
		#{paymentNoticeUrl},
		#{addressLon},
		#{addressLat},
		#{smConfirmStatus},
		#{smConfirmTime},
		#{smManualTime},
		#{smManualRemark},
		#{isTogether},
		#{isNotConfirm},
		#{tailPayTime},
		#{points},
		#{modified},
		#{channelId},
		#{isProduceDaily},
		#{couponCode},
		#{couponCodeValue},
		#{ckCode},
		#{tmallName},
		#{aliPayName},
		#{lbxSn},
		#{sellpeople},
		#{isCopy}
		)

	</insert>

	<update id="updataOrdersStatus" parameterType="java.lang.String">
		UPDATE  orders SET orderStatus='202' WHERE  id=#{id}
	</update>

	<update id="updateMemberinvoicesId" >
		update `orders` set `memberInvoiceId` = #{memberinvoicesId}
		where `id` = #{orderId}
	</update>

</mapper>