<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haier.shop.dao.shopwrite.OrderrepairHPrecordsWriteDao" >
	<resultMap id="BaseResult" type="com.haier.shop.model.ProductToIndustry">
		<result property="sign" column="sign" />
		<result property="reject" column="reject" />
		<result property="parentPath" column="parentPath" />
	</resultMap>
  <insert id="insert" parameterType="com.haier.shop.model.OrderrepairHPrecords" >
    insert into orderrepairhprecords (siteId, addTime,
      orderProductId, orderRepairId, netPointCode, 
      checkResult, quality, machineNum, 
      inspector, inspectTime, success, 
      checkType, packResult, response, 
      hpOrderFail, source, woId, 
      hpOrderRemark,repairsHPLogsId)
    values (#{siteId,jdbcType=INTEGER}, unix_timestamp(now()) , 
      #{orderProductId,jdbcType=INTEGER}, #{orderRepairId,jdbcType=INTEGER}, #{netPointCode,jdbcType=VARCHAR}, 
      #{checkResult,jdbcType=TINYINT}, #{quality,jdbcType=TINYINT}, #{machineNum,jdbcType=VARCHAR}, 
      #{inspector,jdbcType=VARCHAR}, #{inspectTime,jdbcType=VARCHAR}, #{success,jdbcType=TINYINT}, 
      #{checkType,jdbcType=TINYINT}, #{packResult,jdbcType=TINYINT}, #{response,jdbcType=TINYINT}, 
      #{hpOrderFail,jdbcType=TINYINT}, #{source,jdbcType=VARCHAR}, #{woId,jdbcType=VARCHAR}, 
      #{hpOrderRemark,jdbcType=LONGVARCHAR},#{repairsHPLogsId,jdbcType=INTEGER})
  </insert>
  
  
 

<select id="findBadProductCount" resultType="Integer" parameterType="java.lang.String">
SELECT IFNULL(count(*),0) from orders o
LEFT JOIN orderproducts opro
on opro.orderid = o.id
LEFT JOIN orderrepairhprecords orhp
on orhp.orderProductId = opro.id
where (orhp.quality='5' or orhp.quality='6') and FROM_UNIXTIME(o.addtime)  between #{begintime} and #{endtime}
  </select>


<select id="findsign" resultMap="BaseResult" >
		SELECT IFNULL(count(opro.productType),0) sign,
		pc.rootId
		 from orders o
		LEFT JOIN orderproducts opro
		on opro.orderid = o.id
		LEFT JOIN orderrepairhprecords orhp
		on orhp.orderProductId = opro.id
		LEFT JOIN orderrepairs ore
		on opro.id = ore.orderProductId
		LEFT JOIN producttypes pt
		on pt.attrCateId = opro.productType
		LEFT JOIN productcates pc
		on pc.cateName = pt.typeName
		where (quality='5' or quality='6') and ore.typeFlag = '5' 
  </select>
  <select id="findreject" resultMap="BaseResult" >
		SELECT IFNULL(count(opro.productType),0) reject,
		pc.rootId
		from orders o
		LEFT JOIN orderproducts opro
		on opro.orderid = o.id
		LEFT JOIN orderrepairhprecords orhp
		on orhp.orderProductId = opro.id
		LEFT JOIN orderrepairs ore
		on opro.id = ore.orderProductId
		LEFT JOIN producttypes pt
		on pt.attrCateId = opro.productType
		LEFT JOIN productcates pc
		on pc.cateName = pt.typeName
		where (quality='5' or quality='6') and ore.typeFlag = '4' 
  </select>
  
<update id="updataRepaiHp" parameterType="com.haier.shop.model.OrderrepairHPrecords">
	UPDATE orderrepairhprecords
	SET 
	<if test="threeAppraisal !=null and threeAppraisal  !=''">
	 ThreeAppraisal = #{threeAppraisal,jdbcType=VARCHAR},
	 ThreeAppraisalDate = curdate()
	</if>
	 <if test="twoAppraisal !=null and twoAppraisal !=''">
	 TwoAppraisal =#{twoAppraisal},
	 TwoAppraisalDate = curdate()
	</if>
	WHERE
		id = #{id}
</update>
  
	<update id="updataOutOfStorage" parameterType="java.lang.String">
	UPDATE orderrepairhprecords
	SET OutOfStorageFlag =#{OutOfStorageFlag}
	<if test="OutOfStorageFlag !='3'">
	, OutOfStorageTime = curdate()
	 </if>
	 <if test="OutOfStorageFlag =='3'">
	 ,ThreeOutOfStorageTime =curdate()
	 </if>
	where id=#{id}
	</update>
	
	<update id="updataPushRejects" parameterType="java.lang.String">
	UPDATE orderrepairhprecords
	SET pushRejectsStatus = '1'
	WHERE  id=#{id}
	</update>
	
	<update id="UpdaVirtualEntryState" parameterType="java.lang.String">
	UPDATE orderhprejectionlogs
	SET virtualEntryState = #{virtualEntryState}
	WHERE
		id = #{id}
	</update>
</mapper>