<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.OrderOperateLogsWriteDao">

    <insert id="insert" parameterType="com.haier.shop.model.OrderOperateLogs">
        insert into `OrderOperateLogs`(`siteId`,`orderId`,`orderProductId`,`netPointId`,`operator`,`changeLog`,`remark`,`logTime`,`status`,`paymentStatus`)
        values(#{siteId},#{orderId},#{orderProductId},#{netPointId},#{operator},#{changeLog},#{remark},unix_timestamp(),#{status},#{paymentStatus})
    </insert>
    <insert id="batchInsert" parameterType="com.haier.shop.model.OrderOperateLogs">
        insert into `OrderOperateLogs`(`siteId`,`orderId`,`orderProductId`,`netPointId`,`operator`,`changeLog`,`remark`,`logTime`,`status`,`paymentStatus`) values
        <foreach collection="list" item="item" index="index"  separator=",">
            (#{item.siteId},#{item.orderId},#{item.orderProductId},#{item.netPointId},#{item.operator},#{item.changeLog},#{item.remark},unix_timestamp(),#{item.status},#{item.paymentStatus})
        </foreach>
    </insert>
    <!--
    <update id="update" parameterType="com.haier.svc.bean.pop.hpDispatch.OrderOperateLogs">
        update `OrderOperateLogs` set `siteId`=#{siteId},`orderId`=#{orderId},`orderProductId`=#{orderProductId},`netPointId`=#{netPointId},`operator`=#{operator},`changeLog`=#{changeLog},`remark`=#{remark},`logTime`=#{logTime},`status`=#{status},`paymentStatus`=#{paymentStatus}
        where `id` = #{id}
    </update> -->
</mapper>