<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.RefundBillSyncRecordWriteDao">

<update id="updataSynState" parameterType="java.lang.String" >
	UPDATE refundbill_sync_record
	SET sync_state = 'MatchingSuccess'
	WHERE
		id = #{id}
	</update>
</mapper>