<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.shop.dao.shopwrite.TaoBaoGroupsWriteDao">
	<insert id="addTaoBaoGroups" parameterType="java.util.Map">
		INSERT INTO `TaoBaoGroups` 
		(`siteId`, `groupName`, `sku`, `depositStartTime`, `depositEndTime`, `balanceStartTime`,
		 `balanceEndTime`, `depositAmount`, `balanceAmount`, `status`, `shippingOpporunity`, 
		 `productSpecs`) VALUES 
		 (#{siteId},#{groupName},#{sku},#{depositStartTime},#{depositEndTime},#{balanceStartTime},
		 #{balanceEndTime},#{depositAmount},#{balanceAmount},#{status},#{shippingOpporunity},
		 #{productSpecs});
	</insert>
	<update id="updateTaoBaoGroups" parameterType="java.util.Map">
		UPDATE `TaoBaoGroups` SET 
		`siteId`=#{siteId}, `groupName`=#{groupName}, `sku`=#{sku}, `depositStartTime`=#{depositStartTime},
		`depositEndTime`=#{depositEndTime}, `balanceStartTime`=#{balanceStartTime}, `balanceEndTime`=#{balanceEndTime},
		`depositAmount`=#{depositAmount}, `balanceAmount`=#{balanceAmount}, `status`=#{status},
		`shippingOpporunity`=#{shippingOpporunity}, `productSpecs`=#{productSpecs} WHERE `id`=#{id};
	</update>
	<delete id="delTaoBaoGroups" parameterType="Integer">
		DELETE FROM `TaoBaoGroups` WHERE `id` IN 
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
	</delete>
</mapper>