<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/third/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/third/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/easyui_plus.css">
    <link rel="stylesheet" href="/static/third/easyui/themes/insdep/icon.css">
    <link rel="stylesheet" href="/static/third/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/third/bootstrap/css/bootstrap-datepicker.min.css">
    
    <title>天猫套装配置</title>
    <script src="/static/third/easyui/jquery.min2.js"></script>
    <script src="/static/third/easyui/jquery.easyui.min2.js"></script>
    <script src="/static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/static/third/easyui/glo.js"></script>
    <script src="/static/third/easyui/comm.js"></script>
    <script src="/static/third/easyui/commgrid.js"></script>
    <script src="/static/third/easyui/jQuery.Form.js"></script>
    <script src="/static/js/pop/common/pop.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <style type="text/css">
	    body{
	    	color:#444444;
	    }
	    label {
	        font-weight: 600;
	    }
	    #fontclor{
	    	font-color:#660000;
	    }

	</style>
</head>
<body style="font-size:14px;">
<div class="easyui-layout" style="width:100%;height:100%;font-color:red;">
   <div id="datagridToolbar_orderForecastGoal">
    
	    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_line fa fa-window-minimize"></div>
	        <div class="slide_circle fa fa-map-marker"></div>  
	    </div>
	    <div class="search-panel" style="font-size: 11px;">
        <div style="height: 18px"></div>
        
        <div class="search-row_nowidth mar_r6px">
            <span class="search-row-label_80">套装Sku</span>
                <input id="cexternalSkus" name="dept"  name="productType"/>
        </div>
        <div class="search-row_nowidth mar_r6px">
            <span class="search-row-label_80">套装来源</span>
			<select id="cconfigIds" name="cconfigIds" class="easyui-combobox" editable="false">
                    <option value="" selected="">全部</option>
                    <option value="TBSC">海尔官方淘宝旗舰店</option>
					<option value="TOPBOILER">海尔热水器专卖店</option>
					<option value="TONGSHUAI">淘宝网统帅日日顺乐家专卖店</option>
					<option value="TOPFENXIAO">"海尔官方旗舰店:营销02(分销平台)</option>
					<option value="MOOKA">淘宝模卡旗舰店</option>
					<option value="TMMK">mooka模卡官方旗舰店</option>
                    <option value="WASHER">海尔洗衣机旗舰店</option>
                    <option value="FRIDGE">海尔冰冷旗舰店</option>
                    <option value="AIR">海尔空调旗舰店</option>
                    <option value="GQGYS">海尔官方旗舰店供应商</option>
                    <option value="TMKSD">天猫卡萨帝旗舰店</option>
                    <option value="TMTV">海尔电视旗舰店</option>
                    <option value="TBCFDD">海尔厨房大电旗舰店</option>
                    <option value="TBXCR">天猫小超人旗舰店</option>
                    <option value="TBZYKT">淘宝中央空调</option>
                    <option value="XSST">淘宝WA线上生态授权店</option>
                </select>
        </div>
     </div>
  
        <div style="font-size:14px;width: 100%">
            <a href="#" class="easyui-linkbutton" onclick="SearchUnit()"
               data-options="iconCls:'icon-search',plain:true">查询</a>
            <a href="#" class="easyui-linkbutton" onclick="Add()"
               data-options="iconCls:'icon-add',plain:true">增加</a>
            <a href="#" class="easyui-linkbutton" onclick="list()"
               data-options="iconCls:'icon-edit',plain:true">修改</a>
            <a href="#" class="easyui-linkbutton" onclick="Delete()"
               data-options="iconCls:'icon-remove',plain:true">删除</a>
            <a href="#" class="easyui-linkbutton" onclick="SearchClear()"
                   data-options="iconCls:'icon-redo',plain:true">重置</a>

        </div>
    </div>
    <div data-options="region:'west'" style="width:100%;height: 100%">
        <table id="gridView" style="width:100%;height: 100%"></table>
    </div>

</div>

<!-- 修改表格 -->
<div id="oDialog4" class="easyui-dialog" title="修改"
     style="width: 800px; height: 535px;font-size:14px; padding: 0px 0px;overflow-y: hidden"
     closed="true" center="true" modal="true">
    <div class="easyui-layout" style="width:100%;height:100%;display: block">


        <div data-options="region:'center'" style="width:100%;height:100%;">

            <br/>
            &nbsp;
            
            <label >套装设置名称<span style="color: red;padding-right:10px">*</span></label>
            <input id="settingName"  name="categoryName"  style="height:20px;width: 162px"  maxlength="255"/>
            &nbsp;&nbsp;
           
            <label style="padding-left: 3px;padding-right: 2px">套装开始时间<span style="color: red;padding-right:10px">*</span></label>
           <input id="startTime" class="easyui-datetimebox" data-options="editable:false"  style="height:26px;width: 166px;margin-right: 40px" >
            &nbsp;&nbsp;
               <label style="padding-left: 3px;padding-right: 2px">是否生效<span style="color: red;padding-right:09px">*</span></label>
             <select id="effect" class="easyui-combobox" name="cchannelType" style="height:24px;width: 100px"
                    data-options="editable:false">
                <option value="1">生效</option>
                <option value="0">失效</option>
                </select>
            <br/>
            <br/>
            &nbsp;
            <label style="padding-left: 3px;padding-right: 2px">套装结束时间<span style="color: red;padding-right:5px">*</span></label>
           <input id="endTime" class="easyui-datetimebox"  data-options="editable:false" style="height:26px;width: 166px;margin-right: 40px" >
            &nbsp;&nbsp;
            
                <label style="padding-left: 3px;padding-right: 2px">虚拟Sku<span style="color: red;padding-right:40px">*</span></label>
           <input id="externalSkus"     style="height:20px;width: 164px" readonly/>
            </select>
            &nbsp;&nbsp;
            <label style="padding-left: 3px;padding-right: 2px">套装类型<span style="color: red;padding-right:09px">*</span></label>
             <select id="type" class="easyui-combobox" name="type" style="height:24px;width: 100px"
                data-options="editable:false">
                <option value="0">套装</option>
                <option value="1">赠品</option>
            </select>

            &nbsp;&nbsp;
            <br/>
            <br/>
            &nbsp;
             <label style="padding-left: 3px;padding-right: 2px">外部系统<span style="color: red;padding-right:10px">*</span></label>
            <br/>
             <select id="configIds" name="configIds" class="easyui-combobox" editable="false"  style="width:100%;height:65px;" 
             multiple="true" multiline="true" label="Select States:" labelPosition="top">
				<option value="" selected="">全部</option>
                <option value="TBSC">海尔官方淘宝旗舰店</option>
                <option value="TOPBOILER">海尔热水器专卖店</option>
                <option value="TONGSHUAI">淘宝网统帅日日顺乐家专卖店</option>
                <option value="TOPFENXIAO">"海尔官方旗舰店:营销02(分销平台)</option>
                <option value="MOOKA">淘宝模卡旗舰店</option>
                <option value="TMMK">mooka模卡官方旗舰店</option>
                <option value="WASHER">海尔洗衣机旗舰店</option>
                <option value="FRIDGE">海尔冰冷旗舰店</option>
                <option value="AIR">海尔空调旗舰店</option>
                <option value="GQGYS">海尔官方旗舰店供应商</option>
                <option value="TMKSD">天猫卡萨帝旗舰店</option>
                <option value="TMTV">海尔电视旗舰店</option>
                <option value="TBCFDD">海尔厨房大电旗舰店</option>
                <option value="TBXCR">天猫小超人旗舰店</option>
                <option value="TBZYKT">淘宝中央空调</option>
                <option value="XSST">淘宝WA线上生态授权店</option>
			</select>
		<br/>
		<br/>
   <label >套装商品<span style="color: red;padding-right:10px">*</span></label>
   &nbsp;&nbsp;&nbsp;
   <input id="" name="" type="button" value="添加商品栏" onclick='additem("tb")' />
   <div id='update'>
	   <div class="field-hints">&nbsp;&nbsp;&nbsp;此套装包含的sku及其商品价格为：
	   <br/>&nbsp;&nbsp;&nbsp;<font color="red"><span id='price'></font> 
	   <br/>&nbsp;&nbsp;&nbsp;请仔细按照对应的sku修改商品的价格！</div>
   </div>
   &nbsp;&nbsp;&nbsp;请仔细认真填写套装商品Sku及其对应的商品价格
   <table id="tb"></table>
    <input id="skuandamount" name="skuandamount" type="text" hidden value="" />    
          <input id="id"  type="text" hidden value="" />    
        
        </div>

        <div id="dlg-buttons6" data-options="region:'south'" style="height:40px" align="right">
            <a href="javascript:void(0)" class="easyui-linkbutton"
               onclick="javascript:SetCodeValue4()" iconcls="icon-ok">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
               onclick="javascript: $('#oDialog4').dialog('close')"
               iconcls="icon-cancel">关闭</a>
        </div>

    </div>
</div>

<div id="oDialog" class="easyui-dialog" title="选择"
     style="width: 500px; height: 440px; padding: 0px 0px; center:true;font-size:14px"
     closed="true" center="true" modal="true">
    <div class="easyui-layout" style="width:100%;height:100%;">
        <div class="easyui-layout" style="width:100%;height:100%;">
            <div data-options="region:'north'" style="height:40px">

                <span class="search-row-label_80">物料编码</span>
                <input id="sku1" style="width:100px" type="text" data-options="prompt:'物料编码'">
                <span class="search-row-label_80">物料名称</span>
                <input id="productName1" style="width:100px" type="text" data-options="prompt:'物料名称'">
                <a href="#" class="easyui-linkbutton" onclick="product()"
                   data-options="plain:true">查找</a>
            </div>

            <div data-options="region:'center'">
                <table class="easyui-datagrid" id="code" style="width:600px;height:auto" fit="true"
                       data-options="singleSelect:true,region:'center'">
                    <thead>
                    <tr>
                        <th data-options="field:'ck',checkbox:true ,width:50,
                            checkOnSelect: true,
                            selectOnCheck :true">选择
                        </th>
                        <th data-options="field:'sku',width:200">物料编码</th>
                        <th data-options="field:'productName',width:200">物料名称</th>
                        <th data-options="field:'productTypeid',width:200" hidden>品类的id</th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div id="dlg-buttons1" data-options="region:'south'" style="height:35px" align="right">
                <a href="javascript:void(0)" class="easyui-linkbutton"
                   onclick="javascript:SetCodeValuep()" iconcls="icon-ok">确定</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
                   onclick="javascript:$('#oDialog').dialog('close')"
                   iconcls="icon-cancel">关闭</a>
            </div>
        </div>
    </div>
</div>
<div id="oDialog2" class="easyui-dialog" title="选择"
     style="width: 210px; height: 300px;font-size:14px; padding: 0px 0px; center:true"
     closed="true" center="true" modal="true">
    <div class="easyui-layout" style="width:100%;height:100%;">

        <div data-options="region:'center'">
            <div region="west" class="west" title="导航菜单"id="datetimepicker"  >

            </div>
        </div>


        <div id="dlg-buttons4" data-options="region:'south'" style="height:40px" align="right">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
               onclick="javascript:$('#oDialog2').dialog('close')"
               iconcls="icon-cancel">关闭</a>
        </div>
    </div>
</div>

<div id="oDialog3" class="easyui-dialog" title="选择"
     style="width: 210px; height: 300px;font-size:14px; padding: 0px 0px; center:true"
     closed="true" center="true" modal="true">
    <div class="easyui-layout" style="width:100%;height:100%;">

        <div data-options="region:'center'">
            <div region="west" class="west" title="导航菜单"id="datetimepicker1"  >

            </div>
        </div>


        <div id="dlg-buttons3" data-options="region:'south'" style="height:40px" align="right">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
               onclick="javascript:$('#oDialog3').dialog('close')"
               iconcls="icon-cancel">关闭</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function slideUpSlideClk(t) {
        var $this =
        $(t);
        if ($this.hasClass('open')) {
                $this.removeClass('open');
            setTimeout(function () {
                    $this.addClass('close');
            }, 0);
            $(".search-panel").slideUp();
        } else {
                $this.removeClass('close');
            setTimeout(function () {
                    $this.addClass('open');
            }, 0);
            $(".search-panel").slideDown();
        }
        setTimeout(function () {
            $('#gridView').datagrid('resize');
        }, 500);
    }

</script>
<script src="/static/js/eop/externalSalesettingsList.js"></script>
</body>
</html>
