<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <!--<link rel="stylesheet" href="/static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/static/third/ionicons/css/ionicons.min.css">-->

    <!--  <link rel="stylesheet" href="/static/third/easyui/themes/material/easyui.css">
      <link rel="stylesheet" href="/static/third/easyui/themes/color.css">
      <link rel="stylesheet" href="/static/third/easyui/themes/icon.css">-->

    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <!--<link rel="stylesheet" href="/static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">


    <link rel="stylesheet" href="../static/css/common.css">
    <title>测试页面</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <!--<script src="/static/third/adminlte/js/app.js"></script>-->
    <script src="../static/js/i18n/zh_CN.js"></script>
</head>

<body class="iframe-body">

<div id="searchPanel_dmmtlPbcsMtlMeasure" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
    <table id="cbs"></table>
</div>

<div id="datagridToolbar_dmmtlPbcsMtlMeasure">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <div>
        <a href="/selectStock/getCbsBaseStockPage.html" class="easyui-linkbutton" data-options="iconCls:'icon-more',plain:true"
           style="color: black;background:#43a1da" onclick="onSelect()">CBS库存实时查询</a>
        <a href="/selectStock/getLesBaseStockPage.html" class="easyui-linkbutton" data-options="iconCls:'icon-more',plain:true"
           style="color: black">LES库存实时查询</a>
    </div>
    <form id="paramForm_dmmtlPbcsMtlMeasure" class="param-form" action="/selectStock/exportLesBaseStockList.html">
        <div class="search-panel">
            <div class="search-row">
			<span class="search-row-label">
			  更新开始时间
			</span>
                <input class="easyui-datebox" name="startDate" id="startDate"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  结束时间
			</span>
                <input class="easyui-datebox" name="endDate" id="endDate"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  库位编码
			</span>
                <input class="easyui-textbox" name="secCode" id="secCode"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  物料编码
			</span>
                <input class="easyui-textbox" name="sku" id="sku"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  	实际库存大于
			</span>
                <input  name="stockQty" id="stockQty" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  可用库存大于
			</span>
                <input  name="avaiableQty" id="avaiableQty" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  商品属性
			</span>
                <select class="easyui-combobox" name="itemProperty" id="itemProperty" style="width: 174px;">
                    <option value="-1">全部</option>
                    <option value="10">正品</option>
                    <option value="21">不良品</option>
                    <option value="22">开箱正品</option>
                    <option value="40">样品</option>
                    <option value="41">夺宝机</option>
                </select>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  品类
			</span>
                <select class="easyui-combobox" name="product_type_name" id="product_type_name" style="width: 180px;"></select>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  产品型号
			</span>
                <input class="easyui-textbox" name="productName" id="productName"/>
            </div>
        </div>
        <a href="#" class="easyui-linkbutton" onclick="onSelect()"
           data-options="iconCls:'icon-search',plain:true">查询</a>
        <a href="#" class="easyui-linkbutton" id="resetBtn_dmmtlPbcsMtlMe"
           data-options="iconCls:'icon-save',plain:true" onclick="onExport()">导出</a>
    </form>
</div>
<div id="detailDialog" data-options="title:'',resizable:true,modal:true" class="easyui-dialog add-dlg"
     style="width:860px;height:300px;"
     closed="true" buttons="#dlg-buttons_detail">
    <div id="detailDiv" class="easyui-panel"
         style="width:100%;height:100%;"
         data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
		collapsible:false">
        <table id="detailgrid">

        </table>
    </div>
    <div id="dlg-buttons_detail">
        <!--<a href="#" class="easyui-linkbutton" onclick="createData()" iconCls="icon-ok">确认</a>-->
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#detailDialog').dialog('close')">关闭</a>
    </div>
</div>
<div id="LesStockId" style="display:none;padding:5px;width:900px;height:400px;" title="LES库存查询">
    <div id="stocklist" class="list" style="height:100%;overflow-y:auto ">
    </div>
</div>
</body>
<script src="../static/js/pop/common/pop.js"></script>
<script src="../static/js/stock/cbsBaseStockList.js"></script>
</html>