<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
 <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/static/third/bootstrap/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
    <!--<link rel="stylesheet" href="/static/third/adminlte/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">


    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
    <!--<link rel="stylesheet" href="/static/third/easyui/themes/insdep/insdep_theme_default.css">-->
    <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">


    <link rel="stylesheet" href="../static/css/common.css">
    <title>手动占用库存释放</title>
    <script src="../static/third/jquery.js"></script>
    <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/third/easyui/jquery.easyui.min.js"></script>
    <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
    <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/customConfig.js"></script>
    <script src="../static/js/easyui-extention_ws.js"></script>
    <!--<script src="/static/third/adminlte/js/app.js"></script>-->
    <script src="../static/js/i18n/zh_CN.js"></script>

</head>

<body class="iframe-body">

<div id="searchPanel_orderForecastGoal" class="easyui-panel"
     style="width:100%;height:100%;"
     data-options="iconCls:'glyphicon glyphicon-search',collapsed:false,
    collapsible:false">
    <table id="datagrid_orderForecastGoal"></table>
</div>

<div id="datagridToolbar_dmmtlPbcsMtlMeasure">
    <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_line fa fa-window-minimize"></div>
        <div class="slide_circle fa fa-map-marker"></div>
    </div>
    <form id="filterForm" class="param-form">
        <div class="search-panel">
            <div class="search-row">
			<span class="search-row-label">
			  库位编码
			</span>
                <input class="easyui-textbox" id="secCode" name="secCode"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  物料编码
			</span>
                <input class="easyui-textbox" name="sku" id="sku"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  	网单号
			</span>
                <input class="easyui-textbox" name="refNo" id="refNo"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  锁定数
			</span>
                <input class="easyui-textbox" name="lockQty" id="lockQty"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  开始日期
			</span>
                <input class="easyui-datebox" name="startTime" id="startTime"/>
            </div>
            <div class="search-row">
			<span class="search-row-label">
			  结束日期
			</span>
                <input class="easyui-datebox" name="endTime" id="endTime"/>
                <input id="start" name="start" type="hidden"/>
                
                <input id="size" name="size" type="hidden" />
            </div>
            
        </div>
        <a href="#" class="easyui-linkbutton" onclick="onQuery(1);"
           data-options="iconCls:'icon-search',plain:true">查询</a>
            <a href="#" class="easyui-linkbutton" id="cxhongzhi"
           data-options="iconCls:'icon-redo',plain:true" >重置</a>
           
        <a href="#" class="easyui-linkbutton" id="resetBtn_dmmtlPbcsMtlMe"
           data-options="iconCls:'icon-save',plain:true"  onclick="updateChannel();">更新渠道</a>
           <input name="pageIndex" id="pageIndex" type="hidden" value="1"/>
        <a href="#" class="easyui-linkbutton" id="addBtn_dmmtlPbcsMtlMeasure"
           data-options="iconCls:'icon-add',plain:true" >冻结库存</a>
    </form>
</div>
<div id="addDlg_dmmtlPbcsMtlMeasure" data-options="title:'',resizable:true,modal:true" class="easyui-dialog add-dlg"
     style="width:400px;height:300px;"
     closed="true" buttons="#dlg-buttons_dmmtlPbcsMtlMeasure">
    <form id="addForm_dmmtlPbcsMtlMeasure" method="post">
        <input name="id" type="text" style="display:none;">
        <input __acttype="" type="hidden" value="add">
        <div class="fitem">
            <label>库位编码</label>
            <input class="easyui-textbox" name="secCode" id="secCode" required="true">
        </div>
        <div class="fitem">
            <label>物料编码</label>
            <input class="easyui-textbox" name="sku" id="sku" required="true">
        </div>
        <div class="fitem">
            <label>占用数量</label>
            <input class="easyui-textbox" name="frozenQty" id="frozenQty" required="true">
        </div>
        <div class="fitem" style="width: 350px;">
            <label>网单号</label>
            <input class="easyui-textbox" disabled   name="refNos" id="refNos"  style="width:180px"  >
            <input type="checkbox" id="chebox" style="width: 30px" wdcheck>
        </div>
        <div style="width: 350px;" class="fitem" id="fitem" wdhwarn style="display: none">
            <div style="color: red">请输入网单号，以WD开头，长度不超过30</div>
        </div>
    </form>
    <div id="dlg-buttons_dmmtlPbcsMtlMeasure">
        <a href="#" class="easyui-linkbutton" id="addDlgSaveBtn_dmmtlPbcsMtlMeasure" onclick="onLock();" iconCls="icon-ok">确认</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="close_add_dialog()">关闭</a>
    </div>
</div>
<script type="application/javascript">
    var tableHead = '单据号\n' +
        '物料编号\n' +
        '库位编码\n' +
        '库位名称\n' +
        '占用数量\n' +
        '释放数量\n' +
        '操作人\n' +
        '占用时间\n' +
        '操作'

    var detailTh = ''

    var detail = {
        fit: true,
        fitColumns: true,
        singleSelect: true,
        rownumbers: true
    };

    


    $(function () {
        $("[wdCheck]").on("change", function () {
            var wd = $(this)
            if (wd.is(':checked')) {
                $("#refNos").textbox({disabled:false})
                $("#refNos").textbox("setValue","WD")

              $("[wdhwarn]").show()
            } else {
                $("#refNos").textbox({disabled:true})
                 $("#refNos").textbox("setValue","")

              $("[wdhwarn]").hide()
            }
        });


        
        
    })
  function close_add_dialog () {
    $("#refNos").textbox({disabled:true});
    $('#addDlg_dmmtlPbcsMtlMeasure').dialog('close');
  }

</script>
<script src="../static/js/stock/stockLockList.js"></script>
</body>
</html>