<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="../static/third/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/third/adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../static/third/font-awesome/css/font-awesome.min.css">


  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_animation.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/easyui_plus.css">
  <link rel="stylesheet" href="../static/third/easyui/themes/insdep/icon.css">


  <link rel="stylesheet" href="../static/css/common.css">
  <title>小家电多层级库位关系</title>
  <script src="../static/third/jquery.js"></script>
  <script src="../static/third/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/third/easyui/jquery.easyui.min.js"></script>
  <script src="../static/third/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
  <script src="../static/third/easyui/locale/easyui-lang-zh_CN.js"></script>
  <script src="../static/js/utils.js"></script>
  <script src="../static/js/customConfig.js"></script>
  <script src="../static/js/easyui-extention_ws.js"></script>
  <script src="../static/js/i18n/zh_CN.js"></script>

</head>

<body class="iframe-body">

<div id="storagesRela" class="easyui-panel" style="width:100%;height:100%;" data-options="iconCls:'glyphicon glyphicon-search',collapsed:false, collapsible:false">
  <table id="storagesRelaTable">
  </table>
</div>


<div id="datagridToolbar_dmmtlPbcsMtlMeasure">
  <div class="slide_up_span open" onclick="slideUpSlideClk(this);">
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_line fa fa-window-minimize"></div>
    <div class="slide_circle fa fa-map-marker"></div>
  </div>
  <form id="filterForm" class="param-form">
    <div class="search-panel">
      <div class="search-row">
        <span class="search-row-label">
          库位编码
        </span>
        <input class="easyui-textbox" name="code" id="code" />
      </div>
      <div class="search-row">
        <span class="search-row-label">
          库位名称
        </span>
        <input class="easyui-textbox" name="name" id="name" />
      </div>
      <div class="search-row">
        <span class="search-row-label">
          主库位编码
        </span>
        <input class="easyui-textbox" name="masterCode" id="masterCode" />
      </div>
      <div class="search-row">
        <span class="search-row-label">
          主库位名称
        </span>
        <input class="easyui-textbox" name="masterName" id="masterName" />
      </div>
      <div class="search-row">
        <span class="search-row-label">
          中心库位编码
        </span>
        <input class="easyui-textbox" name="centerCode" id="centerCode" />
      </div>
      <div class="search-row">
        <span class="search-row-label">
          中心库位名称
        </span>
        <input class="easyui-textbox" name="centerName" id="centerName" />
      </div>
    </div>
    <a href="#" class="easyui-linkbutton" id="searchBtn" data-options="iconCls:'icon-search',plain:true" >查询</a>
    <a href="#" class="easyui-linkbutton" id="addBtn" data-options="iconCls:'icon-add',plain:true">增加</a>
    <a href="#" class="easyui-linkbutton" id="editBtn" data-options="iconCls:'icon-edit',plain:true">修改</a>
    <a href="#" class="easyui-linkbutton" id="resetBtn" data-options="iconCls:'icon-redo',plain:true">重置</a>
  </form>
</div>

<div id="addDlg_storagesRela" data-options="title:'增加',resizable:true,modal:true" class="easyui-dialog add-dlg" style="width:420px;height:420px;"
     closed="true" buttons="#dlg-buttons_orderPriceSourceChannel">
  <form id="addForm_bigStoragesRela" method="post">
    <input name="id" id="id" type="hidden"/>
    <input __actType type="hidden"/>
    <div class="fitem">
      <label>中心库位<span style="color: red;">*</span></label>
      <input id="centerStorage" name="centerStorage" class="easyui-combobox" data-options="valueField:'id',textField:'text'" style="width: 134px;" required="true"/>
    </div>
    <div class="fitem">
      <label>主库位<span style="color: red;">*</span></label>
      <input id="masterStorage" name="masterStorage" class="easyui-combobox" data-options="valueField:'id',textField:'text'" style="width: 134px;" required="true"/>
    </div>
    <div class="fitem">
      <label>库位<span style="color: red;">*</span></label>
      <input id="storage" name="storage" class="easyui-combobox" data-options="valueField:'id',textField:'text'" style="width: 134px;" required="true"/>
    </div>
    <div class="fitem">
      <label>多级库位<span style="color: red;">*</span></label>
      <input id="mulStore" name="mulStore" class="easyui-combobox" data-options="valueField:'id',textField:'text',multiple:'true'" style="width: 134px;" required="true"/>
    </div>
    <div class="fitem">
      <label>是否主库<span style="color: red;">*</span></label>
      <select name="isMaster" id="isMaster" class="easyui-combobox" style="width: 134px;" required="true">
        <option value="0">主库</option>
        <option value="1">从库</option>
      </select>
    </div>
  </form>
  <div id="dlg-buttons_orderPriceSourceChannel">
    <a href="#" class="easyui-linkbutton" id="addDlgSaveBtn" iconCls="icon-ok">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#addDlg_storagesRela').dialog('close')">取消</a>
  </div>
</div>

<script type="text/javascript">
  function slideUpSlideClk(t) {
    var $this = $(t);
    if ($this.hasClass('open')) {
        $this.removeClass('open');
      setTimeout(function () {
          $this.addClass('close');
      }, 0);
      $(".search-panel").slideUp();
    } else {
        $this.removeClass('close');
      setTimeout(function () {
          $this.addClass('open');
      }, 0);
      $(".search-panel").slideDown();
    }
    setTimeout(function () {
      $('#dg').datagrid('resize');
    }, 500);
  }

</script>
<script src="../static/js/stock/storagesRela.js"></script>
<style type="text/css">

</style>
</head>
</body>
</html>