<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.eis.dao.eis.EisInterfaceDataLogDao">
	<resultMap id="eisInterfaceDataLogResult" type="com.haier.eis.model.EisInterfaceDataLog">
		<result property="id" column="Id" />
		<result property="interfaceCode" column="interface_code" />
		<result property="requestData" column="request_data" />
		<result property="responseData" column="response_data" />
		<result property="requestTime" column="request_time" />
		<result property="responseTime" column="response_time" />
		<result property="createTime" column="create_time" />
		<result property="responseStatus" column="response_status" />
		<result property="errorMessage" column="error_message" />
		<result property="foreignKey" column="foreign_key" />
		<result property="elapsedTime" column="elapsed_time" />
	</resultMap>
	<!-- <select id="get" parameterType="Integer" resultMap="eisInterfaceDataLogResult">
		select `Id`,`interface_code`,`request_data`,`response_data`,`request_time`,`response_time`,`create_time`,`response_status`,`error_message`,`foreign_key`,`elapsed_time`
		from `eis_interface_data_log`
		where `Id` = #{id}
	</select> -->
	<insert id="insert" parameterType="com.haier.eis.model.EisInterfaceDataLog">
		insert into `eis_interface_data_log`(`interface_code`,`request_data`,`response_data`,`request_time`,`response_time`,`create_time`,`response_status`,`error_message`,`foreign_key`,`elapsed_time`)
		values(#{interfaceCode},#{requestData},#{responseData},#{requestTime},#{responseTime},now(),#{responseStatus},#{errorMessage},#{foreignKey},#{elapsedTime})
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer" >
    SELECT LAST_INSERT_ID() 
    </selectKey>
	</insert>
	
	<insert id="insertAndReturnId" parameterType="com.haier.eis.model.EisInterfaceDataLog">
		insert into `eis_interface_data_log`(`interface_code`,`request_data`,`response_data`,`request_time`,`response_time`,`create_time`,`response_status`,`error_message`,`foreign_key`,`elapsed_time`)
		values(#{interfaceCode},#{requestData},#{responseData},#{requestTime},#{responseTime},now(),#{responseStatus},#{errorMessage},#{foreignKey},#{elapsedTime})
		<selectKey resultType="Integer" keyProperty="id" order="AFTER" 
		statementType="STATEMENT">select last_insert_id()</selectKey>
	</insert>
<!-- 	<update id="update" parameterType="com.haier.cbs.eis.entity.EisInterfaceDataLog">
		update `eis_interface_data_log` set `interface_code`=#{interfaceCode},`request_data`=#{requestData},`response_data`=#{responseData},`request_time`=#{requestTime},`response_time`=#{responseTime},`create_time`=#{createTime},`response_status`=#{responseStatus},`error_message`=#{errorMessage},`foreign_key`=#{foreignKey},`elapsed_time`=#{elapsedTime}
		where `Id` = #{id}
	</update> -->
</mapper>